[2020-08-05 01:27] stellaraccident opened #6 "Remove use of language features > 3.6"
Some 3.7+ language features snuck in and should be removed.

Traceback (most recent call last):
--
  | File "/work/.mmrepo/universe/github.com/llvm/mlir-npcomp.git/test/Python/Compiler/comparisons.py", line 3, in <module>
  | from npcomp.compiler import test_config
  | File "/work/build/npcomp_default/python/npcomp/__init__.py", line 5, in <module>
  | from . import tracing
  | File "/work/build/n

[2020-08-05 01:41] #6 closed

[2020-08-05 22:40] stellaraccident opened #11 "CMake error after recent update"
https://buildkite.com/iree/mlir-npcomp-standalone/builds/27#6fba062f-0357-4195-9d16-4daa9f651d75

CMake Error at /work/install/llvm-project/mlir-generic-rtti/lib/cmake/mlir/AddMLIR.cmake:187 (get_target_property):
--
  | INTERFACE_LIBRARY targets may only have whitelisted properties.  The
  | property "LINK_LIBRARIES" is not allowed.
  | Call Stack (most recent call first):
  | /work/install/llvm-

[2020-08-05 22:41] stellaraccident commented on #11
@stephenneuendorffer

I can look at this - just noting the failure for you.

[2020-08-05 22:42] stephenneuendorffer commented on #11
Sorry, thought I had fixed that.

[2020-08-05 22:47] stephenneuendorffer commented on #11
It's a quick fix, but it will take me an hour or so to fix it.

[2020-08-05 22:48] stellaraccident commented on #11
Thanks - no hurry. I think it's just you and me right now, and I'm busy on other things.

[2020-08-06 04:39] stephenneuendorffer commented on #11
FYI, the fix is in, but the buildkite server seems to be having issues.  Maybe disk full?

[2020-08-06 07:26] stellaraccident commented on #11
Indeed. Thanks for the fix. I'll check on the server tmw.

[2020-08-06 07:26] #11 closed

[2020-08-11 23:07] stephenneuendorffer opened #17 "Convert ATen.td to "let results =" style"
We generally prefer the "let results =" style vs Results inheritance, especially since you use the let-form for arguments.

Since the form you have it in seems consistent through the file, let's not change now. We can do a cleanup to the let form in a followup if desired.

_Originally posted by @stellaraccident in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-11 23:08] stephenneuendorffer opened #18 "Use Symbolic names for any operations that can't be automatically generated in ATen.td"
Any chance we could get actual symbolic argument names? Esp for BatchNorm which has a lot of parameters.

_Originally posted by @stellaraccident in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-11 23:34] stephenneuendorffer opened #19 "ATenPasses should use Tablegen'd pass registration"
ATen Passes are built using the old explicit registration patterns.  They should get updated to be consistent with other NPCOMP passes.

_Originally posted by @stellaraccident in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-12 01:25] stephenneuendorffer opened #21 "Automatically generated ATen ops need verifiers."
There doesn't seem to be anything in the verifier for the convolution ops that guarantees a particular rank here, so this could easily segfault/abort.

_Originally posted by @silvasean in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-12 01:36] stephenneuendorffer opened #22 "Generate better docs for ATenOps.td"
In general the doc for these ops is a bit terse right now, can you revisit these? Possibly linking to an official documentation page would be fine as well I guess.

_Originally posted by @joker-eph in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-12 01:38] stephenneuendorffer opened #23 "Perform cleanup of Type and Attribute Kinds for all dialects"
We have an in-npcomp type range that we should branch off of, but since these are being refactored away upstream, let's not bother updating this.

_Originally posted by @stellaraccident in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-12 01:50] stephenneuendorffer opened #24 "StatisticsOpInterface is ripe for refactoring"
This looks like a quite heavy type to return here.
It isn't clear to me what this is doing right now, but taking a StringMap (or better if possible a `DenseMap<StringRef. uint64_t>`) as output operand would allow to not realloc constantly by reusing the same map over and over from the call site.

_Originally posted by @joker-eph in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZW

[2020-08-12 02:05] stephenneuendorffer opened #25 "ATenLoweringPass only supports certain types in mangling."
TODOs and cleaned up comments with explanation of what isn't supported yet?
Probably we want a Type Interface that supports mangling.

_Originally posted by @stellaraccident in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3NDY1MzAzMTgx/pull_request_reviews/more_threads_

[2020-08-12 02:14] stephenneuendorffer opened #26 "Audit ATenLoweringPass for completeness of transformation"
Would you mind adding a comment describing the invariants, and conversions that are supported (and what is currently not supported).

_Originally posted by @stellaraccident in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-12 20:29] stephenneuendorffer opened #27 "Convert ATenLoweringPass (and others) to use OpConversionPattern"
Prefer to use an OperandAdaptor

_Originally posted by @stellaraccident in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3NDY1MzAzMTgx/pull_request_reviews/more_threads_

[2020-08-13 01:57] stephenneuendorffer opened #28 "ReturnEliminationPass needs unit tests"
do we have tests for this pass? I didn't see return-elimination in any tests.

_Originally posted by @silvasean in https://github.com/llvm/mlir-npcomp/pull/16_

[2020-08-13 02:02] stephenneuendorffer opened #29 "ATen passes expect a toplevel operation named 'graph'"
This should be generalized.

[2020-08-25 00:42] nick-furry opened #34 "Error while building project - Variable not defined: 'Shape_ExtentTensorType'"
I am trying to build mlir-comp and it fails with the following error:

`[27/126] Building TCPOps.h.inc...
FAILED: include/npcomp/Dialect/TCP/IR/TCPOps.h.inc
cd .../mlir-npcomp/include/npcomp/Dialect/TCP/IR/TCPOps.td:42:50: error: Variable not defined: 'Shape_ExtentTensorType'
  let arguments = (ins AnyRankedTensor:$operand, Shape_ExtentTensorType:$shape);

[2020-08-25 01:44] stephenneuendorffer commented on #34
Are you using the llvm hash in the git submodule?
https://buildkite.com/iree

[2020-08-25 02:01] nithin-nod commented on #34
I don't think so? Could you tell me how I can do that?

I think the following message while building (that I ignored) can have relevance here too:
`realpath: /home/nithin/nod/nod/src/compiler/nnc/nnc/tools/mlir_nrt/mlir-npcomp/build/iree/bindings/python: No such file or directory`

[2020-08-25 02:18] stephenneuendorffer commented on #34
'git submodule init'
'git submodule update'
This will result in an llvm tree in external/llvm-project.

Or you can just checkout the git hash that is referenced (currently c89e46e) in your preferred llvm location
You will need the mlir-hlo submodule, however.

[2020-08-25 03:46] nithin-nod commented on #34
I did initialize submodule inside mlir-npcomp and the above two errors persist.

[2020-08-25 17:02] stellaraccident commented on #34
The above errors look like a mismatched LLVM version but it is hard to tell without further details.

I just realized that the instructions in the README are slightly out of date with respect to the LLVM dependency (they reference what we had before switching to a submodule). I'm going to fix them in a little bit, but if you could confirm the following it would help.

This section should be remove

[2020-08-26 00:12] nithin-nod commented on #34
Thank you, your suggestion solved the error however I am still unable to build successfully because of the following error:
`./frontends/pytorch/csrc/aten_mlir_type_default.cpp:10:10: fatal error: 'ATen/CPUGenerator.h' file not found
#include <ATen/CPUGenerator.h>
         ^~~~~~~~~~~~~~~~~~~~~`
The file ATen/CPUGenerator.h isn't present in the recent source-compiled pytorch. However, I was able t

[2020-08-26 00:15] stellaraccident commented on #34
The PyTorch integration is very much not working out of the box yet. There are a couple of PRs pending that Stephen and I are working through. Also, the current dispatch approach is pegged to a strategy for an older version of PyTorch and we have work to do to upgrade.

[2020-08-26 00:17] nithin-nod commented on #34
Could you tell me which pytorch version mlir-npcomp is based of?

[2020-08-26 00:21] stellaraccident commented on #34
It is one of the 1.3 versions, but it is presently very version sensitive. The only version that it builds against is what is packaged/built as part of the docker image defined here: https://github.com/llvm/mlir-npcomp/pull/33/files

We're still working through getting this in a shape for general use and there aren't even presubmit builds for it yet.

[2020-08-26 00:24] nithin-nod commented on #34
Oh alright, got it. Thank you very much for all the information and prompt replies Stella.

[2020-08-26 01:43] stellaraccident commented on #34
You're welcome - we are actively working on this. It just isn't there yet and is suffering a lot from "works on my machine"...

[2020-09-03 22:28] powderluv commented on #34
@stellaraccident @stephenneuendorffer do you know what exact pytorch 1.3 SHA works on your system ? The Dockerfile just mounts an external pytorch directory but I couldn't locate the version.

[2020-09-03 22:49] powderluv commented on #34
nvm - I think I found the SHA from the implicit 19.10-py3 Docker version.

[2020-09-03 23:20] stephenneuendorffer commented on #34
Great!  if you use the docker image, you'll also have to rebuild pytorch as well.  I think some of the cmake bits are not installed properly out of the box. Let me know if you have questions.

[2020-09-04 02:38] powderluv commented on #34
Sounds good will keep you posted. Meanwhile have you tried with the latest Pytorch by any chance? We have some dependency on latest pytorch and have to use it for our runtime. Thx

[2020-09-04 02:48] stephenneuendorffer commented on #34
We're pretty sure it won't work.  Parts of the pytorch integration are generated from export information that is generated by pytorch.  This export information no longer has the same format, and there is a new mechanism for exporting information about the ATen interface.  The plan is to rebuild things around this new source of export information, which should be more stable.

[2020-09-09 20:39] ajarthurs opened #39 "Missing `_get_mlir` Python method binding in PyTorch Frontend"
Importing the PyTorch frontend complains of a missing `_get_mlir` method in the `_torch_mlir.so` binary. I am currently on `master` (81dd571c23d489e7cc59369bda484821f6f13d3c).
[code]
[code]

[2020-09-17 05:42] stellaraccident opened #46 "Legitimate failures when lowering pytorch to std (9 test failures)"
[code]

Sample of errors:

* `error: 'aten.relu_' op operand #0 must be tensor of any type values, but got 'memref<32x64x32x32xf32>'`
* `aten to loops conversion failed error: 'std.call' op 'native_batch_norm_4F32_1F32_1F32_4F32_1F32_1F32_1F32_1F32_out' does not reference a valid function`
* `error: unsupported or non-LLVM operation: aten.constant`
* `JIT session error: Symbols not found: [ _mlir_

[2020-09-17 06:19] stellaraccident opened #48 "Enable CI for PyTorch frontend"
The instructions in the README and docker image are now up to date. It would be nice to get the CI going for it. I'm not entirely certain how to adapt the LLVM install caching to building within a container.

We might want to wait too until we get closer to PyTorch head: I suspect we'll be successful then at just installing an appropriate version and building against it (and can forgo the containe

[2020-09-25 20:41] ajarthurs commented on #39
Related commit concerning c10 Python bindings: 0d9188596553e1129fddc94345fc821c8edecfc8

[2020-10-10 22:57] JehandadKhan commented on #39
Any workaround for this ?

[2020-10-13 22:52] stellaraccident opened #78 "Boxed kernel assertions"
RuntimeError: false INTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/core/boxing/impl/boxing.h":48, please report a bug to PyTorch. Tried to call KernelFunction::call() for a kernel that only has a boxed kernel and doesn't support calling from an unboxed API yet.

When hooking the dispatcher, not all kernels are supported with registration via a boxed fallback kernel. Need to special case/skip ma

[2020-10-13 22:53] stellaraccident opened #79 "Need to import unrecognized tensors as constants"
RuntimeError: TODO: implement tensor import for non-arg tensors

Will require building out DenseElementsAttr in the C/Python API.

[2020-10-13 23:02] stellaraccident opened #80 "RuntimeError: Unsupported capture value returned from kernel (Bool): True"
In test_export_conv2d_back.py:
[code]

[2020-10-16 00:20] stellaraccident commented on #78
Looked into this a bit and got a suspicion this was fixed last month @head by the batching work upstream. Updated to nightly and it went away.

[2020-10-16 00:20] #78 closed

[2020-10-16 04:44] #79 closed

[2020-10-16 04:44] #80 closed

[2020-10-16 13:28] ajarthurs commented on #39
Closing because more Python bindings (including `_get_mlir`) have been added to the PyTorch frontend, so this issue is no longer relevant.

[2020-10-16 13:28] #39 closed

[2020-10-17 00:34] stellaraccident opened #86 "Cannot intercept aten::conv2d when dispatching through backend keys"
When using a backend dispatch key (i.e. PrivateUse3), aten::conv2d calls are never recorded; however, when using AutogradPrivateUse3, they are (but this has other problems). conv is special in a number of ways and need to check with PT devs regarding how to resolve.

[2020-10-17 00:36] stellaraccident opened #87 "Full-size printouts of dense constants for real models is killing lit"
Unfortunately, we don't have the knobs exposed yet through the Python API to do abbreviated printouts.

[2020-10-29 00:38] harsh-nod opened #97 "Cannot export convolution with loss function"
I created a simple example as a stepping stone towards the backward pass. It builds on the conv2d forward pass and just adds the negative log likelihood loss.

[code]

When I try to run this on 30adf9e, I get the following error.

[code]

[2020-10-29 20:51] harsh-nod commented on #97
This seems to be happening because the NLLLoss op has an optional argument called weights that shows up as a c10::UndefinedTensorImpl::_singleton. If I specify the weight, then it works. See code below.

[code]

While this may work for now, what are your thoughts on handling undefined tensor values? Specifically for this case, the NLLLoss documentation describes the weight as

`
a manual rescaling

[2020-10-29 20:57] stellaraccident commented on #97
Thanks for the further triage. I just finished my meetings for today and was getting some coffee and sitting down to look at this.

I suspect that the issue is that I just haven't modeled optional semantics yet. Convolution has the same thing for biases, but it is still a special case in torch so I hand coded around it. There are a bunch of them with these optional semantics and I'll just implemen

[2020-10-29 22:29] harsh-nod commented on #97
That makes sense. Yes implementing optional semantics makes sense. I ran into it again while trying to export the EmbeddingBag op but was able to work around it but passing in the optional per sample weights.

I ran into some other issues while trying to export other models and will post them as separate issues.
Thanks again!

[2020-10-29 23:06] stellaraccident commented on #97
I've fixed this specific issue locally and just pushing on to some more examples that need a couple of other type mappings. Will send a fix soon.

[2020-10-29 23:44] stellaraccident commented on #97
Ok, got it mostly working:

[code]

[code]

Still need to fiddle with some registration/special case goo to intercept the backward convolution path before it goes to mkldnn.

[2020-10-30 00:06] stellaraccident commented on #97
Actually, there is a problem with the above model. It is not differentiating relative to the params, but even when fixed we see the same problem where attempting to return the gradients is causing memorization (see %34 above). I'll need to trace some more.

[2020-10-30 18:57] harsh-nod commented on #97
Awesome. That looks pretty good. I took a look at the code and saw how you handled optional tensors

[code]

which makes sense. My question is if I were lowering this to the ATen nll_loss op, then would I have to add the default value myself? I looked at the IR for the undefined ivalue and it looks like

[code]

If you contrast this to the IR when we pass the weight argument to nll loss you get

[

[2020-10-30 21:04] stellaraccident commented on #97
So the issue, as I understand it is that this is not a "default value" in the normal sense of signatures - it is a true optional. This is similar to how biases for conv are handled: as an optional, which when absent, result in the additions not being done. Same here (but for a multiplier I think). So the problem with just hard-wiring it to a default tensor value is that we lose information: the lo

[2020-10-30 21:07] stellaraccident commented on #97
So, that example I did wrong and was differentiating relative to the input (which makes no sense, was just hacking). I did fix it to differentiate relative to the weights and uncovered the issue: subsequent ops are seeing the gradient tensor and materializing it as a constant and returning that (i.e. memorizing). It has something to do with tracking the mutable tensors, and I just need to fix it b

[2020-10-30 21:49] stellaraccident opened #100 "Specific test for bool const tensors"
I suspect that the AcapDispatch code for materializing a const bool tensor may have some issues, but we lack the facilities to exercise it properly. Add a test specifically for this at the appropriate point.

[2020-10-30 23:33] harsh-nod commented on #97
Makes sense. The source of confusion for me was that the documentation implies the presence of a default value but in retrospect the optional nature of the computation makes more sense. I do agree that hard-wiring a truly optional value to a default tensor value loses semantic information that could increase the amount of work the compiler has to do further downstream.

Thanks for clarifying this.

[2020-10-31 00:40] harsh-nod opened #102 "Incorrect IR when using the cat operator"
Here is a simple example showing the problem. The python code is shown below.

[code]

This results in the following output.

[code]

The problem with this output however is here
[code]

because the build_list op is referencing %12 and %13 when they don't exist yet. When I feed this to npcomp-opt, I get

[code]

Manually moving the definition of %8 after the definition of %12 and %13 fixes the pro

[2020-10-31 03:31] stellaraccident commented on #97
A mixture of the two. The vast majority have very simple implementations, and for that I envision a straight-forward DSL, not unlike the spirit of derivitives.yml to specify/generate them. A subset, of which all things conv always fall in to, will need custom work. Often times, the backward pass of such ops is somewhat algorithmic and numerically unstable in ways that can be hard to make fully gen

[2020-10-31 05:59] stellaraccident commented on #102
Thanks! Yes, indeed, there is an insertion point problem. Should be an easy fix.

[2020-10-31 06:01] stellaraccident commented on #97
#103 fixes this. Example IR below:

[code]

[2020-10-31 06:02] stellaraccident commented on #97
The way the convolution backward stuff is modeled is funny (as expected): we may need to tweak it over time.

[2020-11-02 18:27] harsh-nod commented on #97
Sounds good. Do you have any references to these standard fallback algorithms?

Regarding the backward graph, that looks good. The *_backward makes sense (nll_loss2d, log_softmax, convolution) but I don't see why there should be calls to the copy operator. Does that make sense to you?

This brings up a general question of how to verify the accuracy of the backward pass (and by extension the forwar

[2020-11-02 18:50] stellaraccident commented on #97
The ones that I am the most familiar with are the [decompositions that TensorFlow uses to map to XLA](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/tf2xla/kernels), and I usually go fishing in there for inspiration (if not outright code re-use). For backwards pass reading material, I have found that the original [Autograd](https://github.com/hips/autograd) project has qu

[2020-11-02 19:21] harsh-nod commented on #97
As for direct implementations, PyTorch's derivatives.yaml often references reference kernels for the complicated things and a quick peek at the code is pretty approachable (i.e. _convolution_double_backward is just a C function that you can read as is slow_conv_transpose3d_backward).

Thanks! Will take a look at those.

You can also do other verifications like FileCheck of key transformations, etc

[2020-11-02 19:23] stellaraccident commented on #97
[code]

Yes, something like this, but I'm working on it right now. The signature forms and kernels enabled by fixing this issue are not fully supported yet in the lowerings. Stay tuned... should have this landed today/tomorrow.

[2020-11-02 19:26] harsh-nod commented on #97
Will do. Thanks again!

[2020-11-02 23:38] harsh-nod commented on #102
I managed to fix this issue atleast in the context of this example. Please take a look at the PR https://github.com/llvm/mlir-npcomp/pull/105 and let me know what you think.

[2020-11-03 00:38] harsh-nod commented on #102
I uploaded a new patch which addresses your comments. In addition to your changes, I also had to modify one of the unit tests because the basic_list op location had changed.

[2020-11-03 00:46] #102 closed

[2020-11-03 22:02] harsh-nod opened #106 "Cannot export model with torch.arange"
Below is a simple python script that reproduces the issue.

[code]

When I try to run this, I get the following output.
[code]

The error states that there is no fallback kernel defined for this op (arange.start_out). But I noticed that in type_dispatch/aten_mlir_type_default.cpp there is a function RegisterAtenTypeFunctions that registers arange.start_out

[code]

But the error also states that I

[2020-11-03 23:36] harsh-nod opened #107 "Cannot export model with Adadelta"
Here is a simple python script that reproduces the issue.

[code]

When I run this, I get the following output.

[code]

Any ideas on what could be causing this?

[2020-11-03 23:45] stellaraccident commented on #107
Not off-hand, no. I have a special printf-ified pytorch install that I can run it through and see what pops out.

Thanks for pushing on these things. I'm going to finish my current patch to get the previous examples into ATen and then look at this one.

[2020-11-04 03:29] stellaraccident commented on #97
The above patch needs some more cleanup, which I will do tomorrow, but it produces the following now:

[code]

[code]

Still some work to do on the copy_ op, which I may opt to do in a way that we need to eventually generalize to all of the inplace ops.

[2020-11-04 18:39] harsh-nod commented on #97
That is starting to look really nice :)

[2020-11-05 00:53] harsh-nod commented on #106
I came up a simpler test case.

[code]

It seems that even though the dispatch is going to the fallback kernel, when in the dispatcher::callBoxed function, the dispatchKey is c10::DispatchKey::Undefined which means that pytorch is unable to find a boxed implementation for this op. It seems like we might have to implement this op just like you implemented the copyUnderKernel. What do you think?

[2020-11-05 01:05] stellaraccident commented on #106
Thanks - I believe that this gets routed to the "backendSelect" dispatch key, which is used for kernels that don't have tensor arguments (a heuristic on tensor arguments is what drives dispatch key selection). I know roughly what goes on there but this is the first I've run in to fixing it. I've got a version of PyTorch that dumps all of the dispatch metadata, which helps in these "where'd the ker

[2020-11-05 19:57] harsh-nod commented on #97
I was looking at this in a little more detail and had a bunch of questions.

1. What was the motivation behind the torch.kernel call? In the example above, it looks like there is a 1-to-1 mapping between the torch kernel call and the aten call with the exception that the torch kernel call operates on n-d arrays while the aten call operates on tensors? Was it for representing mutable vs immutable t

[2020-11-05 20:32] stellaraccident commented on #97
Let me proof out answers here, and then I suspect all of this would be good for a rationale (there was a discourse thread a while back...)

Two reasons, both philosophical (with practical implications): a) In prior work, we have generally preferred "entry dialects" that are isomorphic with the source and preserve the ability to roundtrip, and b) the ATen dialect is actually an opinionated lowering

[2020-11-05 21:00] harsh-nod commented on #97
Thanks - this gives me a lot more clarity on what's going on and how it fits in to what we're trying to do. Yes a call would be great. I will send out an email with more info.

[2020-11-12 22:49] stellaraccident commented on #106
This appears to be a specific problem with kernels that have out parameters: aten::arange.start_out(Scalar start, Scalar end, Scalar step=1, *, Tensor(a!) out) -> (Tensor(a!))

The sequence on the stack is not as expected and something is getting inverted.

[2020-11-12 23:12] stellaraccident commented on #106
Actually, looking at blame logs, may have been fixed two days ago (yay for procrastination). Rebasing and seeing...

[2020-11-13 01:46] stellaraccident commented on #107
Boxed dispatch of these out-ref containing functions (which addcmul.out is) is actively getting attention upstream, and I'm inclined to wait a bit and rebase vs doing another special purpose carve-out. How critical is this to you to have right now?

[2020-11-13 05:44] harsh-nod commented on #107
This was one of those things that came out of a toy example so not on the critical path yet. Feel free to wait for upstream on this and if this finds its way on the critical path I will let you know. Thanks again!

[2020-11-13 06:07] #107 closed

[2020-11-25 02:52] phoenix-meadowlark opened #135 "ModuleBuilder represents torch.cos with a constant"
The MLIR generated for `torch.cos` via `ModuleBuilder` ignores `%arg0`. Instead, it returns a constant with the result of `torch.kernel_call "aten::mm" %arg0` for the `%arg0` used during `capture_function`.

This can be reproduced with the code below or via `python3 frontends/pytorch/examples/cos_e2e.py` after https://github.com/llvm/mlir-npcomp/pull/134 is submitted.

[code]

[code]

[2020-12-07 23:48] silvasean opened #138 "Problems with Torch graph bindings"
Running into an issue

[code]

1. For some reason, on my system pybind11.h is in two places, and despite our efforts in the CMakeLists.txt file the non-torch one seems to get used for the torch bindings

[code]

2. Even after I fix that by manually commenting out the necessary CMakeLists.txt lines, I get the same issue. Unclear why.

[2020-12-10 22:04] raikonenfnu opened #139 "MLIR generated using saved/cached loss tensors instead of loss operand"
Aim: Tracing the computation graph of 1 iteration of training from pytorch to mlir using modulebuilder.

Models tried: simple conv mnist model, dlrm, and a very simple 2 layer fully connected network.

Current status: Forward pass works great! but for the backward pass, it uses the loss tensors generated during the trace.

Way to spot:
We can see that the operand assigned to the loss computed is o

[2020-12-11 01:02] silvasean commented on #139
Symptom seems similar to https://github.com/llvm/mlir-npcomp/issues/135

Likely same issue of having the tracing dispatch priorities wrong and not intercepting at the right point.

[2020-12-14 00:37] stellaraccident commented on #138
Ok, I created an isolated repro of the issue and tracked down the root cause. Repro repository here: https://github.com/stellaraccident/ptbindrepro

For these cross module types to work, the computed ABI string for pybind11 using modules must match. The main variable keys that go into the ABI string are (see detail/internals.h):
  `PYBIND11_COMPILER_TYPE`: (_gcc vs _clang)
  `PYBIND11_STDLIB`: (_l

[2020-12-14 00:52] stellaraccident commented on #138
Ok, so the compile flags to match how FaceBook builds its binaries are:

[code]

We should definitely have either a configure option or auto-detection for that.

[2020-12-14 00:59] stellaraccident commented on #138
Looks like `-fabi-version` was never implemented for clang (https://reviews.llvm.org/D12598). Here are the actual flags that work for GCC vs clang:

[code]

[2020-12-14 01:09] stellaraccident commented on #138
Also note that the pybind upgrades to allow these things to be twiddled only landed on Oct-16 (to support PyTorch). Binaries distributions older than that will not work.

https://github.com/pybind/pybind11/pull/2602

[2020-12-14 23:27] silvasean commented on #138
I still seem to be hitting this. Is there some version of PyTorch pip / pybind11 that I need to update to?

[2020-12-14 23:34] stellaraccident commented on #138
Darn. I did just do a clean build in a fresh python environment.

[code]

Also double check that you don't have a system package for pybind11 installed (should be fine but I didn't test it and the version on most Ubuntus is pybind ABI version 3, whereas PyTorch is at 4 and will definitely conflict if it gets it wrong).

[2020-12-14 23:49] silvasean commented on #138
Looks the issue is that I was in an october version of the nightly pytorch packages.

This fixed it:

[code]

Yay, thanks!

(so I don't think that folks getting started would run into this; it's just an artifact of me having an out of date nightly on my machine)

[2020-12-14 23:49] #138 closed

[2020-12-14 23:53] stellaraccident commented on #138
Yes - buried in my rambling above was the caveat that this was just fixed in pybind11 on Oct-16 and shortly thereafter in pytorch.

[2021-01-23 00:43] stellaraccident opened #150 "Make enabling asan easier"
Dumping here repro steps that got asan working on a ubuntu 20.04 system. The default way that LLVM handles this does not seem to play well with shared libraries.

[code]

The issue with naively attempting it was as noted here: https://github.com/google/sanitizers/issues/796#issuecomment-294282364

I suspect that when building with clang, there should be a `-shared-libsan` on appropriate link lines

[2021-01-23 00:57] stellaraccident opened #151 "Rename 'master' branch to 'main'"
Following the work done in the rest of the org. This project is small enough that I don't think it requires special coordination. I'll make the change sometime in the next couple of days.

[2021-01-29 08:26] xuanhuo opened #154 "ninja check-npcomp failed"
when I run  ninja check-npcomp, there are some erros :

Testing Time: 2.29s
  Unsupported:  1
  Passed     :  2
  Failed     : 74
FAILED: test/CMakeFiles/check-npcomp-lit

why?

[2021-01-29 16:09] mikeurbach commented on #154
Hi @xuanhuo, can you provide some more details about how you are setting up the project? Are you using the steps from here https://github.com/llvm/mlir-npcomp#build-instructions, using the Docker container, etc.?

[2021-02-01 00:50] xuanhuo commented on #154
Thank you @mikeurbach, I didn't use Docker, just used command from “Vanilla - numpy-only, no pytorch”

[2021-02-01 08:19] xuanhuo commented on #154
@mikeurbach I'd like to docker pull stellaraccident/npcomp:build-pytorch-1.3, I found it's very very slow

[2021-02-01 18:47] mikeurbach commented on #154
@xuanhuo If you can, I think using the docker image will be the easiest way to have a consistent build environment.

However, if you want to use the setup from "Vanilla - numpy-only, no pytorch", it should work. In order to help, we'd need more information about your development environment: what OS version, what CC/CXX compiler version, whether CMake reported any errors when you ran `./build_tool

[2021-02-02 02:16] xuanhuo commented on #154
@mikeurbach I'd like to use setup from "Vanilla - numpy-only, no pytorch" because I have failed to download the docker image maybe the network is not stable.
my development environment as below：
OS version ： Ubuntu 18.04
CC/CXX version : 7.5
There's not any errors when I ran./build_tools/cmake_configure.sh
There are many errors when I ran ninja check-npcomp
root@R6S1:/home/wda/2021/mlir-npcomp/bui

[2021-02-02 22:32] mikeurbach commented on #154
@xuanhuo I tried to reproduce these errors with a fresh download of mlir-npcomp, following those same instructions. I didn't encounter the same issue. My setup:

[code]

As you can see, I am using clang version 11.0.1 from last December. When you say your CC/CXX version is 7.5, do you mean clang or gcc? The instructions make it seem like the supported CC/CXX is clang-10 here: https://github.com/ll

[2021-02-03 01:03] xuanhuo commented on #154
@mikeurbach thank you very much, I misunderstood what you mean. I used CC/C++ is clang 10.0.0. I downloand clang from https://releases.llvm.org/download.html and it's the Pre-Built Binaries.
I have one question about` export LDFLAGS=-fuse-ld=$(which ld.lld-$LLVM_VERSION)`
If I used clang-10.0.0, there is no ld.lld-10.0.0, there is just ld.lld. so I have changed ` export LDFLAGS=-fuse-ld=$(which ld

[2021-02-03 01:23] stellaraccident commented on #154
This is a symptom of the `TypeID` dynamic linking odr violation issue, and basically another indication that the libMLIR machinery does not work. I should change npcomp to just use BUILD_SHARED_LIBS mode until we can fix it more appropriately -- although we have anther bug report on macos that that is broken as well. I will need to spend some time staring at this tomorrow. It is concerning that th

[2021-02-03 02:09] xuanhuo commented on #154
@stellaraccident Thank you very much

[2021-02-19 04:24] raikonenfnu opened #163 "Embedding Bag Tracing bug"
Hey everybody,

I am trying to trace a network with embedding bag in it but I found some bug during backward pass(**aside** from caching of tensors). So when computing the gradient it tries to do some index_add ->cumsum_ -> resize and then index_select but I think it's missing a step of reducing the value after cumsum_ by 1 because when it tries to do index select it goes above the size of the vec

[2021-02-19 09:29] ryotatomioka opened #164 "Make required PyTorch version clear"
With PyTorch nightly (1.9.0.dev20210216) installed via conda, I get the following error
[code]

I could do a bisection but it would be better if you could point me to a version that is known to work. Thank you!

[2021-02-19 10:10] byronyi commented on #164
Is this fixed in #158?

[2021-02-19 18:21] raikonenfnu commented on #164
Looks like this error shouldn't appear after that, because https://github.com/llvm/mlir-npcomp/pull/158/files
actually change  "m.impl_UNBOXED("convolution", &AcapController::convolutionKernel);" to m.impl(("convolution", &AcapController::convolutionKernel);
@ryotatomioka Can you try with top of master?

[2021-02-21 19:43] powderluv commented on #48
Fixed in https://github.com/llvm/mlir-npcomp/pull/166

[2021-02-22 06:17] xuanhuo commented on #154
Did you have fixed it?

[2021-02-22 14:04] stellaraccident commented on #154
I have not yet been able to repro this issue. Can you provide more details about your operating system and installed software?

[2021-02-23 12:15] ryotatomioka commented on #164
@byronyi yes thanks the issue is resolved.

[2021-02-23 12:15] #164 closed

[2021-02-23 12:19] ryotatomioka commented on #164
@raikonenfnu this message seems to be outdated?
https://github.com/llvm/mlir-npcomp/blob/c424c24ed8330483ebe91fe7f1001e57243e3561/frontends/pytorch/csrc/builder/acap_dispatch.cpp#L197

[2021-03-09 07:28] byronyi commented on #86
Could https://github.com/pytorch/pytorch/pull/23562 be relevant?

[2021-03-12 20:10] silvasean commented on #17
New ATen dialect generator does this. Closing.

[2021-03-12 20:10] #17 closed

[2021-03-12 20:10] silvasean commented on #18
New ATen dialect generator does this. Closing.

[2021-03-12 20:10] #18 closed

[2021-03-12 20:12] silvasean commented on #22
New ATen dialect generator does this. Closing.

[2021-03-12 20:12] #22 closed

[2021-03-12 20:12] silvasean commented on #23
MLIR doesn't require special ranges for kinds anymore.

[2021-03-12 20:12] #23 closed

[2021-03-12 20:15] silvasean commented on #34
The project has now graduated slightly past "it works on my machine" and our build/docs are more robust (though still not perfect). I haven't seen these issue crop up for anybody in months, so closing this bug.

[2021-03-12 20:15] #34 closed

[2021-03-12 20:15] #48 closed

[2021-03-13 02:38] silvasean commented on #151
Done at some point.

[2021-03-13 02:38] #151 closed

[2021-03-15 21:41] stellaraccident opened #189 "Use `BUILD_SHARED_LIBS` instead of `LLVM_BUILD_LLVM_DYLIB`"
On https://github.com/llvm/circt/pull/767, they were experiencing some of the same issues we have intermittently observed with respect to effects of `TypeID` multiple definition issues resulting in equality of types being dependent on which shared library does the check.

It is my belief that the way that `libLLVM.so`/`libMLIR.so`/`libNPCOMP.so` are "over-linked" (and order inverted on the link co

[2021-03-15 21:41] stellaraccident commented on #189
I suspect this would also fix issues like this one, which we have not been able to track down: https://github.com/llvm/mlir-npcomp/issues/154

[2021-03-16 00:46] mikeurbach commented on #189
FYI I tried making this change just for grins, and found there were a few places where the linker was missing symbols. At the very least, this will require making sure the libraries are all linked appropriately in CMake. In our experience with CIRCT, once missing (and potentially circular) dependencies are resolved in CMake, the BUILD_SHARED_LIBS option should just work:tm:

I don't have time to l

[2021-03-17 05:02] amaliujia opened #192 "Building in the docker container: ninja: error: loading 'build.ninja': No such file or directory"
I have followed the instruction:
1. Setup docker container [1]. Done
2. In docker container, do Command prep [2]. Done and without a problem.
3. Try either vanilla compile or PyTorch Frontend compile, running `./build_tools/cmake_configure.sh` is fine. But then both give me:

`ninja: error: loading 'build.ninja': No such file or directory`

Do you have a recommendation how does this ninja error ca

[2021-03-17 23:00] amaliujia commented on #192
cc @stellaraccident

Hi Stella,

Can you give a suggestion?

[2021-03-17 23:18] silvasean commented on #192
Do you have a log you can share? That would help debug this. It seems like maybe CMake failed.

[2021-03-17 23:23] amaliujia commented on #192
@silvasean thanks. Let me re-produce locally and share whatever log I can find

[2021-03-17 23:40] amaliujia commented on #192
I figured out offline.

So for docker env I should use `--build /build/npcomp` to which cmake_configure.sh writing build files. However I actually used `--build build` which should be used in non-docker env.

Thanks @silvasean for your help anyway!

[2021-03-17 23:40] #192 closed

[2021-03-19 18:16] raikonenfnu opened #195 "Trailing for "add_" not working"
Hey guys,

I tried updating to this [patch](https://github.com/llvm/mlir-npcomp/commit/703428eff42310714878f331442e6e912d1fe461)
but when I tried tracing with acap_dispatch, it seems to still be using "add" instead of "add_". I have a small unit test and the output that is generated as attachment
[add_test.zip](https://github.com/llvm/mlir-npcomp/files/6173279/add_test.zip)
. Any help/comments wou

[2021-03-19 18:58] silvasean commented on #195
That's an artifact of how pytorch runs the code. It's not something we have control over. In this case, they use the "out" param version of add (4 operand) instead of the "inplace" (add_) aten kernel.

[2021-03-27 03:58] alphaRGB opened #196 "From _torch_mlir import _get_mlir ERROR"
I have successfully build the llvm, mlir , and pytorch front, generate the  _mlir and _torch_mlir *.so file.  And I have add thems into PATHPYTHON .   But when I test, there exist some error:

Import Error
[code]

The `_torch_mlir` module can be import successfully in python,  I have test `help(_torch_mlir)`  and `type(_torch_mlir) `in python, but the printed result not found `_get_mlir` function.

[2021-03-31 13:52] alphaRGB commented on #196
Thank you, This can be run.   I have a question that why the data type of torch-mlir is represented as np.ndarray, not tensor<x x x f32> directly ?

[2021-03-31 21:02] silvasean commented on #196
Tensor is not mutable.

[2021-04-07 04:15] ailzhang commented on #86
Hmmm I probably didn't fully get what you meant by "when using AutogradPrivateUse3 instead of PrivateUse3, aten::conv2d is recorded". IIRC those two keys are only different in the sense that one has autograd related setup in its kernel and the other doesn't.
Do you want to get aten::conv2d (the decomposed ops from convolution) or a generic convolution here?

[2021-04-13 06:08] #196 closed

[2021-04-15 15:30] mikeurbach commented on #189
FYI I took this plunge last night.. Should have a PR today.

[2021-04-15 16:58] stephenneuendorffer commented on #189
I also tend to link with libLLVM.so, but end up statically linking MLIR because libMLIR.so is challenging to use.   I'm a little concerned that BUILD_SHARED_LIBS isn't the right way to go either for deployment scenarios (at least with the current structure) because there are so many shared libraries, and hence shared-library boundaries.  The real key with all of the TypeID problems is that there n

[2021-04-15 21:32] mikeurbach commented on #189
I use BUILD_SHARED_LIBS, and made the PR above to show how I needed to update npcomp to enable that.

If we don't want to switch from BUILD/LINK_DYLIB to BUILD_SHARED_LIBS, I think I can at least keep the addional dependencies in the first commit of that PR, and only link in libMLIR when the flag is set to build it. That should allow npcomp to keep using the DYLIB flags as the recommended/tested a

[2021-04-16 02:41] stellaraccident commented on #189
I would just switch to `BUILD_SHARED_LIBS` exclusively and trust that we can come up with a more supportable way to build an aggregate shared library before needing to hard block on this. I'm more concerned that the more I dig into libLLVM/libMLIR the more I find that it is UB waiting to happen (and often, actually happening). The way that it overlinks by linking to the shared library first (viola

[2021-04-19 18:21] mikeurbach commented on #189
In this case, I believe this is implemented in the linked PR. I'll request both of you as reviewers and we can hash it out over there.

[2021-04-27 18:58] silvasean opened #211 "[TorchToLinalg] Test/implement more cases of torch.nn.functional.linear for"
We added support in https://github.com/llvm/mlir-npcomp/pull/209 for some limited cases:
- bias is present
- 2d input
- same dtype for all tensors

Adding test cases / implementing support / verifying that they work for these other cases would be welcome.

Test cases likely would involve calling torch.nn.functional.linear directly (instead of using torch.nn.Linear):
https://pytorch.org/docs/master

[2021-06-07 16:58] tbennun opened #216 "Participate in NPBench"
First of all, awesome project!

It would be interesting to see the results of the NPComp infrastructure vs. other python compilers, such as Numba, on scientific python apps. [NPBench](https://github.com/spcl/npbench) has a wide variety of HPC and computational science apps written in numpy. It'd be great if you had an implementation/results there!

[2021-06-08 17:01] silvasean commented on #216
Thanks for the information! We probably won't be participating for a while, because our [roadmap](https://github.com/llvm/mlir-npcomp/blob/main/docs/roadmap.md) has pivoted towards PyTorch support as a first priority, and we are likely to come back around later and layer the vanilla Python/numpy compiler on top of the infrastructure we build for that.

Thanks for the link to NPBench though!!! It s

[2021-07-02 03:25] hunbssfy opened #244 "No module named 'torch_mlir'"
Hello!

I am just trying to go through build instructions in the README. I built Pytorch Frontend in docker container following the instructions and then installed IREE via pip3 install. But When I try to run the e2e test targeting the IREE backend I got the following error:
[code]
Could anyone help me? I think I didn't miss any instructions in the README...

[2021-07-02 05:28] byronyi commented on #244
You need to set the env variables in `.env`.

[2021-07-02 06:02] hunbssfy commented on #244
Hey byronyi,

Could you elaborate a little? my .env file is like this rn:

![image](https://user-images.githubusercontent.com/6930027/124227980-10b9cf00-db3e-11eb-81e8-96a36d0116ca.png)

[2021-07-02 06:32] hunbssfy commented on #244
And Do I need to run this 'Vanilla NumPy-only build' step:
![image](https://user-images.githubusercontent.com/6930027/124230796-11ecfb00-db42-11eb-9f12-c643f018d56e.png)
If I do, I don't think the ninja command works because there is no ninja file generated from the configuration step, I got this error:
![image](https://user-images.githubusercontent.com/6930027/124230933-3ba62200-db42-11eb-88e2-e7

[2021-07-02 17:58] silvasean commented on #244
Hi @hunbssfy , can you try using `tools/torchscript_e2e_test.sh` -- I recently changed the invocation method to that from a raw python invocation.

I fixed the docs here: https://github.com/llvm/mlir-npcomp/commit/c289d83407951e6d8ec654ebbafb3e4c6e4202f9

[2021-07-05 02:52] hunbssfy commented on #244
Hello @silvasean, I tried using `tools/torchscript_e2e_test.sh` but it still gives the same error:

![image](https://user-images.githubusercontent.com/6930027/124411441-1f42f900-dd7f-11eb-86a9-b15f5c79ee7a.png)

[2021-07-07 02:21] hunbssfy commented on #244
Relly need some help here to get this test running. Anyone could help me a little?

[2021-07-07 03:59] stellaraccident commented on #244
It looks like the PYTHONPATH env variable is not set (just having it in the .env file doesn't do anything for your shell). Try exporting that in a way that is convenient.

(Sorry for delays - several of us who work on this are on vacation and afk)

[2021-07-07 05:49] hunbssfy commented on #244
Hello stellaraccident:

Thanks for the reply! I think my PYTHONPATH env variable is set to the directory containing the built python package (torch-mlir), here is it:
![image](https://user-images.githubusercontent.com/6930027/124706482-f01cbb00-df29-11eb-9a66-c141a2a3707e.png)

And here is what's under the directory of `/build/npcomp/python/`. Am I setting the correct PYTHONPATH?

[2021-07-07 06:50] hunbssfy commented on #244
Hi stellaraccident,

Well I added `torch_mlir` and `mlir` 's import path to the sys.path in main.py manually under e2e_testing, and it worked. Here are the test results I got:
![image](https://user-images.githubusercontent.com/6930027/124712875-6b826a80-df32-11eb-855d-b994e033f521.png)
Is this normal? And what does Expectedly Failed mean?
And the strange thing is I still cannot import torch_mlir o

[2021-07-07 06:51] stellaraccident commented on #244
Without seeing any details (like what is in the directory), it appears that at least the torch part of the project didn't build: the missing import is just a python file that should be symlinked into the build tree -- that's not even the native library, so no funny business: just python.

Look closely at the cmake output and make sure it is enabling the torch integration when it builds.

[2021-07-07 06:53] stellaraccident commented on #244
Sorry to be pedantic, but did you *export* the PYTHONPATH or just set it? It looks like python isn't seeing the env var.

[2021-07-07 07:30] hunbssfy commented on #244
You were right I didn't export the PYTHONPATH. Thanks!

About the test results though are those 'Expectedly Failed' tests supposed to fail at the moment?

[2021-07-07 15:55] stellaraccident commented on #244
https://llvm.org/docs/TestingGuide.html#constraining-test-execution

It is a standard way in llvm to Mark a test that is known to be failing or not yet supported in some configuration.

[2021-07-07 17:46] silvasean commented on #244
Hi @hunbssfy , I'm really sorry about the difficulty here. I recently ran into this exact same PYTHONPATH export issue when hooking up the CI and addressed it in https://github.com/llvm/mlir-npcomp/commit/ef118eb1e12797ea55ea3f89a9411ad44d4f848b

Just running torchscript_e2e_test.sh should now "just work" even if you don't have your PYTHONPATH exported.

[2021-07-08 03:02] hunbssfy commented on #244
@silvasean Thanks for the correction! It works now.

[2021-07-12 06:09] wwwwcu opened #248 "Bugs of tcf::ConvNCHWOp"
Right now I'm learning the source code. And I saw the following code in [TCFToLinalg.cpp:67](https://github.com/llvm/mlir-npcomp/blob/main/lib/Conversion/TCFToLinalg/TCFToLinalg.cpp#L67)
[code]
According to [PyTorch conv2d document](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html)
I think it might be:
[code]
I'm just started learning PyTorch and MLIR things? I'm not sure if I'm corr

[2021-07-12 09:42] hunbssfy opened #249 "Error when running example scripts"
Hi,

I am trying to run example scripts under `frontends/pytorch/examples` but I got two kinds of errors:

1. When I am running scripts using `capture_function`, I got:
![image](https://user-images.githubusercontent.com/6930027/125265451-70328e80-e337-11eb-84ec-027ff9b162c3.png)
the same error occurs when I run `cos_e2e.py, div_inplace_e2e.py, mm_e2e.py, mul_maximum_e2e.py, tanh_out_e2e.py`. Could

[2021-07-12 11:19] hunbssfy commented on #244
@silvasean , I have another question:
I am trying to invoke the example scripts under `frontend/pytorch/examples`, now this one:
`# -*- Python -*-
# This file is licensed under a pytorch-style license
# See frontends/pytorch/LICENSE for license information.

import torch
import torch_mlir

import npcomp
from npcomp.compiler.pytorch.backend import refjit, frontend_lowering
from npcomp.compiler.util

[2021-07-12 11:19] #244 closed

[2021-07-12 15:05] cathyzhyi commented on #249
Hey Maxi, you didn't miss any steps.
For the first error, the short answer is that `aten.cos.out` is not supported yet. In order to support this, we need to update [torch_ods_gen.py](https://github.com/llvm/mlir-npcomp/blob/89d4931324589bf75ed088e98888ff21fe7cd41e/frontends/pytorch/python/torch_mlir_utils/codegen/torch_ods_gen.py#L401) and run `build_tools/update_torch_ods.sh` to generate the ods

[2021-07-13 02:37] hunbssfy commented on #249
@cathyzhyi
Hello Cathy,
Thanks for the reply! Is there any code submission similar to this kind of operator support that I can take a look at? Just want to get to know the whole lowering pass :)

[2021-07-13 17:11] cathyzhyi commented on #249
Hey Maxi,  I can't find a good example of one single PR containing all the supports for one operator but you could use `aten::relu` as an example. Running `build_tools/update_torch_ods.sh` generates a file called `JITOperatorRegistryDump.txt` which contains all the operators with schema. You can find `aten::relu` and `aten::cos.out` in there.  After that, you could try to follow example of `aten::

[2021-07-20 03:43] hunbssfy commented on #249
@cathyzhyi
Hello Cathy,

1. What is your current status and plan for supporting the common deep learning models? For example, Resnet 50. I see that there is a Resnet18 test case (torchscript e2e test) but it fails during the lowering phase (I am using IREE backend). And I see that silva is working on supporting the Resnet model here: https://github.com/llvm/mlir-npcomp/pull/212
2. Are you consider

[2021-07-20 05:59] stellaraccident commented on #249
Sean and Cathy can comment on their roadmap for supporting more models -- it is being actively worked on.

Regarding (2) - I am working this month on the python deployment machinery so that both npcomp and iree can be easily installed and the intent is that this will allow npcomp to use iree as a backend directly by regular users. It may take some iterations to get right as these are complicated d

[2021-07-20 06:31] hunbssfy commented on #249
Great to know that, looking forward to it becomes more usable!

[2021-07-21 18:15] cathyzhyi commented on #249
yea, we are working on making Resnet18 work which is one of the targets in the [Q3 roadmap](https://github.com/llvm/mlir-npcomp/blob/main/docs/roadmaps/2021Q3.md). Most of the recent PRs are relevant to this item.

[2021-07-22 06:50] hunbssfy commented on #249
Right! I'll keep an eye on the progress :)

[2021-07-22 06:50] #249 closed

[2021-07-27 03:45] amaleewilson commented on #154
I'm getting the same errors.

[code]

Followed the build directions exactly. On macOS Catalina. Tried using Apple clang, also tried building clang and libcxx with mlir and using those. Same issue no matter how I do it. Any idea how to fix this?

[2021-07-27 05:53] stellaraccident commented on #154
I believe we finally have a comprehensive fix for this issue ready to land. It is in two parts:

* Upstream: https://reviews.llvm.org/D106520
* npcomp: https://github.com/llvm/mlir-npcomp/pull/251

Fixing this completely required a complete re-engineering of the way that the upstream C/Python API builds were done and is rather involved. Hoping to land the upstream change tomorrow, and then will re

[2021-07-27 23:49] stellaraccident commented on #189
We're now using the new build setup with completely static/hidden linkage.

[2021-07-27 23:49] #189 closed

[2021-07-28 00:27] stellaraccident opened #254 "Crashes and issues on MacOS"
Now that #154 is resolved, we get further on MacOS, exposing a couple of other issues. Tracking them here.

[2021-07-28 00:27] stellaraccident commented on #154
The root issue reported here has been fixed at head. There are a couple of other downstream issues for MacOS that I am fixing separately (it never got this far before and they were latent). Closing this one and continuing on #254.

[2021-07-28 00:27] #154 closed

[2021-07-28 00:28] stellaraccident commented on #254
* NPE after an aligned_alloc that MacOS sometimes returns nullptr on.
* Test fragility doing a string match on something that evaluates/prints -0.0

[2021-07-28 00:33] stellaraccident commented on #254
Need to update docs. Here was my setup procedure:

[code]

With patches, the first is clean and the second has three issues that seem Torch version/platform related.

[2021-07-28 00:44] stellaraccident commented on #254
[code]

Needs a patch to a .so -> .dylib suffix for the refbackend runtime library. Also, Torch reports this error a lot, which crashes the test framework: `RuntimeError: Didn't find engine for operation quantized::linear_prepack NoQEngine`. Moved the offending setup code into the test exception handler to at least proceed. The result is that most integration tests pass.

[2021-07-28 00:50] stellaraccident commented on #254
@amaleewilson This should fix your issues.

[2021-07-28 00:51] stellaraccident commented on #254
Fixed via https://github.com/llvm/mlir-npcomp/pull/255

[2021-07-28 11:03] hunbssfy opened #257 "Torch Lowering Path Question"
Hello guys,

I have been reading code about graph lowering path, basically, the path is as follow:
Torchscript -> Translate into Torch MLIR Dialect -> Lowering into Linalg(computation ops)/Std(Basic ops)/SCF(loops/control flow) -> call IREE backend

Could someone give me some basic rationale about this path, Why directly lower down to Linalg instead of to HLO as there are optimization paths that c

[2021-07-28 12:52] hunbssfy commented on #257
And I noticed mlir-hlo is an external submodule of this project, it was added in this PR:
https://github.com/llvm/mlir-npcomp/pull/20

Is there going to be any dependency on mlir-hlo?

[2021-07-28 13:27] stellaraccident commented on #257
We need to remove the mlir-hlo submodule. It is orphaned at this point.

The current direction is focused on exiting via linalg because that is the
level that, for the backends we are co-developing, are optimized and
general. There isn't anything incompatible with folks contributing
additional exits via some HLO dialect (mhlo, tosa, etc), but that would
probably be more for the integration value w

[2021-07-28 17:59] amaleewilson commented on #254
It did, in fact, fix the issues! Thank you!

[2021-08-02 14:22] silvasean commented on #248
Quick update here. We are now directly going from Torch to Linalg. The currently used code is in https://github.com/llvm/mlir-npcomp/blob/93816ee21a89f4331d5610e3a85732dfecc9f854/lib/Conversion/TorchToLinalg/TorchToLinalg.cpp#L183 -- can you see if if has the same bug?

We will probably delete TCF sometime soon.

[2021-08-02 15:01] silvasean commented on #257
I have a long overdue presentation on the rationale for this backend layer / lowering path... give me some time.

[2021-08-02 15:09] silvasean commented on #249
FWIW, the .out variants are likely best handled in ReduceOpVariants. They can all be systematically handled there.

[2021-08-03 02:44] hunbssfy commented on #257
Thanks, stellar. for the detailed explanation... I am taking some time to watch the talk you mentioned.

[2021-08-03 08:54] hunbssfy opened #266 "Error when building npcomp in docker"
There are two problems I ran into today after fetching the latest code:

1. When I run `cmake --build /build/npcomp --target check-npcomp check-frontends-pytorch
` in docker environment following README.md in the top directory, I got:
![image](https://user-images.githubusercontent.com/6930027/127985888-abf9df78-d425-4ebc-99ee-c7e16242491c.png)
This used to work and there used to be directories und

[2021-08-03 21:57] silvasean commented on #266
I just refreshed the instructions: https://github.com/llvm/mlir-npcomp/commit/a153cf4ef26216590a95cad5d5600bbbd5e0dda5

Can you give them a try? If not, can you include the full logs with the errors?

[2021-08-04 01:15] silvasean commented on #248
So, I deleted TCF and TCP recently. Hope that helps avoid any confusion.

[2021-08-04 07:52] hunbssfy commented on #266
@silvasean
Hi, I just tried the newest commit and both commands seem to go through. Although I am running a custom-built IREE and e2e test failed, I'll have a look at the tests myself, Thanks!

[2021-08-05 03:36] hunbssfy commented on #266
Hi @silvasean,

About the failed tests yesterday... I started a fresh docker and built npcomp, I installed iree (not my custom built one) via pip. But the tests still failed:

![image](https://user-images.githubusercontent.com/6930027/128286832-62b29b6a-7078-45f4-a88d-cfb1327ca774.png)

Maybe the newest commits caused this?

[2021-08-05 14:07] cathyzhyi commented on #266
Currently IREE backend is failing because their llvm version is older and doesn't match the one used by NPCOMP.  If you add -v you will see the failure is because `builtin.module` can't be recognized. The op is the result of recent MLIR refactoring and the older MLIR  used by IREE is not aware of this op.

[2021-08-05 17:35] silvasean commented on #266
The latest IREE has the fix for builtin.module. This is the current list I see locally (will update xfail sets soon)

[code]

[2021-08-05 17:52] cathyzhyi commented on #266
Ha, seems `ResNet18Module_basic` passed with IREE as well?

[2021-08-05 18:28] silvasean commented on #266
yep :)

[2021-08-06 07:37] edimetia3d opened #271 "Is it possible to build npcomp with a prebuilt llvm-project ?"
Hi,

I'm thinking to contribute some build feature to the npcomp cmake build script, and want some advice before doing it.

Here are our problem.

We developed a  project Foo, which will use mlir's python binding from a modified llvm-project, this llvm-project is updated with upstream, and shipped  to us as a prebuilt library.
Now , we want also to use npcomp in our project, but the current build

[2021-08-06 15:36] marbre commented on #271
What you have in mind sounds similar to what the [standalone example](https://github.com/llvm/llvm-project/tree/main/mlir/examples/standalone) does. This is also how [emitc](https://github.com/iml130/mlir-emitc) is build (the dialect is already available upstream but some remaining parts are not). I am not sure if there is anything special about the python bindings, but what you have in mind shoul

[2021-08-06 17:23] silvasean commented on #271
We used to build that way, but just changed away from it. @stellaraccident can weigh in on the cost of supporting the configuration you propose.

[2021-08-06 19:53] stellaraccident commented on #271
Python based MLIR projects are special (not special from a Python sense): you can't have a stable configuration where you have binary C++ dependencies across packages. While it can be arranged with some effort for intimately connected projects, trying to just smash two projects together is not going to work. The way this is headed is that the `import mlir` in npcomp will go away and it will just b

[2021-08-06 19:56] stellaraccident commented on #271
One thing to remember is that MLIR's python API is not a "product": It is a tool for building products that happens to be built as part of MLIR for in-tree demo purposes. NPCOMP is currently set up as a product that is used on its own. It can be organized better for use as a library for building other things, but that is all work that hasn't been done yet.

[2021-08-09 02:44] edimetia3d commented on #271
@marbre @silvasean @stellaraccident

This problem seems more complicated than I thought.
I will conduct a more in-depth investigation on your information in these days, before I will reply.

Many thanks

[2021-08-10 09:18] edimetia3d commented on #271
@stellaraccident

## Our case is like this.
We have implemented our own out-of-tree dialect Foo and a backend to lower Foo to machine code.
Now we want to leverage npcomp's pytorch frontend, so we could just add some code to convert the Torch dialect to Foo dialect to support pytorch, it's like the code below

[code]

So, like you advised , Foo depends on both llvm-project and npcomp,  both projec

[2021-08-12 01:51] #195 closed

[2021-08-12 01:52] #139 closed

[2021-08-12 04:03] stellaraccident commented on #271
Ok, so I understand clearly: either your Foo project needs to use npcomp's dialects or npcomp needs to be able to somehow include Foo and its transformations. And they all depend on llvm-project. Correct?

For including npcomp C++ code in another project, we can fairly easily do what others have done and let npcomp be included either standalone or as an LLVM_EXTERNAL_PROJECT into Foo. Then you jus

[2021-08-12 16:13] edimetia3d commented on #271
Ok.

Things are indeed more complicated than I thought :sweat_smile: . I'll check IREE and the LLVM discussion to find more.

I guess it's better to get my things to work locally first for now and learn more about MLIR/LLVM to catch up with the community.

Thanks again.

[2021-08-12 16:26] stellaraccident commented on #271
There is no shame in patching something together and then talking about that. It's not that hard to make these things work for a one off when you can copy files around and script around the build a bit. The project infra is just really young and needs more time to evolve.

[2021-08-16 09:28] hunbssfy opened #280 "Resnet 18 iree path"
Hello,
I substituted refjit backend with iree backend in torchscript_resnet18_e2e.py:
[code]
I know this probably won't run successfully ... But worth a try, I got this error:
![image](https://user-images.githubusercontent.com/6930027/129540578-f935da78-38e9-4f79-a213-a3d9e2db2395.png)

I also ran the iree-translate command alone (I copied the instruction from the last line of the screenshot above

[2021-08-16 17:07] silvasean commented on #280
Can you try using the latest IREE? The first error is a known error that was fixed recently. Not sure about the second.

[2021-08-16 18:35] silvasean commented on #280
I just ran into the hal.constant_pool.load issue myself. It was pointing at an opaque constant dumped by the reproducer. Do you have large_elements_limit on your get_asm call? If you do, then removing it should fix the issue.

I will try to make IREE give a better diagnostic for this.

[2021-08-17 03:46] hunbssfy commented on #280
Hello Sean, Thanks for the answer!

I upgraded to the latest iree-runtime-snapshot and iree-compiler-snapshot from https://github.com/google/iree/releases/tag/snapshot-20210816.466 and the first error is gone. Could you point me to the patch which fixed this problem so that I can merge it into my custom iree project?

As for the second error, I also changed to the lastest iree snapshot and I dropp

[2021-08-17 18:26] silvasean commented on #280
The first error was fixed by https://github.com/google/iree/issues/6629

For debugging the second, can you file an IREE bug with appropriate starting IR and iree-translate command to reproduce? I don't think this is npcomp-specific. (feel free to add me on that bug, I work actively with IREE as well)

btw, I'll be on vacation for the next week, but I'll respond right as I get back

[2021-08-18 02:28] hunbssfy commented on #280
Sure, Thanks!

[2021-08-22 22:25] stellaraccident opened #284 "LLVM bump needs upstream patches and local changes."
As part of pulling some other work in, I had to do an llvm bump which will require some more work. I'll be out, however, so if someone else can take over both the upstream and local patch, it would be appreciated.

Local: https://github.com/llvm/mlir-npcomp/pull/283
Upstream: https://reviews.llvm.org/D108527

[2021-08-23 03:26] #284 closed

[2021-08-23 03:27] stellaraccident opened #287 "ResNet18 takes minutes to compile on refback."
This is in a Release with asserts (-UNDEBUG) build. Without asserts, it is maybe 3x faster but still quite slow. Testing against the refback so not sure how much we care.

[2021-08-23 04:01] stellaraccident commented on #271
I'm going to go ahead and re-open this because it has a good record of work that needs to be done.

[2021-08-23 04:03] stellaraccident commented on #271
On the python side, the npcomp distribution now consists of namespace packages, and it embeds the MLIR Python API vs including it side by side. That wasn't the highest priority thing needed but was important to goals I have.

[2021-08-23 04:59] hunbssfy commented on #266
@silvasean Do you know which patch in iree fix the builtin.module issue?
![image](https://user-images.githubusercontent.com/6930027/130392699-ce5ba3ec-45c5-4fbd-b30e-e0f84386612d.png)

[2021-08-23 05:12] stellaraccident commented on #266
It's an asm format change from upstream. It will have come in via an iree submodule bump. We don't track such unstable changes between releases.

[2021-08-25 06:29] hunbssfy commented on #266
@stellaraccident Thanks, I'll just update upstream version directly.

[2021-08-25 06:29] #266 closed

[2021-08-27 03:51] hunbssfy opened #291 "Question about AdjustCallingConventionsPass"
Basically, this pass changes calling conventions for FuncOp/CallOp/ReturnOp. And In the pass description, it says this pass "Adjusts the calling conventions of functions in the module, with the aim of preparing them for backends and further lowering passes."
Is there a standard calling convention of functions for backends and this standard is the aim of this conversion? If there is, where is it de

[2021-08-27 23:55] silvasean commented on #254
Yeah, it looks like we can close it. We can make a new, more specific bug if any more Mac issues arise.

[2021-08-28 04:23] dan-garvey commented on #249
@hunbssfy btw resnet_18 to iree now works, just edit the  frontends/pytorch/examples/ script and set iree as backend.

[2021-08-30 03:00] hunbssfy commented on #291
@silvasean Thanks for the explanation!
So the whole point of this pass is adjusting the FuncOp/CallOp/ReturnOp calling convention, is that right? So we are to only change these parts of the IR and not meddle with the rest.

For example, in the FunOp signatures, when non-value semantic tensors with `type_bound` attribute are changed to value semantic tensors with type modifiers, it is because we ne

[2021-08-30 07:31] hunbssfy commented on #249
Yeah, I did the same modification and it works :)

[2021-08-30 17:18] silvasean commented on #291
Yes, it is just for adjusting calling conventions -- it doesn't change the internal code of the module, only the external calling conventions. Practically, right now IREE only accepts the MLIR builtin "tensor" type, so converting to value semantic tensors is necessary (and we bubble that up to users, because we need to make sure that users are not relying on non-value semantic tensors -- it's easy

[2021-08-31 02:33] hunbssfy commented on #291
Thanks, Sean, I got a rough understanding of this pass. I think I'll keep looking at later passes to get a better understanding.

[2021-08-31 02:33] #291 closed

[2021-08-31 11:52] hunbssfy opened #295 "Question about RefinePublicReturnPass"
This pass is fairly simple: it gives `return` ops in public functions a refined type and changes its non-value semantic tensor operands to value semantic tensors.

My question is about pass descriptions in the table gen file:
it says:

Why this change doesn't cause ABI mismatches? it also says:

Is there an example of this kind of ABI definition?

[2021-08-31 16:58] silvasean commented on #295
In most systems, `!torch.vtensor<[?,?],f32>`, `!torch.vtensor<[3,3],f32>` and
`!torch.vtensor` are all the same data structure on calling
convention boundaries. For example, in IREE, they are all passed as hal.buffer_view. That's why it's ok to refine the static type, since it doesn't cause ABI mismatches.

[2021-09-01 11:40] hunbssfy commented on #295
And the caller and callee will produce the same ABI even if they have different `vtensor` representation (say caller has shape/type information but callee doesn't). `vtensor` will always be lowered to `hal.buffer_view` and because the argument type isn't changed, the ABI matches. Is this logic right?

[2021-09-01 11:40] #280 closed

[2021-09-01 11:41] #257 closed

[2021-09-01 11:43] hunbssfy commented on #295
Is it possible that there could be some kind of Attribute when altered, could change the result of the function signature and cause ABI mismatch?

[2021-09-01 17:10] silvasean commented on #295
Correct.

It is possible. I try to avoid function attributes (for `std.func`). If we actually need something that is semantically load-bearing it is better to define `torch.func` that knows about it rather than attaching a random attribute to `std.func`.

[2021-09-19 19:26] stellaraccident opened #311 "Re-layout torch_mlir Python packages"
I think we have a bit more cleanup to do of the python namespaces to get them in better shape. Just dumping issues I see here:

* Let's claim the top-level `torch_mlir` namespace and put everything in there:
  * `torch_mlir.dialects.torch`
  * `torch_mlir.dialects.torch.importer.fx` <-- New stuff Ramiro is working on
  * `torch_mlir.dialects.torch.importer.torch_ir` <-- Python bits currently direc

[2021-09-19 19:28] stellaraccident commented on #311
Sorry for the churn on this: it took a bit of iteration to get a feel for how all of these namespaces can fit together, especially across projects, etc.

[2021-09-19 19:37] stellaraccident commented on #311
Also we should fix the design issue noted here upstream: https://github.com/llvm/mlir-npcomp/blob/c24ca5d6398f246a82c25e8cd4ca461a58b29182/external/torch-mlir/python/CMakeLists.txt#L44

Not only will it make the binaries smaller, but I estimate that it will reduce the number of files to compile to ~low hundreds, putting this firmly in the realm of something that is not *that* onerous to distribute

[2021-09-20 16:53] silvasean commented on #311
Thanks stella. will get on this asap

[2021-09-21 16:29] #311 closed

[2021-09-23 02:21] cathyzhyi opened #324 "i64 tensor argument support for refbackend"
`GatherModule_basic`  need this to pass. See https://github.com/llvm/mlir-npcomp/pull/323.

[2021-09-24 16:01] #324 closed

[2021-09-30 17:23] silvasean opened #342 "Push for BasicBertSequenceClassification_basic E2E"
@gpetters94 @dan-garvey @cathyzhyi (pls add others)

Creating this bug to centralize task tracking on getting BasicBertSequenceClassification_basic working after https://github.com/llvm/torch-mlir/pull/341 lands. BERT is a milestone model to run -- let's do this!

@cathyzhyi can you post an updated todo op list here? Folks please indicate which ops/bugs you are working on so we don't step on each

[2021-09-30 18:01] cathyzhyi commented on #342
Sure! Thanks for opening this issue. Will provide the list for us to collaborate soon.

[2021-09-30 21:49] cathyzhyi commented on #342
I summarized the ops that need to be implemented from the [IR output](https://gist.github.com/cathyzhyi/8744f903bc402ae45ea68086f0673d52) into this list. Each one of us could grab the ops and update the status accordingly.

For the status column:
`-` unimplemented <br>`+` started <br>`X` finished
num | op | status| owner | notes
------------- | ------------- | ------------- | ------------- | -----

[2021-10-04 19:00] #19 closed

[2021-10-04 19:00] #21 closed

[2021-10-04 19:00] #24 closed

[2021-10-04 19:00] #25 closed

[2021-10-04 19:00] #26 closed

[2021-10-04 19:00] #27 closed

[2021-10-04 19:00] #28 closed

[2021-10-04 19:00] #29 closed

[2021-10-04 19:00] #46 closed

[2021-10-04 19:01] #86 closed

[2021-10-04 19:01] #87 closed

[2021-10-04 19:01] #97 closed

[2021-10-04 19:01] #100 closed

[2021-10-04 19:01] #106 closed

[2021-10-04 19:01] #135 closed

[2021-10-04 19:01] #150 closed

[2021-10-04 19:01] #216 closed

[2021-10-04 19:01] #271 closed

[2021-10-04 19:01] #287 closed

[2021-10-04 19:01] #295 closed

[2021-10-06 03:45] silvasean opened #352 "TorchToLinalg for AtenConv2dOp does not emit error guards"
It needs to check that the contracting dimensions are the same size.

[2021-10-06 05:18] gpetters94 commented on #342
Okay, I'll take `ones`.

 num 	op 	status 	owner 	notes
 1 	aten::dropout 	-
 2 	aten::embedding 	+ 	cathyzhyi
 3 	aten::gelu 	-
 4 	aten::layer_norm 	X 	cathyzhyi 	[PR346](https://github.com/llvm/torch-mlir/pull/346)
 5 	aten::matmul 	-
 6 	aten::softmax.int 	-
 7 	aten::permute 	-
 8 	aten::rsub.Scalar 	-
 9 	aten::slice.Tensor 	-
 10 	aten::select.int 	-
 11 	aten::view 	-
 12 	aten::ones 	+ 	g

[2021-10-06 17:45] silvasean commented on #342
quick note: for softmax, we probably want to decompose it into `softmax(x, dim) => tmp=exp(x); tmp / reduce(tmp, dim, keepdim=True)`
https://pytorch.org/docs/stable/generated/torch.nn.functional.softmax.html

I would recommend adding a pass lib/Dialect/Torch/Transforms/DecomposeComplexOps.cpp (there are many others like this -- and eventually we will want to automate this, such as by deriving the

[2021-10-12 17:57] sogartar commented on #342
Hi, recently joined nod.ai's team. I will implement the GELU activation.

[2021-10-13 19:46] sogartar opened #361 "Implementation of GELU operation"
I am implementing the GELU operation and its lowering from torch to torch-mlir.

The GELU pytorch implementation seems to do the computation entirely and does not split it into computational graph sub-components. The CPU implementation uses C++ `std::erf` in a formula. The CUDA implementation calls `normcdff` from the CUDA Toolkit to calculate directly the entire CDF.
Pytorch has `erf` function in

[2021-10-13 20:06] #361 closed, assigned to sogartar

[2021-10-13 21:23] cathyzhyi commented on #342
@sogartar @gpetters94 you folks should be able to update the table in https://github.com/llvm/torch-mlir/issues/342#issuecomment-931729772 now.

[2021-10-14 17:05] Shukla-Gaurav commented on #342
Hi, I recently joined nod.ai's team. I will take care of `aten.view` op. How can I edit the list?

[2021-10-14 17:08] pashu123 commented on #342
I will take `aten::matmul` op.

[2021-10-17 15:58] ramiro050 opened #365 "Push for Bert, MaskRCNN and Resnet-18 E2E support using Lazy Tensor Core"
The purpose of this bug is to help keep track of tasks needed to have E2E support for `Bert`, `MaskRCNN`, and `Resnet-18` using the Lazy Tensor Core (LTC) and lowering through `torch-mlir`.

At the moment, the main part that is missing is op support in LTC. Below is a table of the LTC ops needed. The list of ops was determined by running two scripts: this [MaskRCNN script](https://github.com/ramir

[2021-10-18 17:38] silvasean commented on #365
Awesome. Just as an FYI, I'm working on plugging torch-mlir into LTC.

[2021-10-22 04:13] stellaraccident opened #370 "Project should be built with `set(CMAKE_PLATFORM_NO_VERSIONED_SONAME ON)`"
Without this option, versioned .so files are produced on Posix, and when included in Python wheels, are stored double.

[2021-10-25 18:31] #370 closed, assigned to nobody

[2021-10-25 19:56] stellaraccident opened #379 "Regression in TOSA conversion"
[code]

Came in as part of integrate and marking as xfail.

[2021-10-25 20:45] #379 closed, assigned to nobody

[2021-10-26 08:57] ds1231h opened #380 "Unsupported by backend lowering: `torch.operator` op"
I’m new to the torch-mlir, and I’m trying it with a simple op, but met such error:

    note: see current operation: %41 = “torch.operator”(%38, %40) {name = “aten.maximum”} : (!torch.tensor<[?,?],f32>, !torch.tensor<[?,?],f32>) → !torch.tensor
    note: this is likely due to a missing op that needs to be generated by torch_ods_gen.py
    Traceback (most recent call last):
    File “/torch-mlir/ex

[2021-10-27 03:08] silvasean opened #382 "TorchDialect.cpp, TorchToLinalg.cpp taking a long time to compile"
These hurt developer velocity by being on the critical path of edit/compile/run cycles.

TorchToLinalg.cpp could be split along op categories:

- view-like
- elementwise/broadcast_to ops (consider moving BatchNorm here too)
- constructor ops (zeros, ones, ...)
- contracting ops (reduce/conv/pool/matmul/etc.)

For TorchDialect.cpp I'm not sure what is the exact source of the issue (TorchOps.cpp mig

[2021-10-28 15:07] strint opened #388 "Build got error: no member named 'graph' in 'torch::jit::Function'"
Try to build torch-mlir main branch on Ubuntu 20.04.2 LTS with:
[code]

But got error as follows:
[code]

Need some hint to fix it. Thanks!

[2021-10-28 18:12] #388 closed, assigned to silvasean

[2021-10-29 23:54] dan-garvey commented on #380
@ds1231h Should have pr up tonight or tomorrow = )

[2021-10-30 09:24] ds1231h commented on #380
Great! Thanks!

Actually, I found these op are pretty frequently:
[code]
Is there any plan to support them? @silvasean

[2021-11-01 14:28] cathyzhyi commented on #380
Thanks for collecting the list! Currently we are actively working on this [list](https://github.com/llvm/torch-mlir/issues/342#issuecomment-931729772) and will start this [list](https://github.com/llvm/torch-mlir/issues/365#issue-1028365785) soon. `torch.tensor.expand` (aten::expand) is being implemented by @Shukla-Gaurav. We haven't got anyone actively working on the rest of the ops yet.

[2021-11-01 14:43] ds1231h commented on #380
I see. Thanks!

This op list is collected from the actual business of SenseTime, which might be searched from the open-mmLab/mmdetection(https://github.com/open-mmlab/mmdetection).

For practical needs, our group plans to complete the conversion from PyTorch to MLIR through torch-mlir.

If you do not have such a plan to support that, I would like to add them by myself. I hope to have the opportuni

[2021-11-01 18:39] cathyzhyi commented on #342
@gprateek93 @gpetters94 @pashu123 don't forget to update the table if your PRs are merged

[2021-11-02 01:07] ds1231h commented on #380
Thanks a lot! I would follow your advice and try the ```torch.where, prim.abs, and torch.reshape``` firstly :)

As for the ```sort/unique/nonzero```, I intend to finish the first three operators before dealing with them.  (Maybe in another issue, I guess)

Thanks again!

[2021-11-03 07:44] ds1231h commented on #380
Hi @dan-garvey, Thanks for your pr #398
I've merged your changes(without dropout op) in my environment and tried the IouOfModule again, but I got such an error:
[code]
Was I missing something?

Actually, I'm not sure what's the ```was explicitly marked illegal``` means.

[2021-11-03 18:51] dan-garvey commented on #380
No you didn't miss something, my patch just isn't quite finished yet, will try to get your case covered in the next upload, and I'll let you know when its covered if you want to try before its merged

[2021-11-03 19:18] silvasean commented on #380
This is a message from MLIR Dialect Conversion framework https://mlir.llvm.org/docs/DialectConversion/

We use Dialect Conversion to implement the TorchToLinalg transformation. To do that, we mark the op "illegal" so that dialect conversion will call the pattern to legalize it.

[2021-11-05 02:15] ds1231h commented on #380
Thanks! Looking forward to it. If there is anything I can do, please let me know.

[2021-11-05 09:43] ds1231h commented on #380
Thanks for your answer. I understand that now.

[2021-11-05 12:17] pashu123 commented on #382
@silvasean I think this: https://github.com/onnx/onnx-mlir/tree/master/src/Conversion/ONNXToKrnl would be a good reference point for splitting across op categories.

[2021-11-09 15:57] silvasean commented on #382
I looked, and -op-include-regex isn't necessarily the best for us right now. See https://bugs.llvm.org/show_bug.cgi?id=52447

[2021-11-09 17:56] Eliasj42 commented on #365
@silvasean Hi, I just started working with the nod team.  Is there any way I could get editing permissions for this issue?

Thanks

[2021-11-09 18:48] silvasean commented on #365
Done

[2021-11-10 00:52] silvasean opened #409 "TorchToStd.cpp is out of date"
A lot of the patterns there should be moved to a new TorchToArith.cpp conversion, now that arith dialect was split out of std.

[2021-11-10 04:20] stellaraccident commented on #409
Can we just call all of these ConvertToTheDialectFormerlyKnownAsStandard :)

(Rip Prince)

[2021-11-10 04:34] stephenneuendorffer commented on #409
I've submitted a unicode community request to reserve a symbol for "TheDialectFormerlyKnownAsStandard".  Design ideas would be appreciated.

[2021-11-10 07:41] ds1231h commented on #380
hi @cathyzhyi
I tried transform AtenSelectIntOp to AtenSliceTensorOp follow your comment, but got a segment fault.
And My code in DecomposeComplexOps.cpp is:
[code]
It seems something wrong in ```rewriter.create```, but it's a bit difficult for me to trace that error.
Is there any advice?
Thanks a lot.

[2021-11-10 07:53] ds1231h commented on #380
More specifically, any help about pointing out the problem immediately or any debugging method for MLIR would appreciate a log!

[2021-11-10 10:46] ds1231h opened #410 "Support for clamp (min=numpy.ndarray, max=numpy.ndarray)"
Hi,
I met a pattern like this:
[code]
And I got this error:
[code]

It seems we only have the Scalar version for clamp:
[code]
Do you have any plan to support the tensor version?
Or if could you help me to add that pattern?

[2021-11-10 13:36] ds1231h commented on #410
Btw, I found another op ```aten.reciprocal```.
Shall I use the ```arith::DivFOp```to implement that?

[2021-11-10 15:34] cathyzhyi commented on #380
@ds1231h In the `DecomposeComplexOps` pass, we are decomposing torch ops to simpler torch ops so  you can't use std dialect like this `Value endValue = rewriter.create<mlir::arith::AddIOp>(loc, indexValue, oneValue);`.  https://github.com/llvm/torch-mlir/pull/398 is still in draft state but it contains all the main parts needed.

[2021-11-10 15:56] cathyzhyi commented on #410
Yea, it's an elementwise op that can be implemented by using `arith::DivFOp` in the compute payload.

[2021-11-10 16:55] vivekkhandelwal1 commented on #365
@silvasean Hi, I have started working with the Nod AI; please add me to this issue.

[2021-11-10 17:22] silvasean commented on #410
This looks like two problems:

1. You are using numpy.ndarray instead of torch.Tensor
2. Torch-MLIR does not support `aten::clamp.Tensor` (we only support `aten::clamp`). That support needs to be added. It is a simple elementwise op, so it should be easy to handle.

[2021-11-10 17:23] silvasean commented on #365
Done!

[2021-11-10 17:28] silvasean commented on #409
We have two options TorchTo〄.cpp and TorchTo㉿.cpp

Those are "U+3004 japanese industrial standard symbol" and "U+327F korean standard symbol".

I have created a poll:

[![](https://api.gh-polls.com/poll/01FM5E93QVYB4KVYMVT8HJXW45/TorchTo%E3%80%84.cpp)](https://api.gh-polls.com/poll/01FM5E93QVYB4KVYMVT8HJXW45/TorchTo%E3%80%84.cpp/vote)
[![](https://api.gh-polls.com/poll/01FM5E93QVYB4KVYMVT8HJXW45/T

[2021-11-11 00:49] ds1231h commented on #410
Thanks for the reply! I'll give it a try.

[2021-11-11 00:50] ds1231h commented on #410
That's pretty clear, thank you! I'll try to add that one.

[2021-11-11 00:54] ds1231h commented on #380
Thank you very much for your advertisement! Due to my needs being quite emergency, I'm just doing it as a runnable model.
Stilling looking forward to #398!

[2021-11-11 08:50] ds1231h commented on #410
Thanks for your help and I have done these two ops successfully.
Another op ```torch.view``` encountered.
That seems quite difficult for me. Is there any example to follow?

[2021-11-11 11:19] #410 closed

[2021-11-11 11:19] ds1231h commented on #410
These two ops have been fixed.

[2021-11-11 17:28] silvasean opened #414 "[Community Feedback] Soliciting input on workloads"
Please feel free to leave a comment describing which models you are most interested in. It can help us guide our op support! Bonus points if you can point us at a script that runs the model :)

[2021-11-11 20:33] denolf opened #415 "Shape inference on modules returns ?"
Hi,

Even for a module with just a single con2d layer, shape inference returns a set of question marks:
`func @forward(%arg0: !torch.vtensor<[1,1,64,64],f32>) -> !torch.vtensor<[?,?,?,?],f32>`

while` @annotate_args` was used to specify the size of the input tensor.

Is there a pass available that can resolve this? Currently the pipelined `torchscript-module-to-torch-backend-pipeline` was used.

T

[2021-11-11 21:06] silvasean commented on #415
I'm in the process of revamping our shape inference to be more precise. Historically, we only needed ranks, because linalg would do the per-dimension size inference. But now that we have more backends, a more generalized approach is needed.

You can see the definition of the pipeline here: https://github.com/llvm/torch-mlir/blob/1019ddf5a0edc388666bf88cd16d8cbbf9c66d9a/lib/Dialect/Torch/Transforms

[2021-11-12 17:50] denolf commented on #415
Hi Sean,

That sounds promising and interesting. Do you have any idea when that will be ready, I am eager to try it out.

Thanks

Kristof

[2021-11-12 17:55] silvasean commented on #415
I was hoping by the end of this week, but I guess that has come. I still have a lot to do on it. Give me another week.

[2021-11-16 00:05] sjarus commented on #415
@silvasean , I have what looks like a similar shape inference signature. For testing purposes, I added an ElementwiseNegModule op exactly on the lines of the Log one in e2e_testing/torchscript/elementwise.py , calling torch.neg instead of torch.log.

It fails with this signature:

        Exception:
        Lower Torch Backend IR -> TOSA Backend IR failed with the following diagnostics:
        er

[2021-11-16 06:49] ds1231h opened #424 "Support for control flow"
Hi, community!

I met a problem about if control-flow(just maybe, which I'm still debugging).
Just for curious, how do we support the control flow from pytorch to linalg then to scf dialect?

For now, I saw some codes in ```mlir/lib/Dialect/SCF/Transforms/StructuralTypeConversions.cpp```, but I can not get the whole path.

[2021-11-16 18:05] silvasean commented on #415
Yeah, I guess we didn't have AtenNegOp support on the linalg backend, so it required a case in RefineTypes (this is expected).

[2021-11-16 19:32] cathyzhyi commented on #424
We have limited support for control flow. There is a `TorchToSCFPass` that can convert torch control flow ops to scf dialect. `RefineTypes` supports propagating types across branches. However, some passes don't support branches well yet like `MaximizeValueSemantics`.

[2021-11-18 06:17] ds1231h commented on #380
I'm also working on the SelectInt op by myself, and I have a question.

In my view, the SliceTensor op is an elementwise op, but the SelectInt op is a reduce op (as it reduces the selected dim). Am I right?

If so, we need to match the `AtenSelectIntOp` pattern in but not `ConvertReductionOp`.
In this case, is it still possible to implement it through the `AtenSliceTensorOp`?
@cathyzhyi @silvasean

[2021-11-18 06:26] ds1231h commented on #424
Well noted! Thanks!

[2021-11-18 16:56] cathyzhyi commented on #380
`SliceTensor` is not an elementwise op and need to be lowered in its own conversion pattern.  You are right about `SelectInt ` being reduction op but it's not the operation supported by `ConvertReductionOp` which does destructive updates along the reduced dimension (with a keepDim parameter) rather than select one index from the reduced dimension. It's possible to change `ConvertReductionOp` to in

[2021-11-19 11:44] ds1231h commented on #380
Thank you!

[2021-11-22 17:15] cathyzhyi commented on #365
@Eliasj42 could you update the ops status table with the PR numbers?

[2021-11-23 03:45] ds1231h opened #433 "The Plan B for Unspported TrochScript Code"
Hi, community!

I seldomly met some ops which were not supported in ```torch_ods_gen.py```.
In this case, do we have a plan B to locate the unsupport one and run it by native_torch or torchscript?

[2021-11-23 11:38] ds1231h commented on #424
I tested a pytorch code like this:
[code]

And I got such error in the ```createFinalizingBackendTypeConversionPass```:
[code]

So what this bug means? And how can I fix that problem and solve it? Could you please give me some advice or tutorials?
Thank you!

[2021-11-23 11:55] ds1231h commented on #424
By the way, is there any control flow related examples?

[2021-11-23 16:47] cathyzhyi commented on #433
Can you list more details on what those ops are? And what is the error msg when you try to add them?

[2021-11-23 19:12] feihugis commented on #414
I would recommend Bert (encoder-only),  GPT2 (decoder-only), and BART (encoder + decoder). They would cover three types of model architectures. The scripts to run GPT2 and BART can be found [here](https://github.com/microsoft/fastseq/blob/main/tests/optimizer/transformers/test_gpt2_optimizer.py) and [here](https://github.com/microsoft/fastseq/blob/main/tests/optimizer/transformers/test_bart_optimi

[2021-11-24 03:31] ds1231h commented on #433
I believe technically torch-mlir can cover all ops and expressions supported by pytorch, but we do need some time and skills to add them, right? So if users want to run their pytorch code by torch-mlir immediately, they do not want any further coding work. I guess, in this situation, they wish torch-mlir could figure out which op in a model is not supported, and run the unsupported one by native_t

[2021-11-24 16:34] ramiro050 commented on #365
If you encounter an op that has many different variants, you can search here https://gist.github.com/ramiro050/349b61aa93a0b136bfc5c363a6a21398 to see the signature of the op being used by each of the three models

[2021-11-24 19:44] pashu123 commented on #424
I guess this is basically the current limitation of MaximiseValueSemantics pass. For more info you can checkout the pass here: https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/MaximizeValueSemantics.cpp

[2021-11-25 04:54] ds1231h commented on #424
ok, thanks!

[2021-11-26 03:31] ds1231h commented on #380
Thanks for @dan-garvey 's work, done!

[2021-11-26 03:31] #380 closed

[2021-11-26 22:42] dan-garvey opened #444 "scalar operands type promotion test"
Testing needed for Scalar ops where type promotion is required; cases like f32+f64.

[2021-11-29 21:21] denolf commented on #415
Could you give an update on when this is expected to be available for early testing? Thanks.

[2021-11-29 21:35] dan-garvey opened #448 "Tensors with dim values of 0 can exist in pytorch but break RefBackend"
Not even sure if this qualifies as an issue, but if a lowering results in a rank>1 tensor with a dim of 0, the refbackend will crash. I'm not certain a case where this actually occurs in a model exists?
Below is an example of torch code that produces such a result.
`
a =torch.randint(10, (5,5))

print(a)
tensor([[5, 7, 2, 6, 5],
[3, 5, 2, 1, 2],
[6, 9, 6, 7, 5],
[8, 3, 9, 6, 2],
[7, 9, 9, 3, 7]])

[2021-11-29 23:43] cathyzhyi commented on #448
The following test can reproduce this error as well
[code]

[2021-11-30 15:22] leslie-fang-intel opened #450 "Build Error: error: ‘toGraphFunction’ is not a member of ‘torch::jit’"
I am trying to build from source(539511c19b1acef704d8399f814e3a847cc6a719).
Here is my build CMD:
[code]

However, it fails to find some jit function as :
[code]

[2021-11-30 20:44] silvasean commented on #448
Yeah, this is definitely an issue. Looks pretty painful to debug. My understanding is that the memref descriptors that we lower to can handle size 0 dimensions, so conceptually this should "just work". But Yi's test case makes me a bit scared. It's probably worth looking at the IR dumps in Yi's test case see if anything obvious is going wrong.

This doesn't need to be super high priority right now

[2021-11-30 22:01] silvasean commented on #433
We don't yet have a clear direction for op fallback. It's very difficult to do that in a way that would work with RefBackend, IREE, and other backends. So for now, we just have to do the hard work to implement the op :/

[2021-12-01 03:31] ds1231h commented on #433
okay, I got it. Thank you!

[2021-12-01 03:31] #433 closed

[2021-12-01 03:31] #424 closed

[2021-12-02 19:45] erwei-xilinx opened #455 ""Unsupported op" error with TorchScript ResNet-18 example"
When I ran the torchscript_resnet18_e2e.py example, I got the following error.

[code]

This resnet18 example used to work for me, but this error started to appear after I pulled and built torch-mlir again recently. This build passes all the regression tests.

[2021-12-02 19:57] silvasean commented on #455
@ramiro050 can you triage this?

[2021-12-02 20:22] ramiro050 commented on #455
Sure! Let me take a look.

[2021-12-02 21:06] cathyzhyi commented on #444
A new torch op `aten::add : (Scalar, Scalar) -> (Scalar)`  need to be added for purpose of fully testing this.
Refer to existing type promotion examples here: https://github.com/llvm/torch-mlir/blob/main/e2e_testing/torchscript/type_promotion.py

[2021-12-02 21:22] cathyzhyi opened #456 "Add support for `AtenDivTensorOp` `AtenDivScalarOp` with integer operands"
The type promotion rule for div ops are different when both operands are integers (integer operands are promoted to default float type) see https://pytorch.org/docs/stable/generated/torch.div.html.

To support this, `AtenDivTensorOp` and `AtenDivScalarOp` need to have some customized logic in RefineTypes rather than using `visitBinaryBroadcastingOp` or `visitBinaryTensorScalarOp` directly as it is

[2021-12-02 21:29] ramiro050 commented on #455
@erwei-xilinx, my guess is that this might be related to the version of `TorchVision` that you are using. The `Resnet` model should be using the op `aten.adaptive_avg_pool2d` (see https://github.com/pytorch/vision/blob/ba299e8f52737448f1cbb9fffd25bf3d6e7ceef7/torchvision/models/resnet.py#L203), which is supported by `torch-mlir`, not the op `aten.avg_pool2d`.

The `Resnet` model used to use the op

[2021-12-03 15:48] erwei-xilinx commented on #455
@ramiro050 Thanks so much for the quick response. You are right and indeed I found multiple installations of TorchVision in my virtual env and after cleaning up the older versions I was once again able to run that example.

[2021-12-03 15:48] #455 closed

[2021-12-06 21:46] ramiro050 opened #462 "Brainstorm on how to add custom op authoring"
- [Brainstorm on how to add custom op authoring](#brainstorm-on-how-to-add-custom-op-authoring)
- [Adding ops corresponding to lower-level ops](#adding-ops-corresponding-to-lower-level-ops)
  - [Going form TorchScript IR to Torch MLIR](#going-form-torchscript-ir-to-torch-mlir)
- [Inserting MLIR at different points in the lowering process](#inserting-mlir-at-different-points-in-the-lowering-process

[2021-12-06 22:51] silvasean commented on #462
What are the use cases we want to solve with this? The form of the solution will depend on that.

For the use case of squirreling some linalg ops through, I would prefer to register a Torch operator `torch_mlir::linalg_on_tensors_subroutine` and then attach a string of textual mlir in the linalg dialect to that.

[2021-12-07 05:20] ds1231h commented on #462
Thank you very much for this topic, and this is what I'm currently working on!

I'm trying the second way you mentioned here:

For now, I'm planning to support an "extern_op" function in pytorch, like:
[code]
and convert that into the `library_call = "extern_op"` in linalg.

However, I met the problem that I don't know where to add such "extern_op" in `torch_ods_gen.py`, which I imagine like this(

[2021-12-07 19:27] silvasean commented on #462
Torch-MLIR is not yet having a stable end-to-end flow that has high performance (IREE will probably be the first). So I think it is a bit early to consider libraries like Cudnn (at least in upstream on github). I think at the right time we can look into it though, but we should consider all approaches (such as linalg autotuning) to get higher performance.

We would use a custom Torch operator `tor

[2021-12-08 00:43] powderluv commented on #462
I think cudnn is just an example. We do have call outs to hand optimized kernels at the lower levels downstream.  I agree upstream may lag a bit but there maturity of the downstream projects may not be evident right now (or ever ).  We are helping customers with custom_ops in torch-mlir so I'd be happy to convey any requirements that you may need from them.

[2021-12-08 01:59] silvasean commented on #462
So, the current state is that if you register a Torch op in the c10 registry, we will import it opaquely as "torch.operator" op in MLIR and that will just pass through. Shape refinement and value semantics conversions won't work on such an opaque op, but if we then add it to ODS we can add annotations at least for value semantics. Shape/dtype propagation would be harder.

[2021-12-08 07:29] ds1231h commented on #462
Yeah, and the linalg autotuning sounds amazing, looking forward to it :)

That makes sense to me.

I got the `%2 = torch.operator "prim.PythonOp"(%arg0, %0, %1) : (!torch.nn.Module<"__torch__.ExternCallModule">, !torch.tensor<[?,?],f32>, !torch.tensor<[?,?],f32>) -> !torch.tensor` in the IR before `TrochToLinalg`, and I can match it with `class ConvertOperatorOp : public OpConversionPattern<Operat

[2021-12-08 17:48] silvasean commented on #462
@ds1231h for what you are doing, I would advise to define a custom op in TorchOps.td (not autogenerated), and then add code in node_importer.cpp to specially detect your op. That isn't a good design for upstream, but it should get you unblocked.

[2021-12-09 00:33] ds1231h commented on #462
Thanks!

[2021-12-13 19:59] Nirvedh commented on #365
Hi, I recently started working at Nod.ai and I am working on aten::t

[2021-12-14 18:15] silvasean commented on #450
@leslie-fang-intel did this fix your issue?

[2021-12-16 17:25] anupgangwar opened #490 "Return type for AtenEqTensorOp"
Hi,

The return type for the AtenEqTensorOp operator should be boolean/i1 Tensor (ref: https://pytorch.org/docs/stable/generated/torch.eq.html). However, currently it is being set as f32 Tensor. Is this expected?

I also could not find anything on EqTensor lowering in the repo. Is the lowering for other Dialects defined elsewhere?

Thanks,
Anup

[2021-12-16 17:26] anupgangwar commented on #490
@ramiro050 Can you comment?

[2021-12-16 17:35] ramiro050 commented on #490
Hi @anupgangwar! The lowering for `EqTensor` was just recently added to the `TorchToLinalg` pass https://github.com/llvm/torch-mlir/pull/483. It should be returning a tensor of bools. I just tried lowering the calculation `x == x` where `x` is a rank 2 tensor, and I get the following MLIR

[code]

which does return an `i1` tensor. Is there a particular example that you have that results in an `f32

[2021-12-16 17:42] anupgangwar commented on #490
Hi @ramiro050,
Thanks for the quick response. It looks like I do not have this commit since it was just merged. Will retry and update this thread.
Thanks

[2021-12-16 18:24] anupgangwar commented on #490
Confirmed that I do see the correct Tensor of type 'i1' now. Will close the issue.

[2021-12-16 18:24] #490 closed

[2021-12-17 16:20] anupgangwar opened #497 "Is m_TorchConstantFloat planned"
Hi,

Is there a plan to add 'm_TorchConstantFloat' similar to 'm_TorchConstantInt'? This is needed for a couple of lowerings.

@ramiro050 Can you comment?

Thanks,
Anup

[2021-12-17 17:18] ramiro050 commented on #497
Hi @anupgangwar,

We tend to only add functions as they are needed, so if your lowerings require `m_TorchConstantFloat` feel free to add it as part of one of your lowering PRs (this will serve as a test for it). The implementation should be straight forward. You can just do what is done for the Int case:

https://github.com/llvm/torch-mlir/blob/d8ba68119e5b9ff14b2240f0f282643317b5e160/include/torc

[2021-12-17 17:22] anupgangwar commented on #497
Thanks for the quick turn-around, will do the needful.

Anup

[2021-12-21 17:48] cathyzhyi commented on #342
I am documenting the finds for collaboration. With changes from [repo](https://github.com/cathyzhyi/mlir-npcomp/tree/bert-comp-wip). The model is now hitting a runtime assumption.  The JIT code is [here](https://gist.github.com/cathyzhyi/34df38757a5e6f59d28c52c91c927f6e). And the program jumped to out of line code for aborting at
[code]

The jump is from inside a loop:
[code]
Still need to figure

[2021-12-29 03:45] maricoxu commented on #450
Hi @ramiro050  I also encountered this problem, and it seems that the release version will not be supported with this function, how could I fix this with the official pytorch build, just revert the change in torch-mlir?

[2021-12-29 17:04] ramiro050 commented on #450
Hi @maricoxu! Yeah, if you need to work with an older version of PyTorch, undoing the changes in the PR I linked above should fix this error.

[2021-12-29 18:58] cathyzhyi commented on #342
With the [patch1](https://github.com/cathyzhyi/mlir-npcomp/commit/bafcbc1c972d69219b5a4b14f62ab4c10f498258) and [patch2](https://github.com/cathyzhyi/mlir-npcomp/commit/c24e4d21a36591e4e29509fd5e91cff1130f9d47) from [repo](https://github.com/cathyzhyi/mlir-npcomp/tree/bert-comp-wip)  the [MiniLMSequenceClassification_basic](https://github.com/llvm/torch-mlir/blob/main/build_tools/torchscript_e2e_h

[2021-12-31 03:05] jinminxi104 opened #504 "A prototype of jit.ignore support."
@ds1231h  and I are working on a prototype of jit.ignore support.
(This issue is similar to #462, and thanks for all helps in #462)
We would love any comments, and see if community is interesting in this prototype.

We are planning to convert jit.ignore function to a `std.call`.
User can write the jit.ignore function in c/c++ manually,
and link it with the program generated by torchMLIR

The use c

[2022-01-03 14:15] Innally opened #506 "build error: no member named 'Operator'in namespace 'torch::jit'"
I was running the whole project from the old build perfectly earlier today,
but later I re-build the project completely because I messed up my python venv. Basically, I repeated everything I did like the first time  I built the project( I even delete the project and cloned it again to make sure the building process is the same)
However, when I do this command:
`cmake --build build --target tools/t

[2022-01-03 18:09] ramiro050 commented on #506
Hi @Innally, thanks for opening this issue! The `torch-mlir` CI also just started failing with the same error

https://github.com/llvm/torch-mlir/runs/4693509574?check_suite_focus=true

My initial guess is that this is related to this recent change in `PyTorch`: https://github.com/pytorch/pytorch/commit/fa09099ba35fcd42347732ca3a5f8ddaf145da1b

It seems like some of the imports were renamed. I'll

[2022-01-03 19:36] #506 closed

[2022-01-04 15:07] Innally commented on #506
Thanks so much for your quick fix!

[2022-01-05 18:17] ramiro050 opened #510 "Help with supporting algorithms that don't fit `linalg.generic`"
While working on the remaining ops in https://github.com/llvm/torch-mlir/issues/365, we've run into several ops that do not fit well into the `linalg.generic` form efficiently. One very simple example is doing a histogram operation of the form

[code]

There is a way to run this in `linalg.generic` by using two maps `(i, j) -> (i), (i, j) -> (j)`, however, this turns an `O(n)` implementation into

[2022-01-06 08:56] vivekkhandelwal1 commented on #510
Out of the ops listed here [](https://github.com/llvm/torch-mlir/issues/365)

[2022-01-06 18:09] cathyzhyi opened #512 "Tosa backend failed with assert"
Tosa backend fails for a new test added in https://github.com/llvm/torch-mlir/pull/503. The torch dialect IR generated by the test is the following:
[code]
Tosa backend would generate
[code]
`mlir-opt -tosa-to-linalg tosa.mlir` would crash with assert `const T &llvm::ArrayRef<long>::operator[](size_t) const [T = long]: Assertion Index < Length && "Invalid index!"' failed.`
backtrace:
[code]

[2022-01-06 18:11] cathyzhyi commented on #512
@sjarus could you help to take a look if the tosa IR looks correct to you? I suspect it's an issue with tosa-to-linalg but could you double check? Thanks!

[2022-01-06 18:26] sjarus commented on #512
This is a tricky broadcasting case. I actually hit this same error signature a short while ago while exercising my in-development Matmul/Mm/Bmm legalization code, where there's a need to potentially reshape both inputs, do the matmul and reshape outputs... and reshape of '?' dims is undefined.

I worked around it by using the CreateOpAndInfer construct in Tosa-To-LinAlg that's also implemented in

[2022-01-06 18:51] cathyzhyi commented on #512
yea, I could change the code to infer shape based on valid user input, in this case 4 or a broadcasting 1 for dim1. I was hesitating to do that because user might give an invalid input and we would be inferring something that might not be true at runtime. However, I realize I've already be doing that by adding the static shape for broadcasting ops already so this might still be ok for now.

Thanks

[2022-01-06 19:16] sjarus commented on #512
Right, for this test I think the straightforward resolution is to pass the legally resolvable output shape 5x4x3x3x2. Then it should work fine.

More generally, it's possible to have input shapes as 5x1x3x3x1 and ?x3x1x2 which would result in 5x?x3x3x2 as the legal output shape.  In this case TOSA-to-LinAlg should at least just say it cannot process dynamic shapes, but not crash. However such a se

[2022-01-06 21:11] cathyzhyi commented on #512
Yea, will change the test. thanks again!

[2022-01-06 21:11] #512 closed

[2022-01-07 07:42] vivekkhandelwal1 commented on #510
In particular, ops like `embedding_dense_backward` require this kind of implementation.

[2022-01-11 21:04] anupgangwar commented on #497
See that this got implemented before my commit, closing.

[2022-01-11 21:04] #497 closed

[2022-01-12 07:56] vivekkhandelwal1 opened #521 "Torch-mlir build failing, linker error."
The torch-mlir build is failing due to some changes made by @anupgangwar in the torch-mlir (commit: https://github.com/llvm/torch-mlir/commit/d69d29b7a65b7fa6a46c8cf49efeaabad4ecbb94). @anupgangwar, please look into this and make appropriate changes in your commit.

Error message:
[code]

[2022-01-12 12:20] anupgangwar commented on #521
@vivekkhandelwal1 Can you check whether this works for you: https://github.com/llvm/torch-mlir/pull/519#discussion_r782930226?

What is the target which you are trying to build?

[2022-01-12 12:50] vivekkhandelwal1 commented on #521
I am using the following script to build torch-mlir.

[2022-01-12 17:36] sjarus commented on #521
It is interesting the check-torch-mlir-all does not find the TosaToStandard library (which is in MLIR core) but the regular check-torch-mlir does . Normally the 'all' rule works if a smaller one does.

For this immediate issue, probably the best short term action is to roll back the addition of the pass. It has an impact on our internal TOSA reference model unit test regressions right now, so a be

[2022-01-12 20:32] anupgangwar commented on #521
@vivekkhandelwal1 Changes merged in PR https://github.com/llvm/torch-mlir/pull/522.

[2022-01-13 13:51] anupgangwar commented on #521
@vivekkhandelwal1 If the issue has been resolved, do mark it as closed.

[2022-01-13 15:28] #521 closed

[2022-01-13 22:27] powderluv commented on #504
Adding @ramiro050 @cathyzhyi @silvasean  for their thoughts.

[2022-01-14 04:33] ds1231h commented on #504
Update:

This task has been completed. The `torch.extern` transformed to `std.call` successfully.
The external C function is:
[code]

Any feedback would appreciate a lot!

[2022-01-19 01:13] silvasean commented on #342
Closing this as it's working now!!! Great work everyone :1st_place_medal: This is a huge milestone for the project :)

[2022-01-19 01:15] #342 closed

[2022-01-20 02:34] anupgangwar opened #532 "Some Torchscript e2e tests have a mix of si64 and float operands"
Hi,
In three tests 'ElementwiseSubScalarIntModule_basic', 'ElementwiseAddScalarIntModule_basic' and 'ElementwiseMulScalarModule_basic', there is a mix of si64 and float operands. I am wondering whether this is a valid test-case. See the Torch MLIR below:

[code]

[2022-01-20 02:36] anupgangwar commented on #532
Tagging @pashu123 and @Shukla-Gaurav since these tests were added by them. Tagging @ramiro050 and @silvasean for comments.

[2022-01-20 08:41] pashu123 commented on #532
These tests are eventually run by PyTorch here https://github.com/llvm/torch-mlir/blob/76728491cbefc8469a9a7bd467d783b5402461da/e2e_testing/torchscript/elementwise.py#L735 before generating the torchscript IR and hence these would be correct but I will wait for @ramiro050 @silvasean for the answer.

[2022-01-20 14:44] ramiro050 commented on #532
These tests, as mentioned by @Shukla-Gaurav, are specifically designed to test the type promotion logic. During the `refine-types` pass, the type promotion rules from PyTorch are used to determine the final type of the calculation, which for the tests mentioned happens here

https://github.com/llvm/torch-mlir/blob/76728491cbefc8469a9a7bd467d783b5402461da/lib/Dialect/Torch/Transforms/RefineTypes.cp

[2022-01-20 16:45] cathyzhyi commented on #510
I will make some adjustment to https://github.com/llvm/torch-mlir/pull/528 but the current patch is good enough to unblock anyone needs to work on these ops right away.  A `LowerAlgorithmicOps` pass will need to be added to lower TorchOps to Linalg_ext.

[2022-01-21 13:02] anupgangwar commented on #532
Sounds good, I will keep the issue open till the support is baked in for any further questions on this topic.

[2022-01-26 18:05] anupgangwar opened #540 "Arg types for AtenBatchNormOp"
Hi,
The test 'BatchNorm1DModule_basic' creates the following Torchscript MLIR:

[code]

Which means that input is of type tensor<10x4x3xf32> and mean is of type tensor<4xf32>. My understanding is that the mean should have the same rank as the input. Is that correct?

[2022-01-26 18:05] anupgangwar commented on #540
Tagging @cathyzhyi and @sjarus.

[2022-01-26 18:36] silvasean commented on #532
I think it would be ok to change the tests to i32, and then add at least one separate test specifically for i64 just so backends can track their support for that data type.

[2022-01-26 20:40] cathyzhyi commented on #540
The mean and standard-deviation are calculated over the mini-batches per feature see https://pytorch.org/docs/stable/generated/torch.nn.BatchNorm1d.html. Therefore, mean and std are 1D tensors with size of number of features. For input of N,C,H,W mean's sizes should be 1xC. You can also verify this with snippets in pytorch
[code]

[2022-01-26 22:32] cathyzhyi commented on #365
Original op list table

| Op                                        | Status | Owner    | Model                                                 | Notes |
|-------------------------------------------|--------|----------|-------------------------------------------------------|-------|
| `aten::bmm`                               | x      |          | Bert Training

[2022-01-26 23:24] powderluv commented on #365
should we trim the list to only what needs to be added will be easier to track

[2022-01-26 23:28] cathyzhyi commented on #365
yes, I put the trimmed table in the original description of the issue.

[2022-01-27 01:06] #540 closed

[2022-01-27 16:20] pashu123 opened #542 "Reference for decomposition of coarser torch ops into finer torch ops."
https://github.com/pytorch/functorch/blob/main/functorch/_src/decompositions.py

This is a good reference for breaking/decomposing torch ops.

[2022-01-28 02:43] sjarus opened #545 "aten.maxpool2d shape resolution failure"
First some good news - we're pretty close to getting Torch->TOSA working for ResNet18 static network form. Now the bad news: the primary blocker is the strange failure to resolve the aten.maxpool2d op. This can be reproduced with the following simple e2e test:

[code]

This emits:

[code]

This is strange, since I expected #502 would fix it, and looking at the code, there's no reason why it would

[2022-01-28 10:23] ljfitz commented on #545
I've seen this and at the time didn't understand where it could come from, but noticed that using `--torch-refine-types --torch-refine-public-return` on the output resolved the static shape and had not looked further at that point.

Since I've noticed that some ir optimization happens after the point RefineTypes initially runs, and suspect that if we look at the ir in this case there will still be

[2022-01-28 10:36] ljfitz commented on #545
I just checked - there is a `torch.prim.If` in the ir going into `RefineTypes`:
[code]

[2022-01-28 16:48] sjarus commented on #545
Thank you for investigating, @ljfitz !

[2022-01-29 00:21] sjarus commented on #545
After #547 and #549 I tried this again; it still appears to emit aten.maxpool2d without resolving the shape of the output XY dims. It will pass regressions - including Torch-TOSA in #550 since its the only (or last) op, but otherwise it will transmit the unknown shape to subsequent ops.

[2022-02-01 00:33] sjarus commented on #545
This is working now. Thanks @ljfitz and @cathyzhyi .

[2022-02-01 00:33] #545 closed

[2022-02-01 06:47] pashu123 commented on #542
Modified the softmax decomposition here: https://github.com/llvm/torch-mlir/pull/554

[2022-02-01 15:35] henrytwo opened #555 "Missing support for importing node prim::Constant with list type"
I was trying out torch-mlir with LTC using the TorchScript backend but ran into an error when performing a basic transpose operation using a modified version of the `tanh` example script:

[code]

To reproduce:
[code]

It looks like the error stems from the `import_function` call of `ModuleBuilder`, which is part of `torch-mlir`. Currently my hacky solution around this problem is to make the SSA v

[2022-02-01 20:25] antoniojkim opened #556 "Tracking Torch-MLIR Lazy Tensor Core Backend"
Creating this issue to inquire about and track the status of the Torch-MLIR LTC backend.

The LTC backend API has somewhat stabilized (with some probability of minor changes). So, I think getting experimental support for a Torch-MLIR specific LTC backend would be fruitful. If there is any work that has already been done for this, I'd like to get an idea of what's been done and what still needs doi

[2022-02-02 00:16] cathyzhyi commented on #555
Hey Henry, thanks for your interest in the project!
The issue you are hitting is because we are still missing support for importing `prim::Constant` node with List type.  The error msg you are seeing is from the node importer https://github.com/llvm/torch-mlir/blob/0cb216a1adcdcc8c948503c0f856604997d13c1d/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/node_importer.cpp#L185. We would need t

[2022-02-02 16:15] cathyzhyi commented on #555
we could leave this open until someone got time to implement it.

[2022-02-05 06:29] ds1231h opened #560 "How to transform a non-const torch.aten.Bool to the condition of scf.if"
HI,

I'm not very sure if I accurately described my problem in the title.
I'm focusing on the control flow in torch-mlir, then I met such an error:
[code]

which context IR is:
[code]

May I need to convert the `torch.aten.Bool.Tensor` to `torch_c.to_i1` immediatelly?
Or May I need to do other transformations in `torchToStd` or `torchToScf`?

Any advice would be appreciated a lot!
@stellaraccident

[2022-02-05 16:22] cathyzhyi commented on #560
You need to lower `torch.aten.Bool.Tensor` in TorchToLinalg similar as lowering of `AtenIntTensorOp` https://github.com/llvm/torch-mlir/blob/127c7d8e27ede211af77392b5277ba06fb515fb7/lib/Conversion/TorchToLinalg/TorchToLinalg.cpp#L2568. I am wondering how is the IR generated though because the aten ops converting Tensor to scalar usually expect input to be rank 0.

[2022-02-08 03:34] ds1231h commented on #560
Hi Cathy,
Thanks for your advice!

my `forward` function in pytorch is:
[code]
So its rank seems <2x2xi1>.
And I add a `RewriteIfLikeOp` class for the control-flow problems in MaximizeValueSemantics.
For the detailed C++ code, find [here](https://github.com/ds1231h/torch-mlir/compare/main...ds1231h:control-flow-fix) please.

[2022-02-08 03:58] cathyzhyi commented on #560
I see. `if x == y:`  would make Torchscript runtime give the following error
[code]
You probably want to use `if torch.ne(x, y).any()` instead.

[2022-02-08 05:08] ds1231h commented on #560
Yes, thank you!

So I get such IR now:
[code]
I guess I need to convert two aten ops including `torch.aten.all` and `torch.aten.Bool.Tensor`, is that right?
By the way, is there any example for `torch.aten.all`?

Thanks again!

[2022-02-08 16:49] cathyzhyi commented on #560
yea, that's correct.

It's a reduction on all dimension op. You can search for `AtenMaxOp` in TorchToLinalg.cpp and follow the example.

[2022-02-08 23:09] henrytwo commented on #555
@cathyzhyi I think I'm going to try to take a shot at implementing this, since I need the functionality for my project. I'll let you know if I run into any issues :)

[2022-02-08 23:18] cathyzhyi commented on #555
Great! Thanks a lot!

[2022-02-09 02:17] ds1231h commented on #560
Thank you!

[2022-02-09 05:07] ds1231h commented on #560
Thanks for your help! @cathyzhyi
Now the very basic demo of the if-control-flow has been done.
Find the detailed code here [ds1231h/control-flow-fix](https://github.com/ds1231h/torch-mlir/compare/main...ds1231h:control-flow-fix), please.
If we could start a discussion about the control flow supporting plan in discourse.llvm.org?

[2022-02-09 07:42] sjarus opened #568 "Failure while running heavydep tests"
I tried to follow the https://github.com/llvm/torch-mlir/blob/main/build_tools/torchscript_e2e_heavydep_tests/README.md to run the heavydep tests, specifically to obtain a BERT static model for TOSA backend. However, I see the following error following those steps:

(heavydep_venv) $ ./tools/torchscript_e2e_test.sh --serialized-test-dir=serialized_tests --filter=BasicMtModule_basic
/media/home1/su

[2022-02-09 18:20] pashu123 commented on #568
@sjarus I have tried running the MiniLM model present here: https://github.com/llvm/torch-mlir/blob/main/build_tools/torchscript_e2e_heavydep_tests/minilm_sequence_classification.py this works fine. Not sure about BasicMt.
/tools/torchscript_e2e_test.sh --serialized-test-dir=serialized_tests --filter=MiniLMSequenceClassification_basic

[2022-02-09 18:43] sjarus commented on #568
You're right @pashu123 - I tried MiniLM just now and it does work fine. I'll continue my experiments with MiniLM. instead and leave this issue open for the moment. Thanks for your tip!

[2022-02-09 18:49] cathyzhyi commented on #568
@sjarus `BasicMtModule_basic` is a machine translation model which we don't fully support yet.

[2022-02-09 21:20] sjarus commented on #568
Thanks to both of you! The only hurdle now is I'm trying to make a static form of MiniLM - I tried [1, 384] for an input shape from prior BERT work but that triggers a coredump. @pashu123 did you use fixed shapes in some manner here ?

[2022-02-09 21:33] cathyzhyi commented on #568
Hey Suraj, did you change the `test_input` to a different sentence? For the current input, the input shape would be [1,7].

[2022-02-09 21:40] henrytwo commented on #555
If I have something like this in the IR:
[code]

What should the corresponding MLIR look like? Would it be something like:
[code]

I saw that in some existing examples, the individual list values are passed in as arguments to the `ListConstruct` operation (https://github.com/Cerebras/torch-mlir-private/blob/090243888259e6f24df355fdd0aaf679cdc9e660/test/Conversion/TorchToLinalg/pooling.mlir#L21), s

[2022-02-09 22:42] ramiro050 commented on #365
Following the steps given by Chilli on discord, @pashu123 and I have been able to get a training graph for Bert into torch-mlir. Currently the lowering fails because there is no support for the following ops:

- `aten.clone`
- `aten.bernoulli_.float`
- `aten._unsafe_view`
- `aten._log_softmax`
- `aten.native_layer_norm_backward`
- `aten.embedding_dense_backward`

In case it is needed, here are the

[2022-02-09 22:43] cathyzhyi commented on #555
Hey Henry, for `%1 : int[] = prim::Constant[value=[1, 2, 3]]()` the instructions generated should look like
[code]
you need to pass all elements which are MLIR values as the operands of the instruction. You could refer to the code here https://github.com/llvm/torch-mlir/blob/0cb216a1adcdcc8c948503c0f856604997d13c1d/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/ivalue_importer.cpp#L269-L278

[2022-02-09 23:18] sjarus commented on #568
Thanks! I tried [1, 6] previously and that failed. [1, 7] worked for the default path and I'll use it for TOSA work.

[2022-02-09 23:18] #568 closed

[2022-02-10 16:20] anupgangwar commented on #532
Fixed in [PR #535](https://github.com/llvm/torch-mlir/pull/575).

[2022-02-10 16:20] #532 closed

[2022-02-10 19:58] henrytwo commented on #555
I just reread your previous comments and I _think_ you're saying the new `importAttributeAsMlirValues` method is supposed to be used instead of `importAttribute`, right? That way the generated `MlirValue`s can be passed in during construction of `torch.prim.ListConstruct`.

So the signature could be something like: `std::vector<MlirValue> importAttributeAsMlirValues(MlirLocation loc,

[2022-02-10 20:52] henrytwo commented on #555
Looking at the [public interface in `ivalue_importer.h`](https://github.com/llvm/torch-mlir/blob/main/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/ivalue_importer.h#L28-L29), it looks like the only method exposed has a void return value, but I updated that to `MlirValue` and was able to get it to work in a similar way to what you just described. Thanks for the help!

Is there documentatio

[2022-02-10 21:23] nirvedhmeshram opened #577 "Torch backend not lowering to linalg IR with blocks"
I am trying to lower the IR below
[code]

When I run this IR with
`./torch-mlir-opt -pass-pipeline='torch-backend-to-linalg-on-tensors-backend-pipeline' ~/hbc_torch.mlir`
It lowers to
[code]
The problem with this IR is that %6 through %52 are not part of any linalg blocks and as such dont lower in a performant way on any backends

[2022-02-10 21:29] nirvedhmeshram commented on #577
Just for context this IR is generated from https://github.com/llvm/torch-mlir/blob/main/e2e_testing/torchscript/histogram_binning_calibration.py

[2022-02-10 22:29] cathyzhyi commented on #555
We mostly just follow the llvm coding convention. There are some guidelines here https://github.com/llvm/torch-mlir/wiki/Torch-ops-E2E-implementation#delivering-code. For unit tests, you can refer to examples here https://github.com/llvm/torch-mlir/blob/main/test/python/importer/jit_ir/node_import/prim.py. The testing for importers are in test/python/importer.

[2022-02-11 00:52] nirvedhmeshram commented on #577
After discussion with @cathyzhyi , I understand this IR is indeed correct and I am closing this issue.

[2022-02-11 00:52] #577 closed

[2022-02-11 08:43] pashu123 commented on #542
Modified log softmax decomposition here: https://github.com/llvm/torch-mlir/pull/580

[2022-02-11 16:25] henrytwo commented on #555
I tried writing a test based on the examples you sent here, but I think since it uses `@torch.jit.script`, the list elements are individually assigned SSA values and then passed into `prim::ListConstruct` in the TorchScript IR.

Do you know of any way to "force" it to generate a `prim::Constant` with list type instead? A possible solution would be to hardcode some TS IR that contains a constant li

[2022-02-11 16:55] vivekkhandelwal1 opened #582 "Torch-MLIR crashes while lowering AtenSliceTensorOp"
I am getting an error while lowering the `AtenSliceTensorOp`. The error message is as follows:
[code]

[2022-02-11 16:55] vivekkhandelwal1 commented on #582
The IR on which I am getting this error is:
[code]

[2022-02-11 16:56] vivekkhandelwal1 commented on #582
The error occurs during the input/output type conversion to the `RankedTensorType`.

[2022-02-11 17:21] cathyzhyi commented on #555
I think that's a good idea as we have more control over what specific TS IR we want to test. Please go ahead with whatever you have in mind for now.

[2022-02-11 18:19] ramiro050 commented on #582
How is the IR being generated? I think the issue is that the input is a `!torch.tensor` rather than a `!torch.vtensor`. I notice that if you change the tensor type on other ops, things also fail. For example, this fails with the same error:

[code]

[2022-02-11 20:30] cathyzhyi commented on #582
The issue looks most likely that maximize value semantics didn't properly turn the non value tensor to value tensor.  Vivek shared the `print-ir-after-all` log offline and the IR before maximize value semantics looks like https://gist.github.com/e581723ef9d045c369cc1636cd436847. There are some ops at the end doesn't currently have e2e support so maximize value semantics doesn't know about them.

[2022-02-12 01:58] #555 closed

[2022-02-12 02:55] nirvedhmeshram opened #589 "Issue incorporating llvm change"
I am trying to incorporate this llvm change in torch-mlir
https://reviews.llvm.org/D118543
Essentially in this location OpTrait has become Trait and what NativeTrait means has changed
https://github.com/llvm/torch-mlir/blob/main/include/torch-mlir/Dialect/Torch/IR/TorchBase.td#L41-L49
So this snippet
[code]
gives the following error
[code]

[2022-02-12 04:04] #560 closed

[2022-02-12 16:44] stellaraccident commented on #589
I think you want to change:

[code]

[2022-02-12 18:42] nirvedhmeshram commented on #589
Thanks, that fixed that issue, next one I am having is with this change
https://github.com/llvm/llvm-project/commit/12bfd159b7602fee776d4a0d4b2f1193e875fd35

[2022-02-12 18:43] nirvedhmeshram commented on #589
Gives this kind of error
[code]

[2022-02-12 19:41] stellaraccident commented on #589
On mobile and not able to look closely. But it has been a *very busy* few weeks for llvm changes. Thanks for working on it.

I recall making similar changes in IREE but can't remember the details. I can check later, but in the meantime, you are welcome to look through our last few integrates: https://github.com/google/iree/pulls?q=is%3Apr+is%3Aclosed+integrate

[2022-02-12 19:44] stellaraccident commented on #589
Also, don't hesitate to ask on the #mlir channel of the llvm discord. Folks there typically know exactly what each change is.

[2022-02-12 20:05] nirvedhmeshram commented on #589
Thank you Stella. Yes I have asked on the mlir discord. I have also opend this WIP so that folks can see where exactly I am failing
https://github.com/llvm/torch-mlir/pull/590
Current issue which I see the IREE llvm bump also had to make a change for is adding
[code]
and removing the `let Parser` , `let Printer`
I get this error
[code]

[2022-02-12 20:43] stellaraccident commented on #589
@jpienaar Any ideas?

[2022-02-12 21:16] jpienaar commented on #589
So we didn't have to make the hasCustomAssemblyFormatChange, we just did it to reduce warnings. One can do that as separate step. Do you have branch with the above fixes until this point?

[2022-02-13 02:17] jpienaar commented on #589
If you look at the change LLVM side, something like

[code]

should become

[code]

on Ops defined. hasCustomAssemblyFormat is for Ops and not Types or Attributes so only change Ops defined (printer & parser is unchanged for Types & Attributes).

[2022-02-13 16:38] nirvedhmeshram commented on #589
I have fixed issue 1, the operands of all the cast style ops are flipped now. Was easy once I realized that.

[2022-02-13 17:59] nirvedhmeshram commented on #589
Currently it builds but some tests are failing. Here is an example
[code]

[2022-02-13 18:32] jpienaar commented on #589
And yeah the cast ops allowed for being built with either type or operand first and the latter form got removed, good catch (so I've been walking through these the last two weeks elsewhere :-), but difficult to remember what changed when and where).

[2022-02-13 18:37] nirvedhmeshram commented on #589
Thanks for the debugging techniques insight was not aware of them

[2022-02-13 18:47] nirvedhmeshram commented on #589
There is also this issue
[code]

[2022-02-13 18:49] stellaraccident commented on #589
If all else fails, I believe Sean is back from vacation tomorrow :)

As Jacques says, there is probably a legality step missing somewhere. The assert op moved from std->cf and conversion targets tended to be set up a little too loosely based on std.

[2022-02-13 19:21] nirvedhmeshram commented on #589
Great, I was able to solve the `cf.assert` issue by adding it to the conversion target, but stumped with the `bultin.func` failing, documentation says `As such, this dialect is implicitly loaded in every MLIRContext, and available directly to all users of MLIR.`

[2022-02-13 19:52] stellaraccident commented on #589
Probably a red herring and not related directly to func but trying to legalize something it contains.

[2022-02-14 17:31] zzy82518996 opened #592 "resnet18 is able to pass using the commits of torch-mlir before Jan 28 but fails after that day."
New torch-mlir is not able to pass the "python examples/torchscript_resnet18_e2e.py" test.
I think this is mainly due to the commit 'e1b3e5bc92decafc7d99cd093e47ec909c62d0fa'
Below is the error message.
![Screen Shot 2022-02-14 at 12 29 20 PM](https://user-images.githubusercontent.com/9006099/153915494-1b0eb1bb-4e4b-498a-9ae6-1cbe011ec8b6.png)
How to solve this issue ?

[2022-02-14 17:33] cathyzhyi commented on #592
Hey it's because torch version change. Please update your local torch version to the latest nightly build.

[2022-02-14 17:40] zzy82518996 commented on #592
Thanks, but I use the "pip3 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html" command from PyTorch website to build the latest nightly build, but still got the same error ?

[2022-02-14 18:37] zzy82518996 commented on #592
Oh, I see. Thanks. I use python3.6, the official indeed suggest python3.7 or higher. I will upgrade my python version and give it a try again. Thanks.

[2022-02-14 22:15] zzy82518996 commented on #592
BTW, is there any instruction on how to dump the mlir after different passes from the end to end example ? I did not find the relative instruction.

[2022-02-14 23:16] cathyzhyi commented on #592
You will need failed test to see the instructions. https://github.com/llvm/torch-mlir/blob/756b75fb2d996747483d24c1a6bfa3eadd80ec11/python/torch_mlir_e2e_test/utils.py#L54. If you would like to look at mlir dump for passed runs you can save the initial ir by using this patch and then use the `torch-mlir-opt` command
[code]

[2022-02-14 23:33] zzy82518996 commented on #592
I see, will give it a try, thanks !

[2022-02-15 17:50] cathyzhyi commented on #592
@zzy82518996 is it ok to close this issue?

[2022-02-15 20:40] henrytwo opened #601 "Incomplete shape inference using RefineTypes"
I tried piping the MLIR provided below through `torch-mlir-opt -torch-refine-types -torch-refine-public-return` to infer tensor shapes but ran into a few issues:

`torch.aten.mm` (example below) had question marks appear in its output shape, rather than an explicit shape. During a separate test, I found that ` torch.operator "aten.binary_cross_entropy_backward"(...)` did not get annotated with any

[2022-02-15 20:56] ramiro050 commented on #601
Hi @henrytwo, I actually just started working on adding static shape information to `aten.mm`, so by the end of today that should work! In the case of `torch.operator "aten.binary_cross_entropy_backward"(...)`, the problem with this op is that it is currently not yet supported by `torch-mlir`, so there is no way of knowing what the result type should be for it. (The same applies to any op that app

[2022-02-15 20:59] silvasean commented on #556
Hi Antonio,

I'm not aware of any code to plug into the LTC backend interface (buffer management, compilation callbacks, etc.) specifically for Torch-MLIR.

A few thoughts about my personal expectations for merging LTC support "officially" into Torch-MLIR:

- I want to avoid "multiplying an experiment by an experiment": Both Torch-MLIR and LTC are fairly young and experimental, so it becomes reall

[2022-02-15 21:00] cathyzhyi commented on #601
On a side note, technically things are supposed to work with dynamic shapes. Only rank should be required. However, due to some limitations with certain ops we sometimes do need more static shape info.

[2022-02-15 21:15] henrytwo commented on #601
Thanks for the speedy response -- this will be helpful!

Are there plans to eventually add static shape information to _all_ supported ops? I'm trying to lower to a custom dialect which requires static tensor shapes.

[2022-02-15 21:17] silvasean commented on #601
Yes, we intend to support that, and have a patch in progress to do so.

[2022-02-15 22:48] antoniojkim commented on #556
That makes sense. I don't think this will be much of a concern though. It is all experimental at the moment, so I don't think we need to worry about different build configurations. I think we can make the hard assumption that we'll always be working off of the latest PyTorch `lazy_tensor_staging` branch and the latest Torch-MLIR `main`.

Once LTC is fully upstreamed into an official release of PyT

[2022-02-15 23:47] ke1337 commented on #556
Hi @silvasean and @antoniojkim , thanks for this conversation!

Could you comment on the roadmap for `torch/xla`, in the context of suggested IREE+torch-mlir+LTC? According to [LTC doc](https://github.com/pytorch/pytorch/tree/lazy_tensor_staging/lazy_tensor_core#lazy-tensors-core), seems torch/xla would move to LTC in [this effort](https://github.com/pytorch/xla/tree/asuhan/xla_ltc_plugin). Howeve

[2022-02-16 04:46] stellaraccident commented on #556
Sorry to disappoint, but IREE is not related to Google cloud TPUs (at least for a timeframe that will be remotely helpful for anything here).

[2022-02-16 21:08] zzy82518996 commented on #592
Sure, thanks for the reply.

[2022-02-16 21:08] #592 closed

[2022-02-16 22:12] nirvedhmeshram commented on #589
Thank you all, the PR is merged now

[2022-02-16 22:12] #589 closed

[2022-02-17 17:29] vivekkhandelwal1 opened #609 "[RFC] Need to add a scatter-like op in Linalg_Ext/TMTensor"
Hi @silvasean @cathyzhyi,

I am working on the lowering of `aten.embedding_dense_backward` op. For the implementation of this op, I have two requirements that can be fulfilled with the infra available in torch-mlir:
1.)
[code]
2.)
[code]

We have a `scatter` op in linalg_ext that is closest to our needs, but the problem with the `scatter` op is, in case of the repeated indices, it results in a rac

[2022-02-17 17:37] antoniojkim commented on #556
Plan is to stage work regarding the Torch-MLIR LTC backend on the following branch: https://github.com/llvm/torch-mlir/tree/torch_mlir_ltc_backend

[2022-02-18 21:38] cathyzhyi commented on #609
The IREE side of change is merged https://github.com/google/iree/pull/8365. @vivekkhandelwal1 will help to port the changes to TMTensor dialect.

[2022-02-21 18:07] gpetters94 opened #615 "[RFC] Adding an implementation for aten::nonzero"
I'm currently working on aten::nonzero, and wanted to make sure that there's a record of how I'm implementing it before I finish it up. As per @silvasean's suggestion, I'm decomposing into the torch dialect equivalent of the following PyTorch logic:

[code]

[2022-02-21 18:16] erman-gurses opened #616 "[RFC] Lowering aten::_index_put_impl_ into tm_tensor.scatter op"
(https://github.com/llvm/torch-mlir/pull/614)

[2022-02-21 19:09] erman-gurses commented on #365
Hi everyone, I started at Nod.ai recently and I am working on aten::_index_put_impl_

[2022-02-21 21:24] erman-gurses commented on #365
Hi everyone, How can I get edit access?

[2022-02-22 06:13] yhz5256 opened #617 "no member named 'toGraphFunction' in namespace 'torch::jit'"
[2669/2720] Building CXX object tools/torch-mlir/python/torch_mlir/dialects/...er/jit_ir/csrc/CMakeFiles/TorchMLIRJITIRImporter.dir/function_importer.cpp.o
FAILED: tools/torch-mlir/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/CMakeFiles/TorchMLIRJITIRImporter.dir/function_importer.cpp.o
/usr/bin/clang++  -DMLIR_PYTHON_PACKAGE_PREFIX=torch_mlir. -DTorchMLIRJITIRImporter_EXPORTS -D_DEBUG -D

[2022-02-22 16:05] cathyzhyi commented on #617
there seems to be a similar issue https://github.com/llvm/torch-mlir/issues/450 in the past. Can you try to update your pytorch to the latest nightly build?

[2022-02-22 16:36] vivekkhandelwal1 commented on #609
I am closing this issue with this commit https://github.com/llvm/torch-mlir/commit/5dbace239b754f08811d4d10e61104178fadcedf.

[2022-02-22 16:36] #609 closed

[2022-02-22 20:25] cathyzhyi commented on #615
@gpetters94 looks good to me. One thing to notice is that `aten::nonzero` can be applied to tensor with rank > 1. It would be helpful to find out what's the input rank in the real model. If rank > 1 is needed, we would need to
1. flatten the input tensor to rank 1
2. convert the `result` in your above algorithm to indices.

Also, there are a quite a few complex torch ops that are not implemented i

[2022-02-23 16:38] silvasean commented on #616
Do you mean a mix of torch and TMTensor ops? I think this pass would naturally be the scope of a ConvertTorchToTMTensor pass.

[2022-02-23 16:46] cathyzhyi commented on #616
sry, I meant a mixed of torch and linalg/tmtensor ops.

We have another pass called lowerAlgorithmicOps https://github.com/llvm/torch-mlir/pull/574 which lowers algorithmic torch ops to linalg and tm_tensor ops. I feel calling `ConvertTorchToTMTensor` for this new pass would cause confusion as it is not explicit the torch can also be decomposed to Torch ops.

[2022-02-23 18:55] silvasean commented on #616
I left a comment in #574. I think that there should be LowerAlgorithmicOps (similar to DecomposeComplexOps) as a Torch->Torch lowering. Then ConvertTorchToTMTensor which happens in backends (i.e. after the Torch backend contract, just before ConvertTorchToLinalg).

[2022-02-23 18:58] silvasean commented on #365
I just added you.

[2022-02-23 20:04] cathyzhyi commented on #616
Ha, I see. There seems to be confusion about passes naming. I updated my comments. Thanks for clarifying this!

[2022-02-23 21:24] anupgangwar opened #618 "NativeBatchNorm op is being decomposed before TorchToTosa lowering"
From the e2e test framework, I see that the generated MLIR no longer contains the batch_norm op for BatchNorm*_basic tests. The op appears to have been decomposed further (as per it definition). This appears to be a side-effect of PR #594. Is there a way to not have the decomposition in the TOSA backend path?

Tagging @cathyzhyi @silvasean @sjarus.

[2022-02-23 23:11] silvasean commented on #618
Why do you want a batch norm op? It seems simpler to lower the individual decomposed ops.

We could design a way to avoid decomposing it, but I would like to understand the motivation.

[2022-02-23 23:36] anupgangwar commented on #618
For the near term, there are a few decomposed ops which are not supported in TorchToTosa yet. Then there are some opens around the .size op which are under discussion.

If this decomposition can be avoided in the TOSA backend path for now, it will again get the ResNet18 passing. Once the full set of ops are supported we can look at whether to enable the decomposition again.

[2022-02-23 23:59] silvasean commented on #618
For this specific case, I would prefer to fix this forward, as suppressing the decomposition temporarily without a failing upstream test to motivate it doesn't seem desirable. This type of thing will eventually be caught by CI and fixed on the spot once ResNet passes on TOSA upstream :)

[2022-02-24 00:47] sjarus commented on #618
Stepping in to assist @anupgangwar here after an internal conversation - there's some confusion here related to to previous advise @cathyzhyi had posted in #594  - the suggestion there was to lower aten.batch_norm to aten.native_batch_norm . This is doable according to Anup.

However, the decomposition isn't actually to native_batch_norm as an op, but to the mechanical primitives of batch_norm. Ma

[2022-02-24 01:07] silvasean commented on #618
Is there some specific op in the decomposition that is hard to support? It should just be basic stuff like sqrt, add, mul, divide, sum, etc. which seem like we want to support anyway. It feels like the right long-term direction for the TOSA backend to support those ops, so since there is not immediate test breakage upsream, it's hard to justify an upstream change to suppress that behavior. If this

[2022-02-24 01:24] sjarus commented on #618
Oh I agree all the basic tensor level computational ops are fine - that's what the TOSA decomposition also looks like anyway. None of that is a problem. If the decomposition entirely consisted of those, we'd not notice and nothing would fail since they are already present. We have decomposed batch_norm elsewhere, including in TensorFlow.

The real issue here is that the decomposition does a few tr

[2022-02-24 01:33] anupgangwar commented on #618
Just to add to that, we did have the ResNet18 and BatchNorm's passing before PR #594 disabled them (removed from xfail_sets.py). So, in a way the CI would have caught it :).

[2022-02-24 01:37] silvasean commented on #618
Oh, that's not good. Effectively #594 just arbitrarily disabled TOSA tests. I have asked that it be reverted!!!

[2022-02-24 01:38] anupgangwar commented on #618
Thanks @silvasean.

[2022-02-24 01:40] silvasean commented on #618
Looking at the IR, it seems like the decomposition is using the view-like op to reshape [N] to [1,N,1,1], which seems like a reasonable thing to pattern match and lower to TOSA (that's effectively what we do in TorchToLinalg too). There are also error checks inserted (`torch.runtime.assert`), which I think that TOSA should have some sort of answer to, even if it means deleting them. (since TOSA do

[2022-02-24 01:41] silvasean commented on #618
I'm going to keep this issue open for now as a place where @Shukla-Gaurav and @sjarus @anupgangwar can discuss a path forward on this.

[2022-02-24 01:49] sjarus commented on #618
I think aten.size.int -> int was the biggest impediment @anupgangwar faced. It's tricky to work with from TOSA's layering point of view.

BatchNorm can still be done fine in TOSA using analogous primitives; Anup's previous batch_norm legalization to TOSA is in #543 , the specific generated sequence being here: https://github.com/llvm/torch-mlir/pull/543/files#diff-32507a97012015d11da21d6a5c072e35c

[2022-02-24 03:40] sjarus commented on #618
It could be done but amounts to a layering problem going down subtensor level, forcing back up and then down again. There's an alternative...

... yes this could be done, or
A) general runtime assertions can be inserted in TOSA to LinAlg instead or
B) added as part of dynamic/runtime capability into the existing TorchToTosa batchnorm, thereby preserving useful capability but layered better in my v

[2022-02-24 16:40] silvasean commented on #618
No. It's not semantically correct to lower the op without such assertions, so we don't want that in the main Torch lowering flow. Backends should be able to ignore the assertions though, so perhaps we need to design a better op than a loose assert op (maybe something where the assertion code is in a region that can be trivially discarded).

[2022-02-25 10:18] Shukla-Gaurav commented on #618
@silvasean  @anupgangwar @sjarus The changes has been reverted #619.

[2022-02-25 15:54] erman-gurses opened #620 "Adding an implementation for aten::range"
I am working on `aten::range` now. As Gaurav suggested, I see that there are many similarities between `range` and `arange`. So my plan is to decompose `range` in `arange` then use the lowering that is already written for `arange`. I will add more details as I progress.

[2022-02-28 09:37] gpetters94 commented on #365
@ramiro050 How do you get a complete printout of missing ops? When I run MLIR through torch-mlir-opt I just get a failure on the first missing op.

[2022-02-28 17:35] ramiro050 commented on #365
You can usually tell which ops are missing from the MLIR, since they will have the form `torch.operator "name.of.op" ...`. However, sometimes an op that is not yet supported will not have that form. This happens when the op is added to this file (https://github.com/llvm/torch-mlir/blob/9b2613533bd78632b4438fa0b11319cd9d86f9e0/python/torch_mlir/dialects/torch/importer/jit_ir/build_tools/torch_ods_g

[2022-03-01 16:55] cathyzhyi commented on #615
@gpetters94 Could you post the `torch script IR` sequence here through `gist-paste` so that we have a better view of all the ops that are needed.  https://github.com/llvm/torch-mlir/pull/627/commits/33f9101b95820a842f285798883e314cba1c2eef is a bit hard to read. Thanks!

[2022-03-03 02:20] clemente0420 opened #637 "why build using clang/clang++ but python-package using g++/gcc ?"
What's the difference

[2022-03-03 03:48] stellaraccident commented on #637
In general, python packages should be able to build with whatever system toolchain is available. This is most often GCC. Really, the entire matrix should be tested  but probably isn't today.

[2022-03-03 09:23] gpetters94 opened #638 "[RFC] Implementing convolution_backward"
Just wanted to get comments on how I'm planning to implement `aten::convolution_backward`: it should just be a matter of rotating the the kernel and lowering to the linalg conv ops. I think `aten::convolution_backward_overrideable` should also lower similarly, so I'll do that one while I'm at it.

[2022-03-03 12:45] clemente0420 commented on #637
thx

[2022-03-03 12:45] #637 closed

[2022-03-07 20:08] silvasean commented on #616
Starting with the 1D version of this and emitting a clear diagnostic for the unsupported cases seems like a good incremental first step.

[2022-03-08 20:26] noahchalifour opened #647 "Could NOT find Python3"
I am trying to build the python packages using the commands provided in the readme. I get an error when running:

[code]

I have also tried running the above command and adding `-DPython3_EXECUTABLE="$(which python)"`, however I get the same error.

I don't know if the fact that I'm on an M1 MacBook is an issue, any help would be appreciated.

Here is the error:

[code]

[2022-03-08 21:01] stephenneuendorffer commented on #647
I believe you need to get numpy installed: `pip3 install numpy`.  the CMAKE python support is... finicky.

[2022-03-08 21:05] noahchalifour commented on #647
@stephenneuendorffer I can confirm that numpy is installed.

[code]

[2022-03-08 21:24] cathyzhyi commented on #647
Are you using virtual environment like conda? When python is in conda environment I needed to add this patch to make cmake work with python.
[code]

[2022-03-08 22:54] noahchalifour commented on #647
@cathyzhyi That worked, thanks!

[2022-03-09 16:03] cathyzhyi opened #651 "Fix RefineType for ops like aten.log"
The existing code assumes the result tensor type is the same as input type for  a few aten ops like `log`, `exp`, `erf`. See https://github.com/llvm/torch-mlir/blob/486f95e84f587d020ba789b071b12f890510f1a1/lib/Dialect/Torch/Transforms/RefineTypes.cpp#L221-L235
This incorrect. The result  tensor of  these ops should always have the default dtype rather than the same as the input type. E2E tests for

[2022-03-09 21:06] noahchalifour opened #653 "AttributeError: module 'torch_mlir._mlir_libs._mlir' has no attribute 'ir'"
I am trying to use the python binding in my code but I am getting the following error:

[code]

When I look in the path `torch-mlir/build/cmake_build/tools/torch-mlir/python_packages/torch_mlir/torch_mlir/_mlir_libs/_mlir` I can see a file named `ir.pyi` Which I think is what its trying to access, so not sure what's wrong.

The code I am using is: (from https://github.com/NodLabs/shark-samples/blo

[2022-03-09 21:44] silvasean commented on #653
This is an issue with the torch-mlir build/install. Can you explain how you built/installed Torch-MLIR?

[2022-03-09 21:49] noahchalifour commented on #653
@silvasean I used this command to build it:

[code]

And then to use it in my other virtual environment I use:

[code]

[2022-03-10 11:36] Vigilans commented on #647
Seems for conda environment, simply replacing `${_python_development_component}` with `Development` fixes the problem.

[2022-03-10 15:51] silvasean commented on #647
Can we dig into this? I don't like us "fixing" a bug by having people carry around private build patches. It looks like we already have some logic to choose `_python_development_component` -- is there something additional we can do here to detect Conda or whetever the underlying issue is and go with "Development"  instead of "Development.Module"?

@stephenneuendorffer any thoughts on the root caus

[2022-03-10 17:49] mikeurbach commented on #647
Not sure if this is related, but we were seeing some issues with Python3_EXECUTABLE on windows after D118148, and John appears to have found a fix in: https://github.com/llvm/llvm-project/commit/cb318526b0417b1a03255ee79920ad613b0ae691

[2022-03-10 22:53] noahchalifour opened #656 "error: number of 'torch.slot's in a 'torch.nn_module' must match number of 'torch.attr's in the corresponding 'torch.class_type'"
Hi, I am new to torch-mlir and I'm trying to use it to optimize the inference time for my model on my M1 MacBook. I am trying to use the GPT-Neo model from the Transformers Python package alongside [SHARK](https://github.com/NodLabs/SHARK) to be able to run the model faster on my M1 chip. When running the inference I get the following error:

[code]

I'm not sure what the first line means but it s

[2022-03-10 22:58] noahchalifour commented on #653
Turns out by deleting the build and re-building using the `build_tools/build_python_wheels.sh` script solved this issue

[2022-03-10 22:58] #653 closed

[2022-03-10 22:59] noahchalifour commented on #647
I ended up deleting my build and re-building with `build_tools/build_python_wheels.sh` without the modification to the CMake file and it worked

[2022-03-10 23:27] silvasean commented on #656
can you paste the full imported (invalid) IR?

[2022-03-10 23:31] noahchalifour commented on #656
@silvasean Sorry I'm new to this, what is the IR?

[2022-03-10 23:34] silvasean commented on #656
the compiler intermediate representation (in the form of a .mlir file)

[2022-03-10 23:56] noahchalifour commented on #656
Do you know where I could probably find that? Sorry this is my first time using torch-mlir.

Here is the output of `torch.jit.trace(NEO(MODEL_NAME), torch.randint(100, (5,)))`:

[code]

Is that what you're looking for?

[2022-03-11 00:20] silvasean commented on #656
In this case, what I'm looking for is printing out `mb.module` right after the `mb.import_module` call.

[2022-03-11 00:39] noahchalifour commented on #656
So it actually seems that the error is coming from `mb.import_module`, I removed a try-catch that I had forgotten about and I get this really long error:

[code]

[2022-03-11 04:28] stellaraccident commented on #647
Unfortunately, it is worse than that: Development.Module is necessary to build on any non shared lib python install, which covers a lot. The people who hit this path don't have packages they can install to fix it.

But I agree it is broken. I have been trying to get a repro and even went to the trouble to build a docker image exactly like the last problem report and did not repro. I am fairly cert

[2022-03-11 04:30] stellaraccident commented on #647
I kind of want to kill all of the auto detect goo and just run a little python script to probe and set the right options. It is just not that hard, and this situation is kind of ridiculous.

[2022-03-11 04:40] stellaraccident commented on #647
So, I had wanted to do this properly -- repro, file a bug report, fix cmake. But how about this: I just script out what we need in the simplest way (I've written this before and it is all of like 15 lines of code). We put that behind a flag to let people try it for a bit, failing back to just pushing for Development. If my new things works, we do the flag and get off of this crazy ride.

I can do

[2022-03-11 04:46] stephenneuendorffer commented on #647
No severe objections, but If OP says it's not a bug, then I suggest we leave it be for the moment.  In my build environment there at least 3 other cmake projects that are trying to find python stuff through cmake... at least at the moment they are consistently working or broken :)  I hesitate to add yet another mechanism.

[2022-03-11 05:06] stellaraccident commented on #647
I think there is enough evidence to say that a significant fraction of people are at least experiencing flakiness. Also see the commentary here: https://reviews.llvm.org/D118148

[2022-03-11 05:07] stellaraccident commented on #647
Let me give it a shot and see how it turns out. I think this is actually a fairly pervasive, if not intermittent, issue.

[2022-03-11 13:36] binfoo1993 commented on #651
Hi @cathyzhyi,

I am Ph.D. student at George Washington University, who is interested in ML compiler.

I want to work on this issue.

[2022-03-11 14:46] Vigilans commented on #647
FYI, [`google/iree`]  deals with it in this way:
https://github.com/google/iree/blob/c96372348654eea8548509d38df5c8e8b179aef3/CMakeLists.txt#L275-L280
[code]

[2022-03-11 23:46] garymm opened #660 "bazel build support"
It'd be nice to be able to depend on this code in a project that uses Bazel.
[LLVM seems to have some support for bazel](https://github.com/llvm/llvm-project/tree/main/utils/bazel), so maybe this wouldn't be too hard.

[2022-03-12 01:22] stellaraccident commented on #660
I don't think any of the current contributors are interested in supporting such an effort -- which tends to be expensive over time. But the precedent in llvm may apply here: allowing for an unsupported place to put contributed build files.

What do you mean by "depend on"? Do you just need a c++ dependency on the dialects? Trying to get the whole python plus pytorch dependency? (I can't see how th

[2022-03-12 21:57] cathyzhyi commented on #651
@binfoo1993 Hey Qiang, thanks for your interest in the project! You could refer to https://github.com/llvm/torch-mlir/wiki/Torch-ops-E2E-implementation for some basic information. Please let me know if you have further questions.

[2022-03-14 00:29] binfoo1993 commented on #651
Thanks for assigning this issue to me!

[2022-03-14 14:36] binfoo1993 commented on #651
Hi @cathyzhyi,

I did some source code reading, trying to understand this right:

- For torch ops such as `exp`, `log`, `cos` etc, the output tensor's dtype could be different with input's. For example
[code]
- But existing codes assume they are of the same dtype.

So we should:

-  Find all ops satisfying this property, use another `if` branch to handle the type analysis.
- No matter what the inp

[2022-03-15 16:09] cathyzhyi commented on #651
@binfoo1993 yea, your understanding above is correct! And thanks for pointing out about special case of `float64` which I missed in the issue description. A heads-up that RefineType.cpp will be changed soon by #654 which should make this task easier as you will only need to handle the dtype but not the shape.

[2022-03-15 20:51] silvasean opened #663 "torch.aten.batch_norm is relying on incorrect annotations"
As discussed in https://github.com/pytorch/pytorch/issues/73050#issuecomment-1051382044, there are a few ops that don't correctly annotate that they mutate their operands. It seems like those are `aten::batch_norm` and `aten::layer_norm`.

When I revamped our ODS generator code, I tried correcting those exceptions w.r.t. the HasValueSemantics and ReadOnly traits, but it seems we were relying on th

[2022-03-15 20:52] garymm commented on #660
I'm still exploring but I at least want a C++ dependency on the dialects. Is there some way to get that in my bazel project?

[2022-03-15 20:59] silvasean opened #664 "Improved canonicalization of `torch.derefine`"
In the following IR, `%optional` could be replaced by `%none`, because the op `torch.aten.arange.start` implements the `AllowsTypeRefinement` trait. We could add a canonicalization pattern that replaces all uses by ops that allow type refinement with the operand (i.e., the more refined value).

[code]

[2022-03-15 21:05] silvasean opened #665 "`aten::native_layer_norm` 2nd and 3rd results not implemented correctly"
When revamping the shape library, I noticed that the shape function for `torch.aten.native_layer_norm` was not implemented correctly for the 2nd and 3rd results. I tried fixing the buggy shape function, but it seems that the TorchToLinalg lowering broke if I did that (the shape function actually calculates the wrong rank).

I left some comments (including a correct version of the code) in shape_li

[2022-03-15 21:25] cathyzhyi commented on #665
I think this is covered in https://github.com/llvm/torch-mlir/pull/570 by @gprateek93.  Prateek, could you split  https://github.com/llvm/torch-mlir/pull/570 and check in the part that fixes this issue?

[2022-03-15 21:48] stellaraccident commented on #660
People who need this would need to implement it. It seems unlikely that it is something that contributors would do without having a need for it themselves.

I suspect there is a path for landing it on an unsupported way, given the precedent in llvm.

[2022-03-15 22:00] wm901115nwpu opened #666 "error"
torch_mlir/dialects/torch/importer/jit_ir/csrc/ivalue_importer.cpp:24:10: fatal error: 'ATen/native/quantized/packed_params.h' file not found

[2022-03-15 22:03] cathyzhyi commented on #666
should be fixed by https://github.com/llvm/torch-mlir/pull/662

[2022-03-15 22:08] silvasean commented on #660
@asaadaldien was also interested in bazel, though I don't know if the exact use case is the same.

I am okay with following LLVM precedent here of having it unsupported on the side and let those interested maintain their own build files.

[2022-03-15 22:20] cathyzhyi commented on #666
oh, sry, this is because of #662 and you need to update your pytorch to the latest nightly build to work.

[2022-03-15 22:20] cathyzhyi commented on #666
oh, sry, this is because of #662 and you need to update your pytorch to the latest nightly build to work.

[2022-03-16 02:09] erman-gurses opened #672 "[RFC] Adding the implementation of aten::max_pool2d_with_indices_backward"
Hi @cathyzhyi and @silvasean

I received this implementation from @gpetters94  and I am currently working on it. In the last discussion with George, he summarized the steps that should be followed:

1. Flatten gradient output to a 1d tensor
2. Fill with zeroes
3. Loop through the indices, inserting 1 into the zeroed-out tensor at each point
4. Expand to the original size and return

All the steps

[2022-03-16 05:58] gprateek93 commented on #665
Sure.

[2022-03-16 12:34] Vigilans opened #673 "Bump LLVM to support upstream breaking change"
In https://github.com/google/iree/pull/8542, `IREE` has integrated LLVM to commit https://github.com/llvm/llvm-project/commit/8361c5da30588d3d4a48eae648f53be1feb5cfad,  among which a breaking change commit https://github.com/llvm/llvm-project/commit/7294be2b8e9ada57e051bac6a20ca8b4dbf46475 in pretty-print is introduced:

As a result, `.mlir` model generated by `torch-mlir` cannot be compiled with

[2022-03-16 12:57] gprateek93 commented on #665
Refer to this PR: [#674](https://github.com/llvm/torch-mlir/pull/674)

[2022-03-16 19:44] cathyzhyi commented on #673
@Vigilans thanks for the patches! I will try to pick up where you left as it's needed for my work as well.

[2022-03-17 00:31] cathyzhyi commented on #666
@wm901115nwpu I am closing the issue as it should be resolved by the above suggestions. Please feel free to reopen if there is any further questions. Thanks!

[2022-03-17 00:31] #666 closed

[2022-03-17 00:32] cathyzhyi commented on #617
@yhz5256 I am closing the issue as it should be resolved by the above suggestions. Please feel free to reopen if there is any further questions. Thanks!

[2022-03-17 00:32] #617 closed

[2022-03-17 01:22] binfoo1993 commented on #651
@cathyzhyi cool! Then should I wait until the change is committed then I can start my coding?

[2022-03-17 01:33] cathyzhyi commented on #651
yea, it's merged already.

[2022-03-17 06:38] #665 closed

[2022-03-17 14:33] gprateek93 opened #678 "[RFC] Adding support for lowering control flow."
Hi,
My team is working in integrating [functorch](https://github.com/pytorch/functorch), so that we can get complex ops decomposed before applying the lowering pass. Some of these decompositions are designed such that they incorporate for/while loops in them. These loops can be mapped to the `torch::PrimLoopOp` in torch-mlir. For end to end execution lowering of this operation is required.
Some ex

[2022-03-17 16:38] binfoo1993 commented on #651
Ok, great!

I will change the Dtype handling logic for the following Ops:

- AtenTanhOp
- AtenExpOp
- AtenSinOp
- AtenCosOp
- AtenSigmoidOp
- AtenReciprocalOp
- AtenLogOp
- AtenSqrtOp
- AtenLog2Op
- AtenRsqrtOp
- AtenErfOp

Please let me know if I miss any Ops in the list.

[2022-03-17 18:50] asaadaldien commented on #660
@garymm yes, you can write bazel rules for each cmake library easily with very little manual effort one caveat  there is a small header circular dependency between `Troch\Transforms\* && TorchConversion\` that I had to resolve.

I got everything c++ building with bazel currently wrestling with python side.

As @silvasean mentioned maybe we can add/maintain unsupported `\WORKSPACE \BUILD` for downs

[2022-03-18 17:16] #673 closed

[2022-03-20 19:13] ZhanqiuHu opened #683 "unsupported by backend lowering: tensor with unknown rank or dtype” errors when modifying module attributes"
When we try to convert our pytorch model using torch-mlir, we ran into several “unsupported by backend lowering: tensor with unknown rank or dtype” errors during the torch-backend-to-linalg-on-tensors-backend-pipeline pass. We notice that it happens when we try to modify attributes that are initialized in __init__ function.

To reproduce this error, we wrote a simple test that is basically a singl

[2022-03-21 15:15] cathyzhyi commented on #616
closed by #650

[2022-03-21 15:15] #616 closed

[2022-03-21 17:40] gpetters94 opened #684 "[RFC] Adding a new conv3d op to linalg"
`at::convolution` and `at::convolution_backward` [require that the operands be in NCDHW order](https://github.com/pytorch/pytorch/blob/dab5e2a23ed387046d99f825e0d9a45bd58fccaa/aten/src/ATen/native/Convolution.cpp#L1545) but the only 3D conv op we have in linalg is `linalg.conv_3d_ndhwc_dhwcf`. Since we have several varieties of 2D conv ops, I propose we add a `linalg.conv_3d_ncdhw_fcdhw` op so tha

[2022-03-21 18:47] cathyzhyi commented on #684
Is the 3d case needed in real model? We could delay implementing it until there is a real use case.

[2022-03-21 20:29] silvasean commented on #683
Hi @ZhanqiuHu - we currently don't support stateful modules / mutable attributes.

Part of the reason for this is that the MLIR ecosystem doesn't have any ops that we can use to model this when passing such modules to backends. We are working to improve this with the "ml_program" effort upstream ([thread](https://discourse.llvm.org/t/rfc-introduce-ml-program-dialect-and-top-level-ops-proposal-v2/6

[2022-03-21 21:54] silvasean commented on #660
What was the issue? I would love to have the fix upstream!

[2022-03-22 04:15] garymm commented on #660
@asaadaldien sounds like a PR adding Bazel files might be welcome, though it's not in my power to approve.

[2022-03-22 18:37] silvasean commented on #656
Seems like a failure in [this function](https://github.com/llvm/torch-mlir/blob/7c3ba25238ac73850fcdd698be1fb084f8a58e49/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/torch_to_mlir_utils.cpp#L250) - can you debug it?

[2022-03-22 18:38] silvasean commented on #656
I suspect it is an issue with the scalar type in this switch: https://github.com/llvm/torch-mlir/blob/7c3ba25238ac73850fcdd698be1fb084f8a58e49/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/torch_to_mlir_utils.cpp#L314

[2022-03-22 18:39] silvasean commented on #656
You should be able to test it in this test with a torch.uint8 dtype: https://github.com/llvm/torch-mlir/blob/7c3ba25238ac73850fcdd698be1fb084f8a58e49/test/python/importer/jit_ir/ivalue_import/tensors.py#L19

[2022-03-22 20:27] asaadaldien commented on #660
Thanks @sean, I send out [PR](https://github.com/llvm/torch-mlir/pull/686) for what I did locally

I also got python bindings working (many thanks to @stellaraccident suggestions).

There is another small caveat here, bazel can't have a top level directory [external](https://github.com/bazelbuild/bazel/issues/4508), it works on my case because torch_mlir is dependency and not the main repo but if

[2022-03-22 20:35] silvasean commented on #660
Sigh. If this is a blocker I suppose we can rename it :/

[2022-03-22 22:36] stellaraccident commented on #660
Double sigh. Bazel had incomprehensible limitations on names. Should have been rewritten instead of just exported from Google's internal systems with all of these spikey bits.

[2022-03-23 21:55] ramiro050 commented on #365
I've generated the Bert training graph using the AOTAutograd decompositions, and the only missing ops are

- "aten.native_layer_norm_backward"
- "aten.new_empty"
- "aten.zero_"
- "aten.index_put.hacked_twin"

[2022-03-24 22:57] asaadaldien commented on #660
I believe still an issue https://github.com/bazelbuild/bazel/issues/4508 still opened, I tried the experimental flags thigs but doesn't seem to work on my bazel version, I a sent PR #699 for the renaming.

[2022-03-25 17:16] gpetters94 commented on #638
I think I'm going to move a lot of the `at::convolution` logic to a helper (something like `createPayloadForConvolution`) since I'll be using a lot of the same logic in `at::convolution_backward`.

[2022-03-28 11:00] ljfitz opened #704 "torch-simplify-shape-calculations is incorrectly changing evaluation ops"
I tried adding this test to `test/Dialect/Torch/simplify-shape-calculations.mlir`:
[code]

The current result is `torch.prim.ListConstruct %int1, %int4, %arg1, %arg2`, where ` %int4 = torch.constant.int 4`.

It looks to me like `lib/Dialect/Torch/Transforms/SimplifyShapeCalculations.cpp`  `AbstractlyInterpretListOpsWithinABlock` is not taking steps to avoid propagating into uses of the list before

[2022-03-28 14:41] henrytwo opened #705 "Exposing C++ APIs for ModuleBuilder"
As is [currently implemented](https://github.com/llvm/torch-mlir/blob/5b6902e31c1bf61859ec03e77750407dbb011e44/python/torch_mlir/dialects/torch/importer/jit_ir/csrc/module_builder.h), the API for `ModuleBuilder` is Pybind specific. This makes it a bit hard to work with directly with C++, since it requires unnecessary conversation to `pybind11::object`.

I'm thinking of creating a `PyModuleBuilder`

[2022-03-28 17:16] silvasean commented on #705
I think we just need to delete ModuleBuilder completely (it's been due for an overhaul -- it's some of the oldest code in the repo).

If you look at what it contains, it's basically:
1. Helpers for initializing a context, registering dialects -- should just be free functions
2. the methods importModule/importFunction which are basically just "one-line" methods that call out to lower-level helpers

[2022-03-28 17:25] henrytwo commented on #705
Currently I'm trying to use the `jit::Graph` from the TS LTC backend and generate MLIR from that using the existing code in `torch-mlir`. So far I've tried extracting the `jit::Block` out of `jit::Graph` and feeding that into `torch_mlir::importBlock` to generate MLIR, but I've been running into some MLIR type generation issues (something related to `parametricUniquers` being null in the guts of L

[2022-03-28 17:32] asaadaldien commented on #660
I send a #706 for rules to build the compiler part, I will send followup PRs for python bindings and lit tests.

[2022-03-28 18:02] silvasean commented on #705
Conceptually, using importBlock on a jit::Block "Should Work" and is the natural way to do this, so I would recommend digging into the null pointer issue.

[2022-03-28 18:45] lorenzbc opened #708 "[RFC] Lowering `aten.index_add_` through the TM Tensor Dialect"
Hey @ramiro050 and @yihonglyu,

Trying to move `aten.index_add_` so that it goes through the TM Tensor Dialect

Inspired by [this PR lowering aten.bincount](https://github.com/llvm/torch-mlir/pull/574/commits/f818ce22f3999e28b05455b188aaa24dc9ee1798), here's my current plan:

1. Add `AtenIndexAdd` to `e2e_testing/torchscript/basic.py`
2. Define `Toch_AtenIndexAddOp` in `include/torch-mlir/Dialect/

[2022-03-28 19:34] henrytwo commented on #705
We figured out the issue -- it looks like the MLIR dialects weren't properly registered before. `importJitFunctionAsFuncOp` is able to run successfully now, so I don't think we'll be touching `ModuleBuilder` at this time.

[2022-03-28 19:56] ramiro050 commented on #708
Looks good. I would perform step 5 before anything else, so that you're able to access the op in C++. Also, is there a reason why we cannot decompose this op into `index_put` with the `accumulate` flag set to `True`?

[2022-03-28 20:18] #704 closed

[2022-03-28 22:38] lorenzbc commented on #708
Looping the convo @ramiro050 and I had had offline

`index_add_` could potentially become an instance of `index_put`

[The documentation](https://pytorch.org/docs/stable/generated/torch.Tensor.index_put_.html) statutes that the `accumulate` flag turns the op from `tensor[index] = value` to `tensor[index] += value`

This behavior makes sense but imo is not intuitive (as evidenced by the fact that I

[2022-03-29 00:50] ramiro050 commented on #708
Yeah, I think a good first step would be to have some pseudo-code for what the decomposition would look like because after looking at the `index_add` op more closely, it is not trivial to decompose to `index_put`. Some careful broadcasting has to be performed. That would give us a good understanding of if there are limitations to the decomposition approach or not.

[2022-03-29 16:05] erman-gurses commented on #672
@vivekkhandelwal1 Can you please share your opinion about this RFC? Particularly, feasibility of using `TMTensor::ScatterOp`. Last time we have a short discussion about it. What would be the problem converting 3D indices tensor to 2D tensor? Are we losing the functionality indices when we do that? Can you please elaborate them?

[2022-03-29 23:12] silvasean opened #715 "Depend on torch-mlir via CMake"
Moving discussion from Discord thread by @garymm

Hi I'm trying to write some C++ code that depends on torch-mlir. Does anyone have an example CMake project that depends on the torch-mlir code? If not, any tips as to the general thing I should be trying to do? I have basically no experience with LLVM's build system. So far I've tried this:
transforms/CMakeLists.txt:
[code]

transforms/passes.cpp:

[2022-03-29 23:21] silvasean commented on #715
I believe this is an issue with CMake's handling of transitive dependencies. I'm not sure I ever knew the exact root cause, but even within Torch-MLIR, we need to manually set up each target's includes and have some functions for that. Can you access this function?

https://github.com/llvm/torch-mlir/blob/3a96078571b97fba380aa2f13a6a44332494b105/CMakeLists.txt#L109

I think you might be able to fi

[2022-03-30 00:45] #664 closed

[2022-03-30 01:39] sjarus opened #716 "0-dim shapes seen from aten.slice.tensor shape resolution"
For TOSA backend testing, we lowered several tests, whose legalizations fail due to instances where aten.slice.tensor emits an output whose shape has at least one 0-dim .

The simplest way to repro this is to create a static shaped IouModule, i.e.

[code]

Running this with the e2e script and --config=tosa should emit a file /tmp/IouOfModuleStatic.mlir which will show something like:

`%39 = torch

[2022-03-30 17:40] dan-garvey commented on #716
https://github.com/llvm/torch-mlir/blob/main/lib/Conversion/TorchToLinalg/DataMovement.cpp#L717

I'll try your test case. Off the top of my head, I know that pytorch itself does allow for 0-dim in tensor shapes, so  we modeled the slice lowering to allow for it also.

[2022-03-30 19:47] silvasean commented on #716
I have a fix for the shape inference issue (will post PR after meetings).

[2022-03-30 19:49] sjarus commented on #716
Yeah this isn't specifically about TOSA - it just happens that we identified it in a failed TOSA legalization and worked back to the defining op of the aten.sub that would not legalize due to the 0-dim shape. The defining op was the slice. I didn't test the RefBackend but I expected it to fail as you've confirmed.

RefineTypes was the first place I looked, but I could not find something like visit

[2022-03-30 20:00] silvasean commented on #716
Shapes are now computed with the shape library: https://github.com/llvm/torch-mlir/blob/main/docs/shape_lib.md

[2022-03-30 21:15] silvasean commented on #716
@dan-garvey after my fix in https://github.com/llvm/torch-mlir/pull/721 there still seems to be some issue with affine maps in IouOfModuleStatic when lowering linalg to buffers -- can you take a look and add that test?

[2022-03-30 22:10] lorenzbc commented on #708
Hey Ramiro,

Looking at [the index_put.py test](https://github.com/llvm/torch-mlir/blob/6b637a9fd91022f18eb272fac5426bc93034f901/python/torch_mlir_e2e_test/test_suite/index_put.py) on the torch-mlir side, it seems that `IndexPutOneDimFloatAccumulateModule` and `IndexPutOneDimIntAccumulateModule` both rely on `torch.ops.aten.index_put` with the accumulated flag set to True

In [TorchToTMTensor.cpp]

[2022-03-30 23:36] #716 closed

[2022-04-01 19:44] henrytwo opened #727 "Adding shape information for Torch MLIR LTC Backend"
After https://github.com/llvm/torch-mlir/pull/725 lands, the next goal is to try to add shape information to the output MLIR.

`lazy::Node` contains tensor shape information (retrieved by calling `shapes()`); however, this information is not retained when it's converted to a `jit::Node`. ([This](https://github.com/henrytwo/torch-mlir/blob/2de2f1182452b6d070d2ed484804c056436215b9/python/torch_mlir/

[2022-04-01 20:51] silvasean commented on #727
`jit::Value`'s of `c10::TensorType` should be able to hold a shape.

[2022-04-01 21:03] henrytwo commented on #727
Ah that's good to hear -- I'll investigate what we can do upstream

[2022-04-02 07:51] clemente0420 commented on #150
still the issue

[2022-04-02 07:58] clemente0420 opened #730 "can't use address santizer"
==34238==AddressSanitizer CHECK failed
XPURT /home/baidu/xpu/XMLIR/build/tools/torch_xmlir/python_packages/torch_xmlir/torch_xmlir/libxpurt.so loaded
==34238==AddressSanitizer CHECK failed: ../../../../src/libsanitizer/asan/asan_interceptors.cc:384 "((__interception::real___cxa_throw)) != (0)" (0x0, 0x0)
    #0 0x7f329c84ebf2  (/usr/lib/x86_64-linux-gnu/libasan.so.4+0xe9bf2)

[2022-04-04 15:07] cathyzhyi commented on #708
Hey @lorenzbc, the code for `index_put.py` is for testing so `torch.ops.aten.index_add` must there.  Potentially, you might be able to decompose `torch.ops.aten.index_add` into `torch.ops.aten.index_put` in `lib/Dialect/Torch/Transforms/DecomposeComplexOps.cpp` but as Ramiro mentioned in https://github.com/llvm/torch-mlir/issues/708#issuecomment-1081289430 the first step is to double check the pse

[2022-04-04 17:42] silvasean opened #735 "Only simplify shape calculations inside shape calculation regions"
https://github.com/llvm/torch-mlir/blob/886ad169e5da32e3a35c2936846c791cc9d6e795/lib/Dialect/Torch/Transforms/SimplifyShapeCalculations.cpp#L32

We should only apply the transformations inside SimplifyShapeCalculations within the shape calculation regions. This can be accomplished by passing in a restricted set of ops to the applyPatternsAndFoldGreedily call [here](https://github.com/llvm/torch-ml

[2022-04-04 20:05] silvasean commented on #730
Hi @clemente0420, can you list your repro steps? I'm not sure what the issue is from your description.

[2022-04-04 20:22] henrytwo commented on #727
I opened an issue on the PyTorch side here: https://github.com/pytorch/pytorch/issues/75217

[2022-04-05 22:33] garymm commented on #715
Thanks for the advice.
I didn't get this working but I'm not planning on working on it in the next few weeks, so feel free to close this issue.
I'll ask to re-open the issue if / when I need more help.

[2022-04-05 22:48] silvasean commented on #715
Okay, we will close it for now.

[2022-04-06 21:04] lorenzbc commented on #708
hey @cathyzhyi

I talked to @ramiro050 last Friday to figure out how to reshape the updates tensor so that it won't throw an error during broadcasting.

This is the reference example in pytorch
![image](https://user-images.githubusercontent.com/101747922/162069765-b80fa6b2-9d7a-4098-b680-d58480941782.png)

Here are the 3 conditions for the reshaping:

1. `updates` needs to have the same rank as `i

[2022-04-07 22:51] henrytwo commented on #727
Closing this issue now that we have a PR open: https://github.com/llvm/torch-mlir/issues/727

[2022-04-07 22:51] #727 closed

[2022-04-09 01:17] ZhanqiuHu opened #746 "Assertion `isa<U>()' failed error"
We ran into some errors while running torch-mlir on our model. However, we are not sure why this error occurs and it is hard to track which function is causing it. We suspect that it has to do with the use of the `.view()` function. It will be great if someone could help identify and fix this issue, thanks!

Here are the mlir codes after the 'torchscript-module-to-torch-backend-pipeline' pass: htt

[2022-04-10 20:46] jpienaar commented on #746
Could you compile and rerun with RelWithDebInfo (or Debug) this should give a much better stack trace (you may also need llvm-symboilize in path).

[2022-04-10 21:21] ZhanqiuHu commented on #746
We did try to output debug messages, and here's the last part of the error message:
[code]

[2022-04-10 21:23] morgankeizo commented on #715
Hi, I am also interested in depending on torch-mlir. However, I am running into issues at the generating build files step, yet alone the include path issue above.

I am following @garymm's method (below), which seems to have worked before #726 but now generates the error following. Not much experience with LLVM's build system either so any advice would be appreciated.

[code]

[code]

[2022-04-10 21:24] jpienaar commented on #746
llvm-symbolizer in your path or pointed to by LLVM_SYMBOLIZER_PATH will do wonders for the stack trace (should give actual file:line info)

[2022-04-10 21:25] jpienaar commented on #746
Here https://github.com/llvm/torch-mlir/blob/88c216da13dbce32e9d122b5c962a584925c1400/lib/Conversion/TorchToLinalg/DataMovement.cpp#L103 seems like the culprit.

[2022-04-10 21:27] jpienaar commented on #746
If you make that cast a dyn_cast and return failure if null (using notifyMatchFailure is good policy IMHO, but I see it isn't too widely used here) that should fix this.

[2022-04-11 15:58] cathyzhyi commented on #746
This is likely due limitations in https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/MaximizeValueSemantics.cpp and some `torch.tensor` are not converted to `torch.vtensor` successfully. `%95`, the operand of view op, is used across ` torch.prim.If %332` which I think is the reason `%95` is not converted to value tensor.  Could you get a the debug trace by using `-print-ir-a

[2022-04-11 17:46] ramiro050 commented on #746
Can you also make sure that you're using the latest main? I noticed that the MLIR file linked was generated with torch-mlir that does not yet have this commit: https://github.com/llvm/torch-mlir/commit/84a9693006f2c86cd1f5e48bf31c88ff392202fc. There have been some changes to the `MaximizeValueSemantics` pass since then that could fix the issue.

[2022-04-11 17:56] ramiro050 commented on #746
I just ran the pass on my machine, and the ops causing trouble in the `MaximizeValueSemantics` abstract interpretation are

- `torch.aten.copy_`
- `torch.prim.ListConstruct`

The list op is currently not supported. However, the `copy_` op is supported. The only thing missing is that it has to be added to this list here:

https://github.com/llvm/torch-mlir/blob/9ec0683e928bdd1acea9aeb025ed542332fab

[2022-04-11 18:12] silvasean commented on #715
@oowekyala any idea why #726 could be causing these issues?

[2022-04-12 08:53] oowekyala commented on #715
This is a setup I hadn't considered... I expected that projects which include LLVM and torch as part of a superbuild would use an [external project](https://cmake.org/cmake/help/latest/module/ExternalProject.html). From the error message, I guess some places might be using absolute paths when relative ones are expected. I'll try to reproduce this locally and investigate

[2022-04-12 09:49] qiuliang1993 opened #749 "In CPU mode, compiling torch- Mlir using the virtual environment created by Anaconda requires a CUDA environment"
Checking for PyTorch using /home/.../anaconda3/envs/torch-mlir/bin/python3.6 ...
-- Found PyTorch installation at /home/.../anaconda3/envs/torch-mlir/lib/python3.6/site-packages/torch/share/cmake
CUDA_TOOLKIT_ROOT_DIR not found or specified
-- Could NOT find CUDA (missing: CUDA_TOOLKIT_ROOT_DIR CUDA_NVCC_EXECUTABLE CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY)
CMake Warning at /home/.../anaconda3/envs/to

[2022-04-12 11:52] #749 closed

[2022-04-12 20:10] dan-garvey opened #750 "Issue with buffers when lowering slices of statically shaped tensors"
@dan-garvey after my fix in https://github.com/llvm/torch-mlir/pull/721 there still seems to be some issue with affine maps in IouOfModuleStatic when lowering linalg to buffers -- can you take a look and add that test with the fix?

_Originally posted by @silvasean in https://github.com/llvm/torch-mlir/issues/716#issuecomment-1083632134_

Haven't managed to carve out time for this yet, so adding i

[2022-04-13 15:46] makslevental opened #751 "`torch.bool` presents as unhandled signless `i1`"
Minimal repro:

[code]

Exception:

[code]

Source of exception is https://github.com/llvm/torch-mlir/blob/d46f169c1a8443caa62b23b331779399f0d0c563/lib/Dialect/Torch/Utils/Utils.cpp#L55

Solution is to add `type.isSignlessInteger(1)` in the conditional that returns `torch_upstream::ScalarType::Bool`.

[2022-04-13 16:38] gprateek93 opened #753 "Adding support for list of tensors as return type."
Some of the operations like `aten.split`and `aten.split_with_sizes` return a list of tensors. This is currently not supported in torch-mlir.
[code]

[code]
I have started working on this. Please share some thoughts over this issue.
CC: @silvasean  @cathyzhyi

[2022-04-13 16:50] anupgangwar opened #755 "Question regarding usage of aten.ones in MiniLMSequenceClassificationStatic"
Hi,

In the MiniLMSequenceClassification static model, we have an aten.ones as shown below:

[code]

Is there a way to deal with this aten.ones at the Torchscript level? This is presenting some lowering issues in TorchToTosa and it is also not clear as to why the inputs to slice (%120) are being constructed this way.

[2022-04-13 16:51] anupgangwar commented on #755
Tagging @sjarus @ramiro050.

[2022-04-13 17:10] sjarus commented on #755
Thanks for the writeup @anupgangwar! The problem here is that the ListConstruct is built from two scalars - the int1 and the result of the aten.add.Tensor which is really a scalar addition operation.

If it was just the ListConstruct followed by slice we could replace that with a tosa.concat followed by tosa.slice, as inefficient as that is. But real dealbreaker is the presence of the aten.ones in

[2022-04-13 17:28] #751 closed

[2022-04-13 21:21] silvasean commented on #753
If the number of splits is static, then we can lower it to a fixed set of SSA values. Otherwise, it requires a runtime list type which we don't have.

Generally, to use the decompositions, I think we need to do further design work similar to the shape library. Anush and I discussed in our sync -- I think he should be reaching out to file an issue and do some design work here.

[2022-04-13 21:27] silvasean commented on #755
This seems like a very peculiar pattern for getting a tensor of ones of a specific shape.

It appears that it is using a tensor to calculate a shape for some reason. I would recommend adding folders for these ops:

[code]

This should then reduce the torch.aten.ones to static shape. For torch.aten.add.Tensor, I would recommend limiting the folding to the Rank-0 case for now and reusing some of the

[2022-04-14 16:15] powderluv opened #757 "munge-calling-conventions.mlir refbackend test fails on OSX"
FAIL: TORCH_MLIR :: RefBackend/munge-calling-conventions.mlir (45 of 88)
******************** TEST 'TORCH_MLIR :: RefBackend/munge-calling-conventions.mlir' FAILED ********************
Script:
--
: 'RUN: at line 1';   /Users/runner/work/torch-mlir/torch-mlir/build/bin/torch-mlir-opt /Users/runner/work/torch-mlir/torch-mlir/test/RefBackend/munge-calling-conventions.mlir -refback-munge-calling-conve

[2022-04-14 18:06] silvasean commented on #757
Feels like an ODR/ABI issue for MLIR TypeID's.

[2022-04-14 19:36] powderluv commented on #757
@nirvedhmeshram Thanks for the pointer @silvasean . So wouldn't it fail even on other platforms if it is an MLIR TypeID issue ?

[2022-04-14 21:50] silvasean commented on #757
TypeID issues are usually due to weird linker shenanigans that are ripe for varying across platforms.

Is that the only test failing? That would be surprising.

[2022-04-14 21:56] powderluv commented on #757
yeah that is the only test that is failing:

https://github.com/powderluv/torch-mlir/runs/6025535424?check_suite_focus=true

(I am running it on my local fork to iterate before submitting PRs).

[2022-04-14 22:43] silvasean commented on #757
Interesting. I have no idea then. I would expect the TypeID issues to cause more large-scale fallout.

[2022-04-14 23:30] powderluv commented on #757
Interestingly it works on my M1 mac:

[code]

[2022-04-15 00:13] powderluv opened #758 "OSX M1 Quantization Test Failed"
[code]

[2022-04-15 00:27] powderluv commented on #758
looks like an upstream FBGEMM issue on M1. Trying to use the qnnpack backend causes a different error

[code]

[2022-04-15 15:45] nirvedhmeshram commented on #757
Yes works on my Mac too.

[2022-04-15 15:46] nirvedhmeshram commented on #758
I think this maybe an issue with torchvision, on linux side we are using
[code]
But on mac the latest available is 0.12.0

[2022-04-15 15:49] powderluv commented on #758
Ah yeah. I think I ran into having to install it from source for the M1.

[2022-04-18 08:20] qiuliang1993 opened #762 "./torch-mlir-opt --torchscript-module-to-torch-backend-pipeline error"
# TODO setp 2 convert torch.nn.Module to torch.jit
input_shape = [1,3,224,224]
input_data = torch.randn(input_shape)
alex_script = torch.jit.script(alex_model)
torch.jit.save(alex_script,"./torch_mlir.txt")

then perform
./torch-mlir-opt --torchscript-module-to-torch-backend-pipeline ../../../../py_project/test_torch_mlir/torch_mlir.txt was
error information
../../../../py_project/test_torch_mlir/

[2022-04-18 15:48] vivekkhandelwal1 opened #763 "[RFC] Add lowering for aten::_adaptive_avg_pool2d_backward"
Hi,

I am working on adding the lowering for `aten::_adaptive_avg_pool2d_backward` op. The algorithm of the op is as follows:
[code]

Since the accumulation is happening here, the lowering for this op has to be added via the TMTensor dialect. But I am not sure whether the current infra can support this kind of loop structure. I would like to hear others' views on this.

[2022-04-18 16:09] silvasean commented on #763
The general case of adaptive avg pool is quite difficult I think. The only case we handle for forward was the 1x1 result case, so this can probably be simplified in that scenario. Can you show the loop nest with that simplification applied?

[2022-04-18 16:14] silvasean commented on #762
Hi @qiuliang1993 -- torch.jit.save creates a `.pt` file, not `.txt`. The `torch-mlir-opt` tool is not able to handle .pt files -- it only handles .mlir files.

First you need to import `alex_script` into MLIR. You can see an example here: https://github.com/llvm/torch-mlir/blob/main/examples/torchscript_resnet_inference.ipynb

If you change ResNet18Module to do `self.alexnet = alex_model` instead

[2022-04-19 11:48] vivekkhandelwal1 commented on #763
The way result size is computed for adaptive avg pool forward, and backward is quite different. Here, the result size is extracted from the input tensor size. If we support only the 1x1 case, it means the input tensor has to be of size `[N, C, 1, 1]`, which I don't think will solve any purpose even if implemented. Also, I don't think the 1x1 result case will simplify this algo since the loops are

[2022-04-19 11:55] vivekkhandelwal1 commented on #763
For the 1x1 result case, the simplified algo will look like this:
[code]

[2022-04-19 19:20] silvasean commented on #763
I would think that for the 1x1 case, the backward op would be very trivial. Basically:

[code]

The forward calculation is something like `avg(x) = sum(x) / x.size()` in that case, so basically the backward function is the same as the backward pass of a global summation (modulo a data-independent factor computed from the size), which is very trivial.

[2022-04-20 08:39] vasantha-helprack opened #770 "Question: Operator for pixel_shuffle or pixel_unshuffle?"
I'm looking for an operator for `pixel_shuffle` or `pixel_unshuffle`. If it doesn't exists, can you please point me to the list of operators?

Thank you.

[2022-04-20 12:15] vivekkhandelwal1 commented on #763
Then, should we implement this for the 1x1 case only?

[2022-04-20 17:08] silvasean opened #771 "TOSA lowering is very slow"
If you run https://github.com/llvm/torch-mlir/blob/main/examples/torchscript_resnet18_all_output_types.py then the TOSA lowering seems to take much longer than the other lowerings.

CC @sjarus

[2022-04-20 23:35] silvasean commented on #763
I think we only have 1x1 implemented for the forward op, so I doubt we have a real model that uses non-1x1. So I think we should only implement the 1x1 case for now.

[2022-04-21 02:07] sjarus commented on #771
Very interesting. Thanks for raising this - I forgot to acknowledge seeing this issue posted earlier today.

[2022-04-21 02:29] antiagainst commented on #771
So it's a vision model. Maybe this is hitting https://github.com/google/iree/issues/8855 too.

[2022-04-21 05:55] #582 closed

[2022-04-21 08:48] gpetters94 opened #773 "[RFC] Implementing aten::conv_transpose1d/2d/3d"
Next op I'm going to work on is the `aten::conv_transpose*d` family. I figure decomposing them to `aten::convolution` and implementing the transposed case for that op is going to be the best way forward. From my research, it looks like padding and striding the input and using a normal linalg convolution is going to be the most efficient way to implement that.

[2022-04-21 08:50] gpetters94 commented on #773
An issue I'm running into with the initial prep work:

[code]
Changing the default values to `list(1)` leads to shape lib complaining that the signature doesn't match.

[2022-04-21 13:55] #770 closed

[2022-04-21 15:37] cathyzhyi commented on #773
Can you show your changes with a PR and paste the error message?

[2022-04-21 16:01] gpetters94 commented on #773
Okay, the PR is up at [775](https://github.com/llvm/torch-mlir/pull/775).

[2022-04-22 05:48] vivekkhandelwal1 commented on #763
There are multiple models like Alexnet and Vgg16 for which we require to add support for cases other than 1x1. For example, Alexnet has a requirement of 6x6, and Vgg16 requires 7x7. So, we have to extend the `adaptive_avg_pool2d` implementation to support these cases. The exact requirement for the backward one is still not known to me.

[2022-04-22 16:52] sjw36 opened #784 "Compile error running pytorch-pretrained-bert"
Using models from https://pypi.org/project/pytorch-pretrained-bert/

And running this script:

[code]

Gives error during torch_mlir.compile:

[2022-04-25 04:56] powderluv opened #789 "eager mode tests started to fail from build 410"
https://github.com/llvm/torch-mlir/runs/6149438281?check_suite_focus=true

[code]

[2022-04-25 09:07] hanhanW commented on #684
The op is defined in Sandbox env. We're able to add it to upstream ops definition with the same definition.

https://github.com/google/iree-llvm-sandbox/blob/c8766bf482d6a421780bc1782c0c6f9b39de765f/python/examples/conv/ops.py#L1085-L1099

[2022-04-25 13:15] vivekkhandelwal1 commented on #763
Okay, I will take a look at it.

[2022-04-25 13:57] silvasean commented on #789
Hey Maks, after you debug this, can you explain why this broke? I'm curious if it is upstream version drift/etc. and how we can prevent it in the future.

[2022-04-25 16:28] makslevental commented on #789
@silvasean

This is drift because I couldn't repro until I updated PyTorch from `1.12.0.dev20220325` to `1.12.0.dev20220425`. Still investigating though.

[2022-04-25 16:38] gprateek93 commented on #753
Hi @silvasean could you please elaborate on how I can add runtime list type in torch-mlir? It would be great if you could provide some starting point to look at? Even if we want to lower the split operation in torch-mlir, we would need that support.

[2022-04-25 17:33] makslevental opened #794 "`ConstantPad2dStaticModule` e2e test fail"
[code]

[2022-04-25 20:00] makslevental commented on #789
Fixed in https://github.com/llvm/torch-mlir/pull/793.

@silvasean @powderluv
The reason for the fail was an upstream change to how [operator_schemas.normalize_function works](https://github.com/pytorch/pytorch/commit/7a80fc2ce7568212b4620ef014f9a70f2efc0772#diff-e7602003c853555c44d805885670cf3500aefe9b8cfec7f8571e2d11f57fd56dR260) (i.e., before this change we didn't that `if` and after that change

[2022-04-25 20:00] #789 closed

[2022-04-25 21:26] asaadaldien opened #795 "Incorrectly lowering torch.aten.slice.Tensor to torch-backend"
There is a problem when lowering torch script with tensor slices to torch backend as the slice operation gets duplicated.

Here is a repro:

[code]

 When lowering to torch-backend we get:
[code]

Which isn't correct as it should just return `%2`:

[code]

[2022-04-26 12:03] silvasean commented on #753
Adding a runtime list type is quite difficult and not a direction that I think is the best for the project right now. Do you actually have a model where the number of splits is dynamic?

I think we need to take a step back and look at the problem of decompositions from the ground up. cc @powderluv

[2022-04-26 12:06] zwang92 commented on #763
- Just like @vivekkhandelwal1 comments that "Vgg16 for which we require to add support for cases other than 1x1".

When I try to lower torchvision.models.vgg16 by 'torchscript-module-to-torch-backend-pipeline,torch-backend-to-linalg-on-tensors-backend-pipeline' , it fails with error " [Lower to Linalg Fail]  'torch.aten.adaptive_avg_pool2d' legalize failed".
It is found the fail is due to ConvertA

[2022-04-26 12:22] silvasean commented on #795
Are you observing an e2e incorrect output?

IIRC each aten.slice.Tensor op only works along a single dimension, so for a 2d input there will be two of them for a construct like `x[0,:]`.

[2022-04-26 12:26] vivekkhandelwal1 commented on #763
Hi @zwang92, the reason behind the `H and W both equal to constant 1` limitation is that the implementation of the `torch.aten.adaptive_avg_pool2d` op currently supports only [1, 1] output size. You cannot just remove this limitation because the behavior of the op for the output size other than [1, 1] is different than that of the output size [1, 1]. Therefore to remove this limitation, i.e., supp

[2022-04-26 12:46] zwang92 commented on #763
@vivekkhandelwal1  thanks a lot for your answer.
I am newcomer of MLIR. About your comments "support output sizes other than [1, 1], the implementation must be modified"  , do you mean the source code in ConvertAtenAdaptiveAvgPool2dOp::matchAndRewrite as following picture must be modified to support output sizes other than [1, 1]  even though the code taking H and W into account ?

![image](https:

[2022-04-26 12:46] zwang92 commented on #763
@vivekkhandelwal1  thanks a lot for your answer.
I am newcomer of MLIR. About your comments "support output sizes other than [1, 1], the implementation must be modified"  , do you mean the source code in ConvertAtenAdaptiveAvgPool2dOp::matchAndRewrite as following picture must be modified to support output sizes other than [1, 1]  even though the code taking H and W into account ?

![image](https:

[2022-04-26 13:05] gprateek93 commented on #753
Thanks! As discussed over chat, I will try to lower this operation in `ListConstructOp` for static offsets.

[2022-04-26 13:19] vivekkhandelwal1 commented on #763
@zwang92 Yes the source code in `ConvertAtenAdaptiveAvgPool2dOp::matchAndRewrite` has to be modified. The current code only adds all the elements and divides them by `HxW`, which is 1 in this case. The original definition of the op is available at: https://pytorch.org/docs/stable/generated/torch.nn.AdaptiveAvgPool2d.html?highlight=adaptive#torch.nn.AdaptiveAvgPool2d

[2022-04-26 13:48] silvasean commented on #763
There are 4 values: W, H, which are the input width and height, and also output_size() which contains outW, outH -- the unimplemented part is supportin outW and outH != 1.