[2022-09-16 00:32] stellaraccident commented on #1366
How about to unblock progress, you all just create a `tcp` branch in the torch-mlir repo. Work there, and review each patch per usual guidelines as if it is going into mainline. Then we rebase/merge the whole thing once we are able to discuss.

There shouldn't be much development flow difference to working on the `tcp` branch vs `main`. That is pretty inline with normal development flows in the in

[2022-09-16 00:43] sjain-stanford commented on #1366
This is a good suggestion. I just created a `mlir-tcp` branch in this repo. We will change the base branch for all TCP PRs to use this branch from now. Each PR can be reviewed as usual, and at a later point in time, we can do a single `mlir-tcp` -> `main` PR that would not need a re-review but just the CI to pass.

[2022-09-16 00:46] stellaraccident commented on #1366
sg. Just keep the history clean and reviewed. Then assuming we decide to go forward with it at a future checkpoint, we accept it in full (applying any additional feedback/patched per usual).

[2022-09-16 02:03] jpienaar commented on #1366
I'm very excited about this starting. Definitely a lot of questions to answers and to refine. I bias there on being able to see things and evaluate how they fit and value they bring. Having an open venue where this initially bootstrapping can happen (while ensuring community has visibility and/or is able to participate in design discussions) SGTM. I think there is a lot to consider and these won't

[2022-09-16 02:09] silvasean commented on #1366
For those examples, the stakeholders were either just Torch-MLIR or "not broadly the MLIR upstream community". This case is different, because, as far as I know, the key stakeholders are the broader upstream MLIR community. The goal is for TCP to be "for all of the MLIR ecosystem and all frontends", not just Torch-MLIR + non-upstream stakeholders.

If this were pitched as a way that did not intera

[2022-09-17 16:55] asl commented on #1374
@silvasean Unfortunately, no :(

[2022-09-18 23:34] powderluv opened #1381 "remove pinning to CPU only version of PyTorch"
Currently we only depend on torch versions with the `+cpu` suffix which causes errors like

[code]
when installing the binaries.  We should try to remove the dependency on `+cpu`.

[2022-09-19 13:23] vivekkhandelwal1 commented on #1348
I'm closing this since the bug was with some other op.

[2022-09-19 13:23] #1348 closed

[2022-09-19 16:39] AmosLewis opened #1383 "Support for Byte datatype"
I am trying to lower GPT2 torch model to linalg in this link:
[https://github.com/nod-ai/SHARK/pull/341](https://github.com/nod-ai/SHARK/pull/341)
[https://github.com/nod-ai/SHARK/issues/337](https://github.com/nod-ai/SHARK/issues/337)
but get the following bug.
[code]
I am planning to add a datatype of Byte just like this patch [https://github.com/llvm/torch-mlir/pull/1169](https://github.com/llv

[2022-09-19 17:36] silvasean commented on #1383
SGTM!

[2022-09-19 17:53] AmosLewis commented on #1383
Could you add me as a contributor, so I can PR my code?

[2022-09-20 00:05] ramiro050 commented on #1374
@GMNGeoffrey, this is now affecting IREE as well:

[code]

The HTML for the `releases` page no longer has download links in it.

[2022-09-20 03:55] stellaraccident commented on #1374
We need to acquire/craft a script that generates a pip index file and then publish that. It is probably no more than ~a hundred lines of code. But I don't just have it handy...

[2022-09-20 04:18] stellaraccident commented on #1374
Index specification: https://peps.python.org/pep-0503/

The script should scrape the releases API and publish the set of files. We would need to figure out where to put them. Could be a cloud storage bucket, branch in the git repo served raw, or gh-pages

[2022-09-20 13:45] dellis23 commented on #1374
I wrote a quick script to parse the releases page: https://gist.github.com/dellis23/eac78bdde36b7b22d58bc13f8a0608e6

It seems to install from the output page for me just fine.

[2022-09-20 13:49] silvasean commented on #1374
Thanks Daniel! Can you create a GitHub actions that runs that hourly and pushes that to a destination? Perhaps the gh-pages branch using GitHub pages to serve the HTML file.

You can model the action on this one, but running your script instead: https://github.com/llvm/torch-mlir/blob/main/.github/workflows/releaseSnapshotPackage.yml

[2022-09-20 14:16] #1364 closed

[2022-09-20 14:21] dellis23 commented on #1374
I created a branch, but I might be missing some permissions to set up the github pages repo.  Do you see this settings tab in your view?

![image](https://user-images.githubusercontent.com/1346302/191283413-a05f718b-0ceb-477d-adcf-15e06ee5363f.png)

[2022-09-20 14:24] dellis23 commented on #1374
I think I might be missing some permissions on the repo.  Do you see a settings tab?

![image](https://user-images.githubusercontent.com/1346302/191284096-090406b1-bb83-46d5-af6f-8d80ca76173d.png)

[2022-09-20 14:27] silvasean commented on #1374
Hey Dan, can you try now? If not, I can set up the boilerplate.

[2022-09-20 14:28] dellis23 commented on #1374
Yup, I've got a few new tabs now, thanks!  Will work on setting this up.

[2022-09-20 15:19] JakopinA opened #1390 "Unable to expand into multiple dynamic dims (Aten.View Collapse/Expand)"
Hi, I've been working on a solution for Aten.view collapse/expand for #1353. With the following test, I've been trying to implement support for dynamic collapse and expansion:

`class ViewFlattenAndExpandModule(torch.nn.Module):
    def __init__(self):
        super().__init__()

    @export
    @annotate_args([
        None,
        ([-1, -1], torch.float32, True),
    ])

    def forward(self, a

[2022-09-20 15:27] qedawkins commented on #1390
The problem here is that tensor.collapse and tensor.expand ops don't allow for the dynamic flatten then expand so the fallback "flatten then expand" approach we wanted are contingent on changes in MLIR for dynamic cases other than [?, ?] -> [at most one dynamic dim].

[2022-09-20 16:04] dellis23 commented on #1374
Update: I now have the releases being autogenerated [here](https://github.com/llvm/torch-mlir/blob/github-pages/index.html.  Unfortunately I've run into a number of issues getting github pages to publish this correctly, and pip won't install directly from the file because the content type is `text/plain`.  Gonna keep trying to find a workaround.

[2022-09-20 18:46] dellis23 commented on #1374
I've prepared a PR to automatically generate the releases page every hour.  It should be available at https://llvm.github.io/torch-mlir/

[2022-09-20 18:49] powderluv commented on #1374
awesome. Since we build only once a day it could be slower.

[2022-09-20 21:09] dellis23 commented on #1374
Yeah, that would make the potential delay be up to a day though.  Unless there's a way to make this job downstream of the other or we can rely on consistent timing.  Either way, this is about as lightweight of a job as it gets, so I don't think it matters.

[2022-09-21 07:06] rxd1999 opened #1393 "Providing complete support for transformer model"
Hello,
I've been working on providing support for transformer model via torch-mlir, I just changed example like resnet18 to vit_b_16, I found that it has problem when lower it to linalg-on tensor via torch_mlir.compile.

` error: 'torch.prim.If' op  along control flow edge from Region #1 to parent results: source type #0 '!torch.tensor<*,f32>' should match input type #0 '!torch.tensor'

[2022-09-21 08:58] silvasean commented on #1393
@powderluv on model coverage -- is this in our set? vit_b_16 sounds familiar.

[2022-09-21 15:48] #823 closed

[2022-09-21 17:06] powderluv commented on #1393
Yes we are tracking VIT lowering. I think this is the last piece https://github.com/llvm/torch-mlir/issues/1390 required.

[2022-09-21 17:06] powderluv commented on #1393
@JakopinA who is working on this

[2022-09-21 17:28] JakopinA opened #1394 "[Tracker] View Op Error"
Hi there,

I've run into an issue with my view op in the tracker that I'm not getting locally AFAIK, here is a link to the error I'm getting.

https://github.com/llvm/torch-mlir/actions/runs/3098387581/jobs/5016251430

[2022-09-21 17:32] silvasean commented on #1364
Can you please re-enable the tests as well?

[2022-09-21 17:38] antoniojkim commented on #1364
@silvasean where is it disabled? I only see it disabled for the `mac-arm64` which I thought was disabled for a different reason.

[2022-09-21 19:21] dellis23 opened #1396 "Build failing with "no matching function for call to 'convert'""
See here: https://github.com/llvm/torch-mlir/actions/runs/3098310406/jobs/5016066081#step:4:41827

I _think_ this is the relevant error.

[code]

[2022-09-22 02:27] AmosLewis commented on #961
I encounter the same issue to lower the huggingface gpt2. [https://gist.github.com/AmosLewis/9b929414d5677afda3528122f92bbc73](https://gist.github.com/AmosLewis/9b929414d5677afda3528122f92bbc73)  @sjarus
error: failed to legalize operation 'torch.constant.int'

[2022-09-22 02:28] sjarus commented on #961
torch.constant.int is a known missing conversion.

[2022-09-22 09:31] silvasean commented on #1364
This is the line that enables it on the CI: https://github.com/llvm/torch-mlir/blob/4ef6e69ed49f309aa70ea40f12bf7488cd8e3434/build_tools/python_deploy/build_linux_packages.sh#L243

[2022-09-22 09:32] #1394 closed

[2022-09-22 16:35] p-linnane commented on #1374
Update from GitHub support:

[2022-09-22 17:16] silvasean commented on #1374
@p-linnane thsnk for digging into this! I don't think that the "Release assets API" works with the `-f ` flag on `pip`, so it doesn't solve the problem.

[2022-09-22 17:19] p-linnane commented on #1374
Not trying to present it as a solution. Just wanted everyone to know GitHub's actual stance on this.

[2022-09-22 17:28] GMNGeoffrey commented on #1374
Thanks @p-linnane, I think it would be good to mention to them that this isn't some custom thing we've built, but rather leveraging a feature built-in to `pip`. So the GitHub releases go from "works directly with pip's `--find-links`" to "require some custom solution". Of course, that doesn't mean they need to support it, and indeed scraping webpages seems pretty brittle

[2022-09-22 20:41] dellis23 commented on #1076
I just ran into this too while trying to create the most minimal example I could think of.  It looks like #862 has been merged though.

Here's what I tried:

[code]

The full error:

[code]

Additionally, the suggestion to use `torch-mlir-opt` to debug the problem didn't work for me.  I'll file a separate bug for that.

[2022-09-22 20:45] dellis23 opened #1404 "Recommended tool `torch-mlir-opt` not found"
The exception from #1076 suggests using `torch-mlir-opt` to debug a problem.  When I try to do so, I get the following error, even when I have activated the environment `torch-mlir` is installed in:

[code]

[2022-09-22 20:47] dellis23 commented on #1076
Unlike the original poster's report, I am not able to increase the number of outputs of the linear layer to get around the problem (i.e. using `torch.nn.Linear(1, 2)` still throws the exception).

[2022-09-22 21:26] ramiro050 commented on #1404
The `torch-mlir-opt` tool should be located in `{TORCH_MLIR_BUILD_DIR}/bin/`.

[2022-09-22 21:32] dellis23 commented on #1404
Yeah, it seems like we should either update the error to point to that directory or add it to the path when the user installs via pip (I believe via [`entry_points`](https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html)).

[2022-09-22 21:35] ramiro050 commented on #1076
The error you're getting seems to be caused by the fact that the decomposition currently expects the input tensor to have rank >= 2:

https://github.com/llvm/torch-mlir/blob/4ef6e69ed49f309aa70ea40f12bf7488cd8e3434/lib/Dialect/Torch/Transforms/DecomposeComplexOps.cpp#L2078

However, this does not seem to match the op documentation, which allows any tensor with rank >= 1. From looking at the decomp

[2022-09-23 05:59] harishanand95 opened #1406 "F.interpolate fails due to a missing shape transfer function in shape_lib_gen.py"
Reproducible code:
[code]
Error message:
[code]

I'm facing this error when running torch-mlir on F.interpolate, can someone help me fix the issue? Thanks!

[2022-09-23 06:15] powderluv commented on #1328
@ashay I have a WIP on how I think we could pin PyTorch and roll only when our tests pass. So we get the best of being very close to PyTorch automatically like we do -- but we don't roll into a broken master.

I have a pseudo-code branch here: https://github.com/llvm/torch-mlir/tree/RollPyTorch if you want to give it a crack.

Basically we add a nightly that runs our current OOT+PyTorch source bui

[2022-09-23 10:59] silvasean commented on #1406
Here's our guide for adding a new op! https://github.com/llvm/torch-mlir/wiki/Torch-ops-E2E-implementation

[2022-09-23 18:26] powderluv commented on #1328
Oh thank you for the commit.  I think pinning the binary is good too, but I think we still need pure source builds for downstream customers. They will have long supported PyTorch forks (long past the PyTorch nightlies are removed) to enable a hermetic build environment without an external binary.

Do you know anyway we can find the SHA of that particular binary you got with
`python -m pip index ve

[2022-09-23 21:09] #1226 closed

[2022-09-23 21:21] qedawkins opened #1411 "[RFC] Support for an embedded build of Torch-MLIR"
Hi all,

With the recent RFC in ONNX-MLIR for a conversion path from ONNX-MLIR to Torch-MLIR (#1255 and then https://github.com/onnx/onnx-mlir/issues/1639) there is a use case for building Torch-MLIR as part of another project (https://github.com/onnx/onnx-mlir/pull/1731).

Currently we can support this in ONNX-MLIR by treating it as an out-of-tree build (see #1403), but some discussion in #1403 s

[2022-09-24 17:01] stellaraccident commented on #1411
The cmake gymnastics for this are not as clean as I would like but we do have a few examples. In general, the code location doesn't matter so much as that the perfect is set up to be used as an llvm external project. I think this has been partially done for torch-mlir at some point.

You found mlir-hlo as one example. iree-dialects was also setup this way: https://github.com/iree-org/iree/blob/mai

[2022-09-24 17:39] qedawkins commented on #1411
Thanks for the comments. As you said, it's not really a matter of where the code is but more that the options for building Torch-MLIR embedded have room to be formalized (although I am no cmake expert). For ONNX-MLIR we can just work with the out-of-tree build, but it might not a robust solution if there are other projects looking to use Torch-MLIR in a similar manner.

There isn't an urgency here

[2022-09-24 19:52] stellaraccident commented on #1411
I think it is a good idea to pursue. There was really no reason it wasn't set up this way except for the early stage of the project.

I'm happy to consult/review, but having done a couple of these, I'd prefer to spread the love/knowledge a bit vs just doing the surgery myself.

[2022-09-26 13:15] arnab-oss opened #1414 "Getting `mhlo.concatenate` op verifier error while running PyTorch U-Net model (https://pytorch.org/hub/mateuszbuda_brain-segmentation-pytorch_unet/)"
Python file contents:

[code]

Command run:
`python <filename.py>`

[2022-09-26 13:31] #1414 closed

[2022-09-26 17:56] powderluv commented on #1328
Thanks @ashay

I don't think we want to save our Torch-MLIR version in the github repo. That is calculated by the release build and named accordingly when creating it. We don't want to conflict with that in the RollPyTorch.yml builder. So just PyTorch SHA is sufficient I would think. I would also suggest `pytorch-version.txt`   just like https://github.com/pytorch/pytorch/blob/master/version.txt s

[2022-09-26 18:21] silvasean commented on #1328
@GMNGeoffrey @stellaraccident -- any idea for how to push an updated SHA1 hash directly into the repo? Do we need to disable branch protection somehow? We currently have branch protection for CI and unresolved conversations.

[2022-09-26 18:33] GMNGeoffrey commented on #1328
In IREE we have it set to require pull request reviews, but admins can override. That means that admins can make direct pushes to the repo:

![image](https://user-images.githubusercontent.com/5732088/192353114-0e012336-411c-4abf-bf70-29798cc25c5e.png)

This is nice because gives us break glass when CI is stuck or something, but also a bit terrifying because running the wrong `git push` command can

[2022-09-26 18:34] GMNGeoffrey commented on #1328
(Also note that from a security perspective, allowing admins to do this makes zero difference because if we check the box saying they can't, then as an admin they can always go uncheck it.

[2022-09-26 19:17] ZihengJiang commented on #1411
We also meet the same issue while building torch mlir in an embedded way and have some patches on local. I'll share it here for your information:

https://gist.github.com/ZihengJiang/65e182f82e510b87fc4e07feb9c21648

cc @Vremold

[2022-09-26 19:29] ZihengJiang opened #1418 "[FeatureRequest] Allow setting legal ops"
Currently the legal op set is binding with backend(https://github.com/llvm/torch-mlir/blob/main/python/torch_mlir/__init__.py#L131), however, even for the same IR backend like MHLO, two developer groups may have their own legal op set. It would be better to allow user to set the legal op directly via the `compile` API instead of backend-based.

[2022-09-26 19:29] #1270 closed

[2022-09-26 19:30] ZihengJiang commented on #1270
Solved after add some new ops into the torch dialect

[2022-09-26 19:37] GMNGeoffrey commented on #1328
Ah I've gone back and read the context here. A PR might not be a bad idea anyway, since it will run presubmits. You could even set up a bot to auto-approve it so it just needs to pass required checks :-) I think the latter would require a second bot account. If you want to push directly you'll need to use a bot account or app with the ability to bypass checks (can configure which users can do that

[2022-09-26 19:39] powderluv commented on #1328
@ashay  for testing we can push to the same RollPytorch branch ref. Once it is working we can open a new PR

[2022-09-27 12:35] #1361 closed, assigned to ashay

[2022-09-27 13:03] jpienaar commented on #1361
We are still triaging this failure: last status I heard was we pulled out the failing op individually and ran it through IREE without failure (testing the legalization in isolation passed).

[2022-09-27 14:12] #1109 closed

[2022-09-27 15:56] dellis23 commented on #1374
This should be installable from the releases page now.

e.g.:

[code]

[2022-09-27 15:56] #1374 closed

[2022-09-27 17:07] dellis23 opened #1423 "Lowering failed: unsupported by backend contract: tensor with unknown rank"
I'm trying to develop a training example using `functorch`.  I'm starting with a small regression.  My first step before trying to get training working was to make sure I was able to compile the forward pass.

This is the example I'm using (training steps omitted for brevity):

[code]

This gives me the following error:

[code]

[2022-09-27 17:10] silvasean commented on #1423
@ramiro050 can you PTAL at this?

[2022-09-27 18:24] dellis23 commented on #1423
I stripped it down a bit more to make it easier to reproduce:

[code]

[2022-09-27 19:15] dellis23 opened #1425 "Unable to compile functions with dictionary inputs"
I've tried a few approaches.  Not sure if any of these _should_ work or if I'm missing the correct way altogether.

[code]

[Output](https://gist.github.com/dellis23/5e661e642961732471010392a76883ea)

[code]

[Output](https://gist.github.com/dellis23/1a64b686934166bec4cbaf80215bf3bc)

[code]

[Output](https://gist.github.com/dellis23/1293ee6459ddfb9b52a983aa2a1091bb).  This seems like it's the clo

[2022-09-27 20:53] ramiro050 commented on #1423
The issue is that `make_fx` turns the `torch.matmul` into [`torch.ops.aten.mv`](https://pytorch.org/docs/stable/generated/torch.mv.html), which does not have support in torch-mlir. This had not been an issue before because the TorchScript compiler turns `torch.matmul` into `torch.ops.aten.matmul`, which is why our [`matmul` tests](https://github.com/llvm/torch-mlir/blob/8d3ca887df5ac5126fa3fc2ec35

[2022-09-27 21:17] ramiro050 commented on #1425
`torch_mlir.compile` only supports tensors for the `example_inputs` arg:

https://github.com/llvm/torch-mlir/blob/8d3ca887df5ac5126fa3fc2ec3546c6322a4d066/python/torch_mlir/__init__.py#L139

https://github.com/llvm/torch-mlir/blob/8d3ca887df5ac5126fa3fc2ec3546c6322a4d066/python/torch_mlir/__init__.py#L135

This is true not just for the python API, but torch-mlir as a whole. Inputs other than tenso

[2022-09-28 13:34] dellis23 commented on #1423
Re: `make_fx` required, I have no clue.  The [function itself](https://github.com/pytorch/pytorch/blob/06e0583fb0f62e27a52fb87f3dce3156cd2d0073/torch/fx/experimental/proxy_tensor.py#L582) doesn't seem to be documented anywhere.

Re: `symbolic_trace`, you tested on something functional?  It looks to me like it's only for `nn.Module`s.  When I try directly on a function, I get `RuntimeError: Could n

[2022-09-28 13:41] dellis23 commented on #1425
To make sure I understand, the two links are illustrating that dicts can be 1) stored on the module itself and 2) returned as outputs, but not sent as inputs?

I'm wondering what the best way to communicate this to users would be without making the intro readme too bloated.  Perhaps improving the error message and pointing to a more specific section of documentation would be good.  Right now, the

[2022-09-28 14:24] silvasean commented on #1425
This is a classic "you call a thing that calls a thing and that thing has the error and we don't bother to massage it to make it better" situation. I think we can solve this with just an "elif" here to catch the "neither Tensor nor TensorPlaceholder" case: https://github.com/llvm/torch-mlir/blob/8d3ca887df5ac5126fa3fc2ec3546c6322a4d066/python/torch_mlir/__init__.py#L200

[2022-09-28 14:26] silvasean commented on #1423
I think we should add support for `torch.ops.aten.mv`. Or use a functorch-level decomposition of it back into matmul.

[2022-09-28 14:58] dellis23 commented on #1423
Sounds good.  I'll work on that soon.

[2022-09-28 16:44] ramiro050 commented on #1423
Yeah, I just replaced in your code `make_fx` with `symbolic_trace`, and the script runs without any errors:

[code]

[2022-09-28 16:46] ramiro050 commented on #1423
According to the `torch.fx` docs, it should work on functions:

https://pytorch.org/docs/stable/fx.html#torch.fx.symbolic_trace

[2022-09-28 16:57] ramiro050 commented on #1425
Yes. However, this is only true for importing the TorchScript into torch-mlir. Once you try to lower to the backend contract, returning a dict will fail, since none of the backend, AFAIK, support returning a dict.

[2022-09-28 17:56] dellis23 commented on #1423
Interesting.  That works for me now too, thanks.  I may have gotten my tabs mixed up with `make_functional`.

I'm not sure what the best direction to head here is.  What is the intended difference between `symbolic_trace` and `make_fx`, or how should a user know when to choose one over the other?

[2022-09-28 22:23] ramiro050 commented on #1423
This might be a question better suited for pytorch. My understanding from playing around with the two is that `symbolic_trace` will trace your `forward` method, but if your method calls a submodule of your `torch.nn.Module`, that call will not be traced; it will simply be left as a `call_module` op. On the other hand, `make_fx` will trace through everything and generate a single graph with only `c

[2022-09-28 23:19] #1340 closed

[2022-09-28 23:43] sjarus opened #1434 "CI build failure on PR"
Hi, the build for https://github.com/llvm/torch-mlir/pull/1429 is failing : https://github.com/llvm/torch-mlir/actions/runs/3143681771/jobs/5110587874
The reported error is
[code]

[2022-09-29 10:04] silvasean commented on #1319
@NatashaKnk and I were attempting to use the docker build for iterative / interactive development, and the main blocker we ran into is that the Python files in the `python_packages` dir were symlinked to paths that only existed in the Docker image, so when using the package from outside, it didn't work. Perhaps we should have a way to log into the docker image and do work from there, but then ther

[2022-09-29 11:39] silvasean commented on #1423
@dellis23 can you maybe ask this on the #functorch-users channel on the PyTorch slack? I'd like to see what the PyTorch devs have to say about make_fx vs symbolic_trace -- in the end we just want the fx graph with the torch.ops.aten ops, but knowing the recommendations and pros/cons of each one would be useful.

[2022-09-29 19:00] GMNGeoffrey commented on #1374
In https://github.com/iree-org/iree/issues/9532 we're discussing what to do about this long-term for IREE (I've made the same short-term fix as you did here). Of course, sticking with this approach is option 1 :-) If y'all have input/opinions, I would be happy to hear them. One thing that would be nice is to have some amount of standardization to reduce the cognitive load on users.

[2022-09-29 19:23] dellis23 commented on #1423
Copying pytorch's responses here for posterity.

I also asked about using `symbolic_trace` with `functorch.grad`, since I was having issues with it.

So for the example I'm working on (training), it seems like using `make_fx` will be necessary, along with adding support for `mv`.

[2022-09-29 20:11] dellis23 commented on #1374
Hmm.  The only other idea I have off the top of my head is to do this in a centralized fashion for all IREE repos so we don't have to keep reimplementing it for all the sub-projects.  Though this isn't an IREE repo, so I guess that wouldn't help this project!

The other tradeoff there is that we wouldn't be able to schedule it as a downstream job of a release being built.

[2022-09-29 20:35] powderluv commented on #1374
Can we just publish to PyPi and use the `--pre` channel for nightlies and non `--pre` for stable ones ?

[2022-09-29 21:17] GMNGeoffrey commented on #1374
Please see the linked issue 🙂 there are concerns about PyPI's storage limitations

[2022-09-30 10:07] silvasean commented on #1423
Can you make_fx the symbolic_trace? Then you can get the best of both worlds.

[2022-09-30 14:49] dellis23 commented on #1423
How do you imagine that working?  `symbolic_trace` the loss function and forward function, then wrap the grad in `make_fx`?  If so, I can give it a shot, but I don't think it really helps for the end goal of making this something a user can use (e.g. it seems like a higher level tool like `iree-torch` would not be usable by a user without rewriting their model and doing manual tracing in the "corr

[2022-09-30 15:06] powderluv commented on #1328
I think now we turn off cache saving from the CI builds and the nightly roll just create the cache. I have another bug open for the cache issue with details (afk so can't link bug right now)

[2022-09-30 15:41] dellis23 commented on #1374
Isn't the main issue in that thread with storage only if we store nightlies on pypi?  It seems like @powderluv's solution would solve the storage issue since only stable releases would be pushed to pypi.

[2022-09-30 15:57] GMNGeoffrey commented on #1374
We (IREE) already upload our stable releases to PyPI. The original request was to also upload the unstable releases, which enables accessing them with the PyPI `--pre` flag. Perhaps torch isn't using PyPI at all right now? I'd certainly recommend using it for stable releases. To discuss what IREE should do with nightlies, please comment on that other issue though

[2022-09-30 16:02] dellis23 commented on #1374
I see. Things are probably getting confusing because `torch-mlir` (this repo) isn't publishing to PyPI.  Torch proper does.

[2022-09-30 16:10] powderluv commented on #1374
I think we are ready to publish. @silvasean setup the pieces and now the CI is ready. @dellis23 lmk if you want to take a crack at it. You need access to the PyPI credentials in the project.

[2022-09-30 16:12] powderluv opened #1445 "publish torch-mlir binaries to PyPi"
Now that the CI is mature we can turn on auditwheel in the nightly builder and publish to PyPi. Someone with admin rights (@silvasean or @dellis23 or @stellaraccident ) will have to put in the PyPI API key in as a Github secret and it is only a few lines of code to add to the release builder.

[2022-09-30 16:16] powderluv commented on #1328
Is the cache issue https://github.com/llvm/torch-mlir/issues/1323

[2022-09-30 16:17] powderluv commented on #1328
Lets close this and track the Cache issue separately (since that happens with / without pinning)

[2022-09-30 17:38] pashu123 opened #1446 "Supporting torch's cuda version."
For some of the torch model we have fp16 native support in torch's cuda that doesn't work on cpu.
For example(in stable diffusion):

[code]

[2022-09-30 20:02] #1425 closed

[2022-09-30 20:06] dellis23 commented on #1396
I think this particular issue is resolved now.  We may still be having occasionally other build issues, but I don't think the primary discussion is happening here.

Other issues I know of:

 * https://github.com/llvm/torch-mlir/issues/1434
 * https://github.com/llvm/torch-mlir/issues/1364

[2022-09-30 20:06] #1396 closed

[2022-09-30 20:21] dellis23 commented on #1404
I didn't realize `torch-mlir-opt` was a compiled tool.  This should still be accomplishable (via `scripts` rather than `entry_points`).  I see we're already publishing wheels, so I think we'd just need to include the script in the generated wheel and then expose it at install time.  I'll look into how difficult this would be.

[2022-10-03 17:54] ramiro050 commented on #1446
There was recently a [PR](https://github.com/llvm/torch-mlir/commit/940959589b186369925a9d53a8d0f6d39fdafac6) that added support for `u/i8` types. I think adding support for `f16` should follow a similar set of changes.

[2022-10-03 21:14] erl4ng commented on #1423
Can you elaborate :-)

not sure if you mean that `make_fx` has higher chances of just working...?

[2022-10-04 11:38] silvasean commented on #1374
@dellis23 what is your PyPI username? I can add you as a collaborator.

[2022-10-04 14:37] pashu123 commented on #1446
@ramiro I could compile torch-mlir with torch's Cuda version with no additional changes. Also, I obtained the stable diffusion's f16 IR https://gist.github.com/pashu123/84a3a2130e6db9f97c670caf42256208 (elided version) This is failing in the refine types pass which I am taking a look at.

[2022-10-04 15:18] silvasean opened #1458 "[brainstorm] What could cause ONE e2e test to fail with packages but not locally"
In IREE-Torch, there is one test that segfaults recently. The segfault is on memory access at address 0 before it falls off into ud2's in `printType`. Any ideas about build config/etc. that could explain the failure?

https://github.com/iree-org/iree-torch/pull/51

cc @ashay @powderluv

[2022-10-04 16:01] dellis23 commented on #1423
Solved by https://github.com/llvm/torch-mlir/pull/1453

[2022-10-04 16:01] #1423 closed

[2022-10-04 16:49] dellis23 commented on #1445
Okay, we have a pypi token as a github actions secret (`PYPI_API_TOKEN`).  Do you want to add it to the release builder @powderluv since you're more familiar with that process?  If not, I can look into it.

[2022-10-04 17:44] GlebKazantaev opened #1460 "Enable VerifyBackendContract in base lazy backend."
### Description
This issue is a remaining part of https://github.com/llvm/torch-mlir/pull/1412 (see discussions in this PR to understand the purpose of VerifyBackendContract pass in base lazy backend).

### Details
To enable `VerifyBackendContract` we have either to figure out how to detach MlirOperation from MlirModule after pass manager execution or update `TorchMlirComputation` and some other f

[2022-10-04 18:07] powderluv commented on #1445
Please do since I wont be able to test end to end without PyPi access. I think this https://github.com/marketplace/actions/pypi-publish would help.

We will have to uncomment this line to run audit_wheel:

https://github.com/llvm/torch-mlir/blob/eda18e351c7f0a45dd78bf8fc43efb570301c3b3/build_tools/python_deploy/build_linux_packages.sh#L145

[2022-10-05 11:43] silvasean opened #1462 "[RFC] Custom ops support"
Hey folks, custom ops has been a common feature request, and I'd like to share a design that we've been thinking about.

Let's talk first about the functionality we want to unlock for users. Generally speaking, custom ops are a way to "tunnel" information from the frontend to the backend. This can be something like a custom fusion, or something more advanced, like a representation of quantization

[2022-10-05 13:23] silvasean commented on #1404
torch-mlir-opt is a tool that should only be used by Torch-MLIR developers. Users of Torch-MLIR should not use `torch-mlir-opt` (unless they themselves are developers of Torch-MLIR). Maybe the error should say "*For developers of Torch-MLIR*, the error can be reproduced by ..."

[2022-10-05 13:27] dellis23 commented on #1404
Sure, I can update the error message.

[2022-10-05 13:27] silvasean commented on #1458
Thanks Ashay. In this case, I am able to reproduce locally with the installed packages, so files from prior runs are unlikely to be an issue.

[2022-10-05 15:45] dellis23 opened #1464 "Compiled gradient function returns incorrect values"
There are a few repos involved here (IREE, torch-mlir, and iree-torch), and I don't exactly know for sure this is a `torch-mlir` problem.  I figure this is probably a good starting point for investigation.

Script to reproduce the issue:

[code]

The output:

[code]

I'm happy to try debugging further if there's nothing I'm doing that's obviously wrong.

[2022-10-05 17:35] ramiro050 commented on #1464
Nothing in the script looks odd to me. If you can copy the MLIR at the `OutputType.TORCH` and `OutputType.LINALG_ON_TENSORS` here, I can also take a look and see if anything stands out. (you can get the IR by doing `print(linalg_on_tensors_mlir)`)

[2022-10-05 17:43] dellis23 commented on #1464
[Linalg on tensors output](https://gist.github.com/dellis23/2ebe6b559c18d1a74753964892ebf5be)

[Torch output](https://gist.github.com/dellis23/37aaec2e657fb146c115165463cc0ba2)

[2022-10-05 17:50] ramiro050 commented on #1423
Sure! So what's nice about `make_fx` is that it always returns a graph with *only* dispatch ops, which are the ops that torch-mlir is interested in. This means that importing a graph created by `make_fx` should in theory always work. If there is an error, it will almost always be due to a dispatch op not having support in torch-mlir.

On the other hand, `symbolic_trace` could capture several thing

[2022-10-05 18:04] ramiro050 commented on #1464
Regarding the first result from the graph, it is strange that the tensor [is hardcoded into the graph](https://gist.github.com/dellis23/2ebe6b559c18d1a74753964892ebf5be#file-output-py-L8) and no changes are made to it in the entire computation. Maybe using `use_tracing=True` is causing problems here.

[2022-10-05 18:09] dellis23 commented on #1464
Interesting.  That would explain why the weights don't change with each iteration.

That being said, what syntax would I use to get this working without tracing?  I believe `use_tracing` is just a convenience wrapper around doing it manually.  If I skip that step altogether (i.e just do `use_tracing=False`), I get this error:

[code]

[2022-10-05 18:20] ramiro050 commented on #1464
`use_tracing=False` should work. However, you do need to remove the overloads from each op. See: https://github.com/pytorch/pytorch/issues/84494#issuecomment-1235955989

[2022-10-05 18:24] ramiro050 commented on #1464
I think `strip_overloads` changes things in place. Can you try doing strip overloads on the graph, then passing that graph into `torch_mlir.compile`?

[2022-10-05 18:26] dellis23 commented on #1464
Whoops, good catch.  It runs now, but with the same divergence in output, unfortunately:

[code]

[2022-10-05 18:52] ramiro050 commented on #1464
Ah never mind. The div op gets folded because it's division by 1.

[2022-10-05 19:02] #1404 closed

[2022-10-05 19:30] dellis23 commented on #1464
To help narrow things down further, it seems that running the traced graph directly gives the correct results (with and without doing `strip_overloads`:

[code]

This gives:

[code]

[2022-10-05 20:58] ramiro050 commented on #1464
I found an interesting bug that affects your program: https://github.com/iree-org/iree/issues/10663. If you change types to `torch.float` we should get closer to having things working.

Also, I did notice that if you run `torch.jit.script(graph)(*dummy_args)`, you get something that looks more like what the iree-compiled graph should be producing.

[2022-10-06 08:44] jimw567 opened #1468 "Failed to legalize operation 'torch.aten.empty_like' that was explicitly marked illegal"
I am trying to generate torch-mlir for my model, but torch-mlir-opt errors out with the message "Failed to legalize operation 'torch.aten.empty_like' that was explicitly marked illegal". I am able to create a small testcase to reproduce the issue. Run the command line below on the attached file to see the error

./build/bin/torch-mlir-opt --debug --debug --torch-decompose-complex-ops tinyyolov2-ir

[2022-10-06 10:21] silvasean commented on #1396
We are now pinning the PyTorch revision and so this should happen a lot less.

[2022-10-06 14:04] GlebKazantaev commented on #1460
Hi @silvasean, I have some thoughts regarding out discussion about backend contract and LTC violations. I did more investigation about `ScalarImplicit` and `!torch.number` type which is unsupported by `satisfiesBackendContract` https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/LowerToBackendContract.cpp#L146

So the first concern is that original LTC graph we are trying to

[2022-10-07 10:04] silvasean commented on #1460
This sounds like an implementation detail of the current LTC code, not a fundamental architectural issue. Fundamentally, Scalar knows its type. Can you explain why it is so critical for LTC to lose that type information when lowering, that we are discussing a major architectural change to Torch-MLIR to work around it?

`!torch.number` is a Pythonism. In order to maintain a correctly layered system

[2022-10-07 13:05] silvasean commented on #1317
We centralized this all to build_linux_packages.sh

[2022-10-07 13:05] #1317 closed

[2022-10-07 13:06] silvasean commented on #1390
Was this fixed by #1353 ?

[2022-10-07 13:06] silvasean commented on #1362
Was this fixed by #1353? Is it a dupe of #1390 now?

[2022-10-07 13:07] silvasean commented on #1446
This was fixed, right? @powderluv

[2022-10-07 13:08] silvasean commented on #1383
Can we close this? #1384 landed.

[2022-10-07 13:11] silvasean commented on #1293
Development.md now has instructions: https://github.com/llvm/torch-mlir/blob/main/docs/development.md#cleaning-up

[2022-10-07 13:11] #1293 closed

[2022-10-07 13:12] silvasean commented on #1277
Fixed in https://github.com/llvm/torch-mlir/pull/1320

[2022-10-07 13:12] #1277 closed

[2022-10-07 13:13] #1255 closed

[2022-10-07 13:13] silvasean commented on #1239
Closing this issue as it has been moved to the forum.

[2022-10-07 13:13] #1239 closed

[2022-10-07 13:15] silvasean commented on #1227
Fixed in https://github.com/llvm/torch-mlir/pull/1315

[2022-10-07 13:15] #1227 closed

[2022-10-07 13:16] silvasean commented on #1212
Closing this as it appears we found a solution.
FYI we have a custom ops RFC as well: https://github.com/llvm/torch-mlir/issues/1462

[2022-10-07 13:16] #1212 closed

[2022-10-07 13:16] silvasean commented on #1193
Are there any remaining issues with V-Difussion?

[2022-10-07 13:16] #1193 closed

[2022-10-07 13:17] silvasean commented on #1191
@Yancey1989 it looks like https://github.com/llvm/torch-mlir/issues/1227 landed -- could you try to add these tests now?

[2022-10-07 13:18] silvasean commented on #1184
We've changed a lot about the LTC build. I'm closing this issue for now. Please file a new issue if you run into a new issue.

[2022-10-07 13:18] silvasean commented on #1179
@powderluv anything else to do here?

[2022-10-07 13:19] silvasean commented on #1162
We landed this a while ago!! Great work team!

[2022-10-07 13:19] #1162 closed

[2022-10-07 13:20] silvasean commented on #1151
Is there anything further to do in this issue? Or can we close it?

[2022-10-07 13:22] silvasean commented on #1135
This experiment is under way and quite successful in https://github.com/llvm/torch-mlir/issues/1178

We can close this issue for now and reopen / create a new issue when we need to course-correct.

[2022-10-07 13:24] silvasean commented on #1102
This appears to have been implemented in b70548edff7f55d5fa8335bf5af67f3d1ba0ba8f ed13ebfd8dae0d311208eea89826ee77e29271cc

[2022-10-07 13:24] #1102 closed

[2022-10-07 13:25] silvasean commented on #1085
Fixed by https://github.com/llvm/torch-mlir/issues/1042

[2022-10-07 13:25] #1085 closed

[2022-10-07 13:26] silvasean commented on #984
Closing as we support aten._convolution after #956

[2022-10-07 13:26] #984 closed

[2022-10-07 13:28] silvasean commented on #963
We added canonicalization for aten.add.Tensor and aten.int.Tensor so this shouldn't be an issue anymore.

[2022-10-07 13:28] #963 closed

[2022-10-07 13:30] silvasean commented on #948
It looks like we found a solution here! Closing!

[2022-10-07 13:30] #948 closed

[2022-10-07 13:30] pashu123 commented on #1446
Yes, @silvasean. We can close the isse.

[2022-10-07 13:38] powderluv commented on #1446
We have some build infra work to remove the restriction during install

[2022-10-07 13:55] powderluv commented on #1462
I assume we will also add the python wrapper to point to the custom ops from python ?

[2022-10-07 14:10] silvasean commented on #922
Closing this, as the issues have been moved to other issues or will come up as part of separate quantization efforts.

[2022-10-07 14:10] #922 closed

[2022-10-07 14:11] silvasean commented on #920
It looks like this was resolved to use a decomposition.

[2022-10-07 14:11] #920 closed

[2022-10-07 14:12] silvasean commented on #902
This is fixed after #858

[2022-10-07 14:12] #902 closed

[2022-10-07 14:13] silvasean commented on #897
Closing this as not reproducible.

[2022-10-07 14:14] silvasean commented on #879
Was this ever resolved?

[2022-10-07 14:14] silvasean commented on #878
@qedawkins can you confirm whether this is covered by our current e2e tests / lowering?

[2022-10-07 14:17] silvasean commented on #853
@powderluv did we fix this with the static build?

[2022-10-07 14:17] #853 closed

[2022-10-07 14:17] Svoch commented on #961
@silvasean - Yes. with the Torch to TOSA conversion of the Transpose Op merged, this issue can be marked as fixed.

Please note that the symptom, i.e. `error: failed to legalize operation 'torch.constant.int'` is common for most of the Ops without a TOSA lowering in Torch-MLIR, since they usually will leave dangling attributes (such as axis integers) after the Torch to TOSA conversion.

[2022-10-07 14:17] #961 closed

[2022-10-07 14:18] silvasean commented on #842
It is working again.

[2022-10-07 14:18] #842 closed

[2022-10-07 14:18] pashu123 commented on #879
@silvasean This PR https://github.com/llvm/torch-mlir/pull/951/files handles this.

[2022-10-07 14:18] silvasean commented on #837
The current e2e testing is enough to close this issue, I think. I don't think per-op non-e2e tests add much value here.

[2022-10-07 14:18] #837 closed

[2022-10-07 14:19] silvasean commented on #832
Fixed as part of #907

[2022-10-07 14:19] #832 closed

[2022-10-07 14:19] silvasean commented on #660
It is supported now: https://github.com/llvm/torch-mlir/blob/main/docs/development.md#bazel-build

[2022-10-07 14:19] #660 closed

[2022-10-07 14:20] silvasean commented on #656
We recently added torch.uint8 support, which appears to be the root cause. Closing this.

[2022-10-07 14:20] #656 closed

[2022-10-07 14:21] silvasean commented on #647
We have changed a lot about our build configurations. Let's close this for now. Please file a new bug if you have an issue with the current setup.

[2022-10-07 14:21] #647 closed

[2022-10-07 14:22] Svoch commented on #910
I think we can close this issue.
To get the custom Ops picked up by Torch-MLIR, we needed to modify QPyTorch (like [this](https://github.com/Tiiiger/QPyTorch/commit/2b5ba238734867bc5b89e838cce4ab3502a5647c)).

@silvasean - I wonder how does the [Custom Ops support RFC](https://github.com/llvm/torch-mlir/issues/1462) affect this path however, we can discuss it there for better visibility.

cc @nith

[2022-10-07 14:23] silvasean commented on #620
Closing this -- we don't need an open bug for each unimplemented op.

[2022-10-07 14:23] #620 closed

[2022-10-07 14:24] silvasean commented on #556
This is landed and pretty stable now. Closing this bug.

[2022-10-07 14:24] #556 closed

[2022-10-07 14:25] silvasean commented on #601
The new system supports this. See https://github.com/llvm/torch-mlir/blob/main/docs/shape_lib.md

[2022-10-07 14:25] #601 closed

[2022-10-07 14:26] silvasean commented on #542
Closing this as it is more "documentation" rather than an actual issue. (also the decompositions are now spread out between _decomps and _refs)

[2022-10-07 14:26] #542 closed

[2022-10-07 14:27] silvasean commented on #510
We've implemented a few of these already with TMTensor. I think we can close this.

[2022-10-07 14:27] #510 closed

[2022-10-07 14:27] silvasean commented on #462
Superceded by https://github.com/llvm/torch-mlir/issues/1462

[2022-10-07 14:27] #462 closed

[2022-10-07 14:28] silvasean commented on #504
This is basically a request for "custom ops". See this RFC: https://github.com/llvm/torch-mlir/issues/1462
Let's move discussion to the RFC.

[2022-10-07 14:28] #504 closed

[2022-10-07 14:29] silvasean commented on #415
The new system supports this. See https://github.com/llvm/torch-mlir/blob/main/docs/shape_lib.md

[2022-10-07 14:29] #415 closed

[2022-10-07 14:31] silvasean commented on #365
This issue is over a year old and ResNet/BERT solidly work. MaskRCNN was moved out of scope because the model design touches on some design aspects that cross into upstream PyTorch and will be fixed as part of a longer-term plan.

[2022-10-07 14:31] #365 closed

[2022-10-07 15:03] qedawkins commented on #1390
No, this is an MLIR issue with the tensor.expand_shape op, so we can probably move it to llvm-project.

[2022-10-07 15:04] qedawkins commented on #1362
yes, it is now a dupe of #1390.

[2022-10-07 15:04] #1362 closed

[2022-10-07 15:26] qedawkins commented on #878
It looks like this was inadvertently fixed by #1082, however there is no test for this. Do we want to add one?

[2022-10-07 15:58] powderluv commented on #853
This is still an issue on x86 macOS builds. But we don't care about those builds right now so ok to leave it closed.

[2022-10-07 18:37] GlebKazantaev commented on #1460
In `class Scalar: public TorchMlirNode` we have only two members: [c10::Scalar](https://github.com/pytorch/pytorch/blob/master/c10/core/Scalar.h#L35) and [c10::ScalarType](https://github.com/pytorch/pytorch/blob/master/c10/core/ScalarType.h) and they don't have any information that could help us to lower it either to tensor os scalar literal. That's why we use generic approach with [scalar_tensor]

[2022-10-08 00:51] ramiro050 commented on #1462
Yeah, the Torch-MLIR Python API will have a way to specify custom ops file.

[2022-10-10 00:10] powderluv commented on #1301
this is fixed.

[2022-10-10 00:10] #1301 closed

[2022-10-10 03:16] Yancey1989 commented on #1191
That’s great, I will try it asap.

[2022-10-10 09:32] silvasean commented on #1460
I don't have any objection in principle to running JIT IR passes first, since that does not affect Torch-MLIR's architecture.

I still think that there must be some way to directly produce the correct IR (by avoiding this scalar_tensor/ScalarImplicit information loss), which I think is overall the best solution here. But I can sympathize if that would be a big change. The other advantage of direct

[2022-10-10 09:33] silvasean commented on #878
Yes, let's add a test for it and close this. Thanks!

[2022-10-10 11:29] silvasean commented on #638
Did this ever get implemented?

[2022-10-10 11:30] silvasean commented on #651
Fixed in https://github.com/llvm/torch-mlir/pull/687

[2022-10-10 11:30] #651 closed

[2022-10-10 11:35] silvasean commented on #618
ResNet is working on TOSA so I think we found a solution to the immediate problem here.

[2022-10-10 11:35] #618 closed

[2022-10-10 11:43] silvasean commented on #211
This appears to be handled by the decompositions: https://github.com/llvm/torch-mlir/blob/d4e1867e903a9da9179516b2852b3b0ba2aa064b/lib/Dialect/Torch/Transforms/DecomposeComplexOps.cpp#L2092

[2022-10-10 11:43] #211 closed

[2022-10-10 11:44] vivekkhandelwal1 commented on #1193
No

[2022-10-10 11:45] silvasean commented on #950
I'm going to close this, since I think Torch-MLIR is working as intended -- we don't support lists of tensors as input.

[2022-10-10 11:45] #950 closed

[2022-10-10 11:47] silvasean commented on #1305
@Vremold can we close this issue?

[2022-10-10 11:48] silvasean commented on #382
We did the split here. Closing.

[2022-10-10 11:48] #382 closed

[2022-10-10 11:49] silvasean commented on #755
We greatly improved these scalar tensor folders, so this should be fixed now.

[2022-10-10 11:49] #755 closed

[2022-10-10 11:49] tanyokwok commented on #1193
Is there any end-to-end examples for `V-Diffusion`?

[2022-10-10 11:49] silvasean commented on #753
@gprateek93 can we close this?

[2022-10-10 11:50] silvasean commented on #750
IouOfModuleStatic works now. Closing.

[2022-10-10 11:50] #750 closed

[2022-10-10 11:59] vivekkhandelwal1 commented on #1193
It's available here: https://github.com/nod-ai/SHARK/tree/main/tank/pytorch/v_diffusion_pytorch

[2022-10-10 12:42] silvasean commented on #1324
Closing this because the reduced test case passes now:

[code]

[2022-10-10 12:42] #1324 closed

[2022-10-10 13:28] #1305 closed

[2022-10-10 15:14] dellis23 commented on #1464
I spoke too soon.  The same values were being returned, but we appear to still be just returning a constant from the graph.

https://gist.github.com/dellis23/2565ecc614ec1d4520ee8dc54d85abb1#file-output-py-L7

(Note the return of `cst`)

I get the following weights and biases after 30 training steps:

[code]

(Updated script [here](https://gist.github.com/dellis23/d425d50f7d678e25f95d6994f6d80d6b)

[2022-10-10 16:56] ZihengJiang commented on #1418
Hi Sean! Yes, we actually did the decomposition on the torch level. So allowing customizing "torch" output type is enough. Thanks!

[2022-10-10 20:32] ramiro050 commented on #1468
Hi @jimw567, I think we addressed this issue in office hours. Do you have any other questions regarding this issue?

[2022-10-10 23:12] ZihengJiang opened #1471 "Support returning single element tuple"
For example:
[code]

When such module get compiled with torch-mlir, it will raise such error:

[code]

[2022-10-10 23:37] ramiro050 commented on #1471
Hi @ZihengJiang, in torch-mlir there is no support for returning a tuple with a single element in it because at the backend contract level, the IR produced would be impossible to differentiate from the IR produced by a function that returns a single tensor.

For example, if you have a function

[code]

this becomes the following in MLIR:

[code]

Therefore, one would expect a function

[code]

to

[2022-10-10 23:40] ZihengJiang commented on #1471
Hi @ramiro050 , thanks for the clarification! In this case, can we convert the single element tuple to a single tensor automatically instead of raising the error?

[2022-10-11 00:41] ZihengJiang commented on #1151
I found that the error is due to missing some op support in Torch dialect. After adding it, the error disappeared.

[2022-10-11 00:41] #1151 closed

[2022-10-11 02:39] ashay opened #1473 "Investigate UpSampleNearest2dDynamicFactor failure after PyTorch version update"
The `UpSampleNearest2dDynamicFactor_basic` test fails on the refbackend and eager_mode backend after updating the PyTorch version to 1.14.0.dev20221010.  To reproduce the error:

1. Update the PyTorch version in pytorch-requirements.txt
2. Update PyTorch: `python3 -m pip install --user --upgrade -r requirements.txt`
3. Run the test on the reference backend: `python -m e2e_testing.main --config=ref

[2022-10-11 03:01] gpetters94 opened #1474 "Shape function issue with BLOOM float16"
I'm working on getting BLOOM to work converted to fp16. I've managed to get the conversion working in pure PyTorch, but compiling to torch-mlir fails with the following:

[code]

[Here's](https://gist.github.com/gpetters94/61440f056218f31e9d3802df7a24c5e4) the MLIR I'm running this on - it looks like [this](https://gist.github.com/gpetters94/61440f056218f31e9d3802df7a24c5e4#file-bloomforsequencecl

[2022-10-11 05:41] gpetters94 commented on #1474
Another possibility is that it's something to do with cuda. To get the model converted I had to use the cuda version of PyTorch which I know isn't what we currently support, but no cuda ops stood out in my readthrough of the MLIR.

[2022-10-11 08:29] powderluv commented on #1323
I am ok with the change from `mv` to `cp -r` to see if it helped. I actually did that change from the original Pytorch to avoid copying and just mv for speed.  So lets try that.

However I am not sure we should assume we don't clear artifacts between VM invocations in the CI. I thought it is supposed to be a clean run -- maybe it was a transient bug ?

[2022-10-11 08:34] pashu123 commented on #1474
@gpetters94 Could you share the python script? I can take a look.

[2022-10-11 09:14] silvasean commented on #1474
This looks like a duplicate of this issue: https://github.com/llvm/torch-mlir/issues/1077
See my suggested fix there.

[2022-10-11 09:55] silvasean commented on #1471
We cannot just automatically do this. It would have to be done by the user before their code reaches Torch-MLIR. We have some code to do this on FX graphs that we have been copying from project to project: https://github.com/iree-org/iree-torch/blob/94911c8fc068d135de2a810699d399e10b1cc43f/torchdynamo_poc/utils.py#L55

[2022-10-11 11:24] silvasean commented on #879
Got it, closing.

[2022-10-11 12:59] lisaliu1 opened #1477 "torch-backend-to-tosa-backend-pipeline doesn't work"
the torch-backend-to-tosa-backend-pipeline from torch-mlir doesn't really work. Because the order of the torch.constant definition affect the results dramatically. Here are some examples.
The following sequence of torch mlir instructions, cause the error "error: failed to legalize operation '[torch.constant.int](http://torch.constant.int/)'    %int0 = [torch.constant.int](http://torch.constant.int

[2022-10-11 13:44] jimw567 commented on #1468
Thanks @ramiro050 ! I am all set with this issue.

[2022-10-11 13:44] #1468 closed

[2022-10-11 14:58] Shukla-Gaurav opened #1478 "Lowering `torch.scatter` op"
This issue is created in order to figure out the best possible approach to lower `torch.scatter` op.
https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_

[2022-10-11 15:12] silvasean commented on #1477
This is very surprising. Do you have a .mlir file and torch-mlir-opt command line that reproduces this issue?

[2022-10-11 15:14] #1446 closed

[2022-10-11 15:28] lisaliu1 commented on #1477
the command line I used was:
torch-mlir-opt -pass-pipeline='torch-backend-to-tosa-backend-pipeline' ./tinyyolov2.torch.mlir

The content of tinyyolov2.torch.mlir  is listed below.

module attributes {llvm.data_layout = "e-m:e-p270:32:32-p271:32:32-p272:64:64-i64:64-f80:128-n8:16:32:64-S128", llvm.target_triple = "x86_64-unknown-linux-gnu"} {
  func.func @forward(%arg0: !torch.vtensor<[1,4,416,416]

[2022-10-11 16:48] dellis23 commented on #1464
For posterity, I filed https://github.com/pytorch/functorch/issues/1046, since it seems the issue is upstream of `torch-mlir`.

[2022-10-11 18:03] ramiro050 commented on #1478
Hi @Shukla-Gaurav, thanks for the nice explanation! This seems like a good approach to me.

[2022-10-11 23:24] ZihengJiang commented on #1471
um, ok. In my case, I only have some torch scripted models so modifying them might be hard. Thank you!

[2022-10-11 23:24] #1471 closed

[2022-10-12 06:55] powderluv commented on #1323
Ahh we added that path to support local customer forks of Pytorch source builds.

[2022-10-12 07:17] gpetters94 commented on #1474
Okay, that looks like it might've fixed it.

[2022-10-12 07:17] #1474 closed

[2022-10-12 09:56] silvasean commented on #1478
That seems reasonable.

[2022-10-12 11:21] #1418 closed

[2022-10-12 11:22] silvasean commented on #1471
@ZihengJiang In the past the way I have dealt with this is to define a wrapper module around the original model that unpacks the output, rather than modifying the model itself.

[2022-10-12 11:59] silvasean commented on #1477
These errors are deceptive (see explanation [here](https://github.com/llvm/torch-mlir/issues/961#issuecomment-1271657941)). We just need to implement the appropriate TorchToTosa lowerings. It looks like torch.aten.leaky_relu is the source of the torch.constant.float issue, and it looks like either torch.aten.constant_pad_nd or torch.aten.max_pool2d are the source of the %int0 issue.

[2022-10-12 13:40] ashay opened #1486 "Handoff LLVM and PyTorch updates"
Due to a change in my job responsibilities, I am unable to continue to contribute to Torch-MLIR, so this issue records tasks that I had been previously working on and their new ownership.

1. Green commits:  I will continue to post LLVM green commits every week, update MHLO to said LLVM commit, and post the MHLO green commit to the Issue #1178.

2. LLVM updates: We need a new owner for updating th

[2022-10-12 14:28] silvasean commented on #1486
@powderluv @ZihengJiang @tanyokwok @ramiro050 -- do you folks have any bandwidth on your teams for helping with the LLVM updates? I think we can make a rotation of various engineers that do the update after Ashay tags the green commit hashes.

[2022-10-12 16:29] powderluv commented on #1486
We are happy take over the PyTorch updates if anyone else wants to take over the LLVM update. We are happy to help rotate on the LLVM fixes too.
Overall having a good cadence on LLVM and PyTorch updates is crucial to the continued success of the project so we will help in anyway if there are gaps.

[2022-10-12 16:53] GlebKazantaev commented on #1460
PR to PyTorch: https://github.com/pytorch/pytorch/pull/86692

[2022-10-12 21:00] dellis23 commented on #1471
I was running into a similar issue when trying to return a nested tuple of tensors.  Is there a way we could improve the error messages?  My error was:

[code]

[2022-10-13 01:52] tanyokwok commented on #1486
@ashay Thanks for the contributions to Torch-MLIR you have done. We are glad to help rotation of LLVM and PyTorch updates! cc @silvasean

[2022-10-13 11:17] silvasean opened #1490 "[RFC] Starting an LLVM update rotation"
For months, we have been lucky to have @ashay taking care of the LLVM update, but we need to start sharing the load here as a community. In this issue, I want to propose our new strategy for the LLVM update.

Ashay has clearly documented the process [here](https://github.com/llvm/torch-mlir/blob/main/docs/development.md#updating-the-llvm-and-mlir-hlo-submodules), and has said that he will still ta

[2022-10-13 11:19] silvasean commented on #1490
@powderluv @tanyokwok can you list some github usernames of folks from your teams that would be on the rotation? From my side, we have me (@silvasean) and @ramiro050 who could be on the rotation.

[2022-10-13 11:20] silvasean commented on #1490
Also CC @ZihengJiang @sjarus @erik-k

[2022-10-13 11:21] silvasean commented on #1490
@ashay -- how much time have you been spending on the LLVM update each week in practice? (just to get a feel for the amount of work to expect for folks on the rotation)

[2022-10-13 11:24] silvasean commented on #1471
@dellis23 I think [right here in the code](https://github.com/llvm/torch-mlir/blob/0374a6da4e60dd1596679a6b45f01bfe5591412e/lib/Dialect/Torch/Transforms/AdjustCallingConventions.cpp#L261) we could check the current function signature and raise an error if all args and returns were not tensors or scalars

[2022-10-13 14:19] dellis23 commented on #1471
Yup, I can do that.

[2022-10-13 15:25] dellis23 commented on #1464
I believe I've ironed out the various issues here (see https://github.com/pytorch/functorch/issues/1046 for the resolution).  I found a couple more potential issues I'll file separately.

[2022-10-13 15:25] #1464 closed

[2022-10-13 15:27] dellis23 opened #1491 "Throw better error message when not returning a tensor or tuple of tensors"
See https://github.com/llvm/torch-mlir/issues/1471 for background

[2022-10-13 15:48] dellis23 opened #1492 "Some iteration-related operations fail with a confusing error message"
The following error occurs when I try to do a number of operations involving iteration:

[code]

Here's a script that reproduces various cases that cause the failure, and some that do not:

[code]

It's unclear to me exactly what conditions cause things to break.

I talked to Ramiro about this, and it looks like the following operation is the culprit:

[code]

A few questions:

 * What exactly is

[2022-10-13 20:30] dellis23 opened #1493 "Importing torch-mlir on Python 3.7 immediately crashes"
I've only tested on Colab, which makes my ability to get a readable traceback of the crash difficult.  This is the best I have:

[code]

I've tested on a jupyter notebook on 3.10 on my local machine to try to rule out this being a general problem in our build right now for all versions.

Reproducing should be easy using [this colab notebook](https://github.com/iree-org/iree-torch/blob/main/example

[2022-10-13 21:26] dellis23 commented on #1492
Spoke with Ramiro.  We think we might be able to fold one of these cases down to a simple index to support this behavior.

[2022-10-14 11:41] silvasean commented on #1490
Great! @ashay, I couldn't find a good tool on github to manage rotations like this -- do you know of any?

If not, as a low-tech solution, could you maybe manually keep the list of people on the rotation and tag the appropriate person for the week? (so far that list would be @silvasean @ramiro050 @tanyokwok @qiuxiafei, but let's see if others join in)

[2022-10-14 13:48] dellis23 opened #1495 "Add option to strip overloads to `torch_mlir.compile`"
See https://github.com/iree-org/iree-torch/pull/54#discussion_r995191504 for discussion.  We should be able to have this on by default and allow the user to disable it.

[2022-10-14 14:06] dellis23 opened #1496 "Publishing to PyPI fails on description error"
[code]

I think we can fix this by reading our readme as the long description and setting the type to "text/markdown".

[2022-10-14 17:29] ramiro050 opened #1497 "TOSA implementation of `gelu` is not precise enough for x < -0.5"
If the [input to the e2e test for `gelu`](https://github.com/llvm/torch-mlir/blob/bdb5083d3338b73a9d5c5ce2266c6fd0fe822c31/python/torch_mlir_e2e_test/test_suite/elementwise.py#L409) is changed to use a distribution with values smaller than `-0.5`, the test fails when using the TOSA backend.

[code]

[2022-10-14 17:39] powderluv commented on #1490
We will have @Shukla-Gaurav and @vivekkhandelwal1 from our side for rotation. They can tag someone in our team to join the effort based on how involved it gets.

[2022-10-14 17:45] stellaraccident commented on #1490
I can't commit to doing it regularly but am open to fill in if anyone needs to cancel or handoff. Maybe have a list of backups?

[2022-10-14 17:51] #1486 closed, assigned to nobody

[2022-10-14 18:18] eric-k256 commented on #1490
We can take a week. Put me on the list, I may bring in someone on the team to help.
It would be really nice to have the list visible with presumed dates so I can make a note on my calendar. I'd hate to be on vacation the day I'm tagged and have it delayed/missing.

[2022-10-14 19:41] dellis23 commented on #1445
Alright, I've made a lot of progress on this, but I've hit a snag we'll probably have to discuss together:

[code]

See [here](https://github.com/llvm/torch-mlir/actions/runs/3250589985/jobs/5334464719#step:11:115).  It looks like the file is `216.6 MB`.

[2022-10-17 20:51] dellis23 commented on #1493
This appears to be working now.  Not sure whether our latest builds fixed it or something with the colab environment changed.  Or perhaps it was solar flares.

[2022-10-17 20:51] #1493 closed

[2022-10-18 14:15] silvasean commented on #1492
`tuple_stuff` - expected to fail because it mutates input in-place (actually we are lucky that this fails at compile time -- in principle this program has undefined behavior). We should definitely diagnose this better -- I can't think of a way to do it reliably though.
`tuple_stuff_2` - succeeds on my machine
`tuple_stuff_3` - aten.unbind.int needs to be implemented.
`tuple_stuff_4` - same -- The

[2022-10-18 16:28] ramiro050 commented on #1492
Adding the canonicalization pattern is one form of *implementing the op*, albeit a limited one. I don't think it's necessary to add something like a decomposition/lowering for `aten.unbind.int`. Adding a decomposition/lowering will probably require a lot of changes because of the fact that the op returns a list of tensors.

@silvasean, for reference, the op `aten.unbind.int` splits a tensor along

[2022-10-18 17:38] dellis23 commented on #1491
@silvasean

Re: the case we talked about today, of returning a single-item tuple.  The following error is thrown:

[code]

We talked about putting another check just before the success [here](https://github.com/llvm/torch-mlir/blob/0af55781aede053f32d2b618f0f6d36d875fd908/lib/Dialect/Torch/Transforms/AdjustCallingConventions.cpp#L261).  We never actually reach this line, however.  We end up failin

[2022-10-18 18:41] ramiro050 commented on #1491
I think the issue is this type conversion:

https://github.com/llvm/torch-mlir/blob/0af55781aede053f32d2b618f0f6d36d875fd908/lib/Dialect/Torch/Transforms/AdjustCallingConventions.cpp#L196-L201

It should not succeed if the tuple only has one element in it.

Another point that might be important to look at is:

https://github.com/llvm/torch-mlir/blob/0af55781aede053f32d2b618f0f6d36d875fd908/lib/Dia

[2022-10-18 18:45] ramiro050 commented on #1491
Actually, I think the conversions should simply return the tuple type when the tuple has one element, rather than throwing an error, since there are valid cases where we should have a function returning a single element tuple. For example:

[code]

[2022-10-18 21:06] dellis23 commented on #1492
Alright, this is getting a bit hairy since I think there are a few cases floating around and I'm not sure which generate what.  I attempted to rewrite the unbind / getitem combo [here](https://github.com/llvm/torch-mlir/compare/rewrite-getitem).  This compiles and I even see it doing a rewrite. (Though Ramiro corrected me that I can't just use getitem on the tensor anyway, I need to swap it with `

[2022-10-19 09:10] silvasean commented on #1492
That makes sense to me.

[2022-10-19 09:12] silvasean commented on #1491
Strictly speaking, we need to distinguish between externally-callable functions and private functions. AdjustCallingConventions is only about externally-callable functions, and for those, a single-element tuple is not a valid return type (it will not satisfy the backend contract).

[2022-10-19 09:51] silvasean opened #1506 "[RFC] Introducing a formal ownership process"
As the community has been scaling, we now have various relatively disjoint parts of the project. I have found that often the burden of reviewing certain PR's falls on me as the "default", but often there is someone better in the community. I propose that we adopt a system similar to LLVM's [CODE_OWNERS.TXT](https://github.com/llvm/llvm-project/blob/main/llvm/CODE_OWNERS.TXT) or Clang's [CodeOwners

[2022-10-19 10:49] tanyokwok commented on #1506
@silvasean I'm happy to be the owner or a co-owner of the TorchToMhlo module. cc @ZihengJiang

[2022-10-19 13:46] antoniojkim commented on #1506
I'm happy to be the owner for the LTC module. Can you also add @ke1337 as an owner for this as well?

[2022-10-19 19:54] ramiro050 commented on #1491
Right, that's a good point. I was thinking about the example I mentioned above because of this lit test replacing `!torch.tuple<tensor, tensor>` with `!torch.tuple<tensor>`: https://github.com/llvm/torch-mlir/blob/c97df38e3e39353410b3fd057118caaae26be2d5/test/Dialect/Torch/adjust-calling-conventions.mlir#L95-L99. But yeah, in that test case, because both functions are public, it makes sense that b

[2022-10-19 23:07] eric-k256 commented on #1506
Yes, I'm happy to own the TorchToTOSA piece.

[2022-10-20 00:59] tanyokwok commented on #1506
I couldn't agree more with @ZihengJiang 's proposal!

[2022-10-20 03:00] powderluv commented on #1506
Likewise happy to be responsible for CI / Build system / Packaging.  Thanks to @sjain-stanford @ashay @dellis23 @makslevental and others for their contributions so far.

[2022-10-20 11:50] silvasean commented on #1506
Thanks folks, I pushed a PR to add this: https://github.com/llvm/torch-mlir/pull/1512 PTAL!

[2022-10-20 11:53] silvasean commented on #1491
I suspect what we are doing now "happens to be sound", but yeah, AdjustCallingConventions probably should be explicitly checking public/private in theory.

[2022-10-21 11:53] #1506 closed

[2022-10-22 18:30] powderluv opened #1517 "move tools/e2e_test.sh to a Python script"
Now that we have torch-mlir working /  building on Windows it would be good to get rid of bash-isms and use Python so the tests can be run on Windows / Powershell in the same way.

[2022-10-24 16:05] Svoch opened #1519 "[RFC] Selective Op decomposition: Propagate down backend-legal Ops as Custom Ops"
Hi folks, I'd like to get your feedback on my proposed design of selective decomposition of operations in Torch-MLIR.

I am building mainly on the notion of "backend-legal Ops" (merged in [this PR](https://github.com/llvm/torch-mlir/pull/1242)) and the ideas proposed in the design for the custom Ops support (mentioned in [this RFC](https://github.com/llvm/torch-mlir/issues/1462)).

When an operati

[2022-10-24 21:00] powderluv opened #1522 "RollPyTorch Nightly is failing with LTC tests"
https://github.com/llvm/torch-mlir/actions/runs/3303187529

[2022-10-24 21:14] powderluv commented on #1522
fixed in https://github.com/llvm/torch-mlir/pull/1507

[2022-10-25 02:20] #1522 closed

[2022-10-25 16:48] #1491 closed

[2022-10-25 22:09] eric-k256 commented on #1519
This sounds like a reasonably useful tool to me. This seems generic enough to me to work across multiple backends, assuming that they have some way to wrap the op similar to what tosa.custom allows. So for TOSA I'd say yes, although I'd like to get indications from other backends that this would work for them, so that we can have a consistent experience.

As a side note, I'm working on a change fo

[2022-10-26 00:17] ramiro050 commented on #1519
@Svoch, thanks for presenting on this during the community meeting! I'll mention here the feedback given during the meeting.

The approach mentioned here seems good to me. We definitely want to have a way to specify `backend-custom` ops that can then be fed to a `TorchTo{Tosa/Mhlo/Linalg}Custom` pass that systematically converts each op specified to a custom op.

One thing we need to figure out is

[2022-10-26 16:25] spiegelball commented on #853
I am experiencing this issue in an environment, where two .plugins try to load the same dylibs. The first plugin load successfully, but the second fails with the mentioned errors.

[2022-10-27 20:52] nithinsubbiah opened #1532 "Issue modifying layer weights"
Hi folks, I've been trying to modify the weight tensor values inside a custom pass at the TOSA level and I've been hitting some issues.

The following is the PyTorch model where I registered `modify_weights` as a custom PyTorch op.
[code]

In the TOSA pass for `modify_weights` op, I tried to replace the value of the input (constant) tensor with the new modified value. But the pass (TorchToTOSA) do

[2022-10-27 20:53] nithinsubbiah commented on #1532
cc: @ramiro050

[2022-10-27 23:14] ramiro050 commented on #1532
It's possible that the op is being folded away by PyTorch rather than torch-mlir. Can you try doing

[code]

to see what is being given to torch-mlir?

Also, can you paste the MLIR reproducer file generated during the second error as well as the command to reproduce the issue? It's hard to know what is happening without the full IR.

[2022-10-27 23:40] nithinsubbiah commented on #1532
gives
[code]
Looks like the op is folded away by PyTorch.

For the second method:
When I try to dump the Torch IR I get a legalization error for `torch.aten.linear`:
[code]

[2022-10-28 00:32] ramiro050 commented on #1532
When `torch_mlir.compile` fails, it should create a file in the `/tmp` directory with the MLIR to reproduce the error. You shouldn't need to dump anything. The error message should look like:

[code]

In my case, the `/tmp` file is `/tmp/MyModule.mlir`

[2022-10-28 02:06] nithinsubbiah commented on #1532
I've pasted it here in the gist - https://gist.github.com/nithinsubbiah/bfd466227f5e402448556edefddac911
I've also pinged you on discord with more details.

[2022-10-31 09:12] silvasean commented on #1517
It is already just a wrapper around a Python script: https://github.com/llvm/torch-mlir/blob/0701464c47983b0e72bccf45efc1c46f618a6171/tools/e2e_test.sh#L12

[2022-10-31 09:12] #1517 closed

[2022-10-31 13:41] ashay commented on #1178
Week of 10/31/2022:
Green LLVM commit: `74fb770de9399d7258a8eda974c93610cfde698e`

cc: @tanyokwok

[2022-10-31 22:56] ZihengJiang commented on #683
Hi @silvasean , what's the current status for supporting mutation? We have also met the same problem several times in training scenario.

[2022-11-01 16:03] PhaneeshB opened #1544 "Add torch macos universal whl files to release assets and package-index"
I'm using Apple M2 with MacOS 13 and when trying to install torch-mlir and torch from [package-index](https://llvm.github.io/torch-mlir/package-index/)

Currently we only list `torch..macosx_10_9_x86_64.whl` which pip doesn't pick up as dependency for `torch-mlir..macosx_11_0_universal2.whl`

Can we add the corresponding `torch..macosx_11_0_universal2.whl` file to release assets and package-index

[2022-11-02 10:54] silvasean commented on #683
The backend contract does not support mutation (all tensors have value semantics). This is aligned with the general direction of PyTorch compilers, where mutation generally gets pushed to the boundaries of the program (e.g. by `functionalize`).

When talking about training, we should differentiate between two cases:
1. "live session training" -- this is the common case in a colab/ipynb or similar

[2022-11-02 17:19] ramiro050 commented on #1544
@powderluv, PTAL

[2022-11-02 22:53] powderluv commented on #1544
We have to wait for GHA to update the latest macos. I would like us to get SDK 11 support too but for now we have to probably wait (unless anyone else has a way to generate SDK11 packages on older macOS SDKs).

[2022-11-03 06:11] gpetters94 opened #1550 "[RFC] OPT support"
The same issue from #952 is rearing its ugly head again. In the past I've modified HuggingFace's OPT to return a single value to verify correctness but that doesn't mean running in a real-world scenario. OPT either returns [a dict](https://github.com/huggingface/transformers/blob/eb98da9880e3519ab1319f98f93e21d659bde890/src/transformers/models/opt/modeling_opt.py#L956) or [a tuple of tuples](https

[2022-11-03 09:49] silvasean commented on #1550
Can you give a concrete example where it is difficult to rewrite? It should be purely a matter of wrapping the input/output into a flat tuple of multiple values and not require any modification of the model code itself.

[2022-11-03 10:01] stellaraccident commented on #1550
This is where I really find Jax pytrees to be a really helpful utility that I wish was a more general thing: it's a clean way to linearize/delinearize nests and also reason about the schema so you can interop later. It's basically what makes Jax really nice and usable for these kinds of things.

[2022-11-03 10:15] stellaraccident commented on #1550
Nice - wasn't aware of that.

In the jax aot world, we just always process the function arguments and returns through pytree, only representing flat args/results for compiled functions. It has been a todo on that side to also write the text format schema as function attributes and then leave it to backends to reconstitute a structured API if needed (it often isn't needed -- these things tend to be

[2022-11-03 19:05] gpetters94 commented on #1550
The important use case for OPT is [here](https://github.com/huggingface/transformers/blob/831590f6a9d7782f7f37a46a52f2c46e4fd429ad/src/transformers/generation_utils.py#L3782). HF's generation code in general seems to expect the output to be a dict.

[2022-11-04 10:12] silvasean commented on #1550
You might need two layers of wrappers -- one to linearize for compilation by Torch-MLIR, and then another that repacks it into the dict format. This can be done with pytree quite easily.

[2022-11-04 15:30] dellis23 opened #1556 "`make_functional` and `make_functional_with_buffers` are incompatible with torch-mlir"
For training, we need to use functorch.  When [building a model from scratch functionally](https://github.com/iree-org/iree-torch/blob/main/examples/regression.py), this works fine.

When trying to translate a `nn.Module` via [functorch.make_functional](https://pytorch.org/functorch/stable/generated/functorch.make_functional.html) and [functorch.make_functional_with_buffers](https://pytorch.org/fu

[2022-11-04 15:34] dellis23 opened #1557 "Add support for multiple functions when exporting a model built with functorch"
`torch-mlir` supports exporting multiple functions via `nn.Modules`.  When building a model with functorch (necessary for training), however, we can only export a single function.

[2022-11-04 17:17] ramiro050 commented on #1519
@silvasean, I noticed you commented here https://reviews.llvm.org/D137133 regarding the design of `tosa::CustomOp`. Is the idea to incorporate everything that is not a tensor into the attributes field? Would this work for the case of ints/floats that don't have a constant value at compile time? At the moment the approach taken in https://github.com/llvm/torch-mlir/pull/1514 is to convert scalars t

[2022-11-04 17:58] silvasean commented on #1519
Sometimes ints/floats are optional so for that we won't be able to represent them as operands due to the "None" case. And I think that makes sense since for the other backends we often pattern-match them as constants anyway during lowering.

The important thing here semantically is to consider what is truly a dynamically computed value and what is not, as far as TOSA is concerned. Since TOSA does

[2022-11-05 16:18] sjarus opened #1559 "Build and run failure with GCC on Threadripper"
I came across this unique issue trying to build torch-mlir from source on a Threadripper 5975WX and run the end to end tests (./tools/e2e_test.sh --config refbackend or tosa) -
1. With GCC the e2e_test script hangs interminably.
2. Forcing CMAKE_C/CXX_COMPILER=clang/clang++ in the cmake setup command magically fixes it

Thus:
$ rm -rf build
$  cmake -GNinja -Bbuild   -DCMAKE_BUILD_TYPE=Release   -

[2022-11-05 19:18] stellaraccident commented on #1559
Mind if I make a wild suggestion that is going to seem strange? Make sure that your DISPLAY env variable is cleared and not accessible to the process.

I can't quite see the connection in this case but it sounds like what I see when some kind of is utility tried to help by popping up a box to elevate permissions, etc. I know for example that certain parts of python's package manager do this. Seems

[2022-11-06 14:40] vivekkhandelwal1 opened #1560 "[RFC] Add lowering for `aten.randint.low` and `aten.randn` op"
Hi, I'm working on adding the lowering for [aten.randint.low](https://pytorch.org/docs/stable/generated/torch.randint.html) and [aten.randn](https://pytorch.org/docs/stable/generated/torch.randn.html) op.
1.) The issue with the `aten.randint.low` is that it returns a tensor of random integers generated uniformly, but the current implementation of `AtenUniformOp` generates only floating-point type

[2022-11-07 03:09] Svoch commented on #1519
Thanks for your comments folks,
I have created [this PR](https://github.com/llvm/torch-mlir/pull/1563) to create a PoC to systematically lower backend-legal Torch operations to `tosa.Custom` Ops. I've added the design details and the backend contract in the PR. Here is a copy of the contract:

@eric-k256 regarding your comment on considering the new `config` attribute for the lowering, I have mark

[2022-11-07 03:14] Svoch commented on #1519
BTW, here is an example of performing selective decomposition the module defined below with marking `torch.aten.layer_norm` operation as a backend-legal operation:
[code]
[code]

[2022-11-07 10:51] silvasean commented on #1556
You can use pytree to flatten these: https://github.com/llvm/torch-mlir/issues/1550#issuecomment-1301875179

[2022-11-07 14:06] ashay commented on #1178
Week of 11/07/2022:
Green LLVM commit: `a2620e00ffa232a406de3a1d8634beeda86956fd`

cc: @qiuxiafei

[2022-11-07 14:39] dellis23 commented on #1556
What would the flow be for the user? Wrap the output of `make_function[...]` in a function that does the flattening and then save that?

[2022-11-07 17:00] sjarus commented on #1559
Oh thanks, the DISPLAY envvar is clear - I'm sshing in from iTerm or Vscode here. Also, I wasn't accessing the other machines (other than the M1 pro laptop) any differently.

I tried this interactively as well - on Python 3.8.10 under 20.04 it popped up a Python crash report message when invoking the e2e_test. Of course that only happens with the gcc build, and manually interacting with the popup

[2022-11-08 00:58] ZihengJiang commented on #683
@silvasean Thanks for such a detailed response!

[2022-11-08 09:48] clemente0420 opened #1564 "torch_mlir depends on get_registered_ops.so, but exist circular references issue"
torch_mlir depends on get_registered_ops.so, but exist circular references issue

[2022-11-10 05:54] ramiro050 commented on #1560
1. I think for `aten.randint.low`, you can reuse most of the code for `aten.uniform`. The random numbers are actually generated as integers and then they are scaled to a float range. For `aten.randint.low` all that will change is the scaling performed:

https://github.com/llvm/torch-mlir/blob/2793a2bd417a58e1d5e060406aa094db055b659c/lib/Conversion/TorchToLinalg/Random.cpp#L143-L144

2. A common al

[2022-11-10 10:10] #1557 closed

[2022-11-10 15:33] vivekkhandelwal1 commented on #1560
Hi @ramiro050, I have got the `aten.randint.low` working, thanks for the help. But I have a doubt regarding whether the lowering generated for `AtenUniformOp` can be run on `IREE` or not. Because the lowering also has this `TorchConversion::GetNextSeedOp`. https://github.com/llvm/torch-mlir/blob/2793a2bd417a58e1d5e060406aa094db055b659c/lib/Conversion/TorchToLinalg/Random.cpp#L108
Any thoughts on t

[2022-11-11 01:49] ramiro050 commented on #1560
Yeah, at the moment `GetNextSeedOp` only works with the refbackend. We need to do a similar lowering into `ml_program.global` in order to make it work with IREE.

cc: @silvasean

[2022-11-11 08:46] gpetters94 opened #1573 "[RFC] Implementing default tensor type"
Do we have a plan for how to implement [this?](https://pytorch.org/docs/stable/generated/torch.set_default_tensor_type.html#torch.set_default_tensor_type) Some ops we support (such as `AtenFullOp`) assume that this is set to the default, so that setting it to `torch.HalfTensor` or something like that causes issues in `RefineTypes.cpp`. Do we want to do some checking at compile time for the default

[2022-11-11 11:11] silvasean commented on #1573
We could save it as a module attribute.

[2022-11-11 17:49] JakopinA opened #1577 "[RFC] Implement Support for aten::mul.left_t"
I am working to implement an op called `aten::mul.left_t`, a function that effectively multiplies a list. (e.g. [1,2,3] * 2 = [1,2,3,1,2,3])

Would it be best to implement support for this in the pytorch repo, or in a torch_mlir PR?

[2022-11-11 17:57] ramiro050 commented on #1577
One approach would be to add a `fold` method in torch-mlir for this op. However, more context is needed to see if this is a viable solution. Do you have an MLIR snippet of how this op is being used in BLOOM? Namely, I'm interested in seeing the types of inputs that the op is taking. If the list input is created with `ListConstructOp` and the int argument is created with a `ConstantIntOp`, then the

[2022-11-14 13:57] vivekkhandelwal1 commented on #1560
Any thoughts on this? @silvasean

[2022-11-14 15:01] Abhishek-Varma opened #1582 "AttributeError: 'torch._C.ScriptMethod' object has no attribute '__func__'"
Prior to : [ExampleArgs](https://github.com/llvm/torch-mlir/commit/64914603fa9376468f0f303029b5b3a067c27b83) I was able to compile a model by sending the torchscript graph to the compile API :-

[code]

But it gives the following error now :-
[code]

If I don't pass the torchscript graph and directly pass `fx_g` (as shown above) the error doesn't occur, i.e the following code runs  correctly :-
[c

[2022-11-14 15:08] ashay commented on #1178
Week of 11/14/2022:
Green LLVM commit: `e864ac694540342d5e59f59c525c5082f2594fb8`

cc: @Shukla-Gaurav

[2022-11-14 17:36] silvasean commented on #1582
This is unintended behavior. I will submit a fix when I'm back at my desk.

[2022-11-14 18:41] JakopinA opened #1583 "RuntimeError: method '__torch__.torch.fx.graph_module._lambda.forward' already defined."
Getting this error when trying to run the following script: https://gist.github.com/AmosLewis/df6feb5c9618bd4b5a843c3ce490a2f9

This script was working on [November 9th torch_mlir](https://github.com/AmosLewis/torch-mlir/tree/unsqueezeop). Here is the [comand line print](https://gist.github.com/AmosLewis/1c654721fcf9a974484bef178e8d449d) from that time.

The error comes from `module = torch_mlir.c

[2022-11-15 10:53] silvasean commented on #1583
Can you check if https://github.com/llvm/torch-mlir/pull/1588 fixes this?

[2022-11-15 13:42] JakopinA commented on #1583
__

Tried this, I'm getting a new error:

[code]

[2022-11-15 14:24] silvasean commented on #1583
That looks like a regular PyTorch version error. Can you make sure you are running a consistent set of Torch-MLIR and PyTorch versions?

[2022-11-15 14:39] JakopinA commented on #1583
Yep, I believe that was the issue. The PR fixes the error, thank you!

[2022-11-16 02:21] vivekkhandelwal1 commented on #1560
Hi @ramiro050 @silvasean, I'm blocked on this `GetNextSeedOp`, the lowering for which doesn't exist in IREE. Any help on this would be highly appreciated.

[2022-11-16 05:39] gpetters94 commented on #1573
I think that will work. Only issue I'm seeing with it is that there doesn't seem to be a way to determine the default tensor type in PyTorch's C++ API. I can figure it out in python by just calling `torch.tensor([])` and checking the dtype. Do you think this warrants changing the signature of `ModuleBuilder.import_module` to add an optional arg for passing the value from the python side to the C++

[2022-11-16 06:33] xinqiaozhang opened #1598 "fatal error: 'ATen/native/quantized/cpu/packed_params.h' file not found"
Hi there,

I met an error when installing torch-mlir,  using:

cmake --build build --target tools/torch-mlir/all

Can anyone help me with it?

System: Ubuntu 22.04, installed libtorch-dev

[2022-11-16 14:21] silvasean commented on #1598
You are probably using an older PyTorch version. You can see instructions here: https://github.com/llvm/torch-mlir/blob/main/docs/development.md#setup-your-python-virtualenvironment-and-dependencies

[2022-11-16 14:24] silvasean commented on #1573
there should be the equivalent of `torch.tensor([])` in the PyTorch C++ API.

[2022-11-16 14:29] silvasean commented on #1560
You can implement this with ml_program.global like Ramiro said. You just need to translate the code here to use ml_program.global instead of memref.global: https://github.com/llvm/torch-mlir/blob/a1d3afdba9f3baaa502654c2ab52fb86f358e6ec/lib/RefBackend/RefBackend.cpp#L268

[2022-11-16 15:11] vivekkhandelwal1 opened #1599 "Model lowering crashes during the `RefineTypes` pass"
Hi, I'm working on lowering a model, which fails during the `torchscript-module-to-torch-backend-pipeline` phase. It crashes at this line of code
https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/RefineTypes.cpp#L649
 with the given stack trace:
[code]
Torchscript IR: https://gist.github.com/f5f197ba8927d66182fc585c267e0a03
Command to re-generate the error:
[code]

[2022-11-16 15:19] silvasean commented on #1599
Can you create a minimal input to the RefineTypes pass that reproduces the bug?

[2022-11-16 15:21] vivekkhandelwal1 commented on #1599
TBH I think that might not be possible. Because the op in itself is not resulting in this issue. It's when this particular IR is executed it results in an error.

[2022-11-16 15:26] silvasean commented on #1560
Yes, we would delete that code from RefBackend. One nit is that RefBackend doesn't handle ml_program.global, but it should be very easy to add some code that lowers a limited subset of ml_program.global (such as just i64 globals) to memref.global.

RefBackend should accept the same input contract as IREE and other similar backends.

So the code change would be:
move InsertRngGlobals to lib/Convers

[2022-11-16 15:28] vivekkhandelwal1 commented on #1560
Okay, thanks. I will work on this from tomorrow.

[2022-11-16 15:29] silvasean commented on #1599
The pass crashes. So you just need to get the input to the pass with `-mlir-print-ir-before-all` before it crashes. And then minimize that IR while still triggering the same bug.

[2022-11-16 15:31] vivekkhandelwal1 commented on #1599
Okay, I will try to get as much short as possible IR.

[2022-11-16 18:13] xinqiaozhang commented on #1598
Thanks for your reply. I was following the link you mentioned to install. Python==3.8.0 and PyTorch= 1.14.0.dev20221114+cpu

[2022-11-16 18:47] #1582 closed

[2022-11-16 18:47] #1583 closed

[2022-11-16 18:49] silvasean commented on #1598
Is it possible that you didn't activate your venv before configuring?

[2022-11-16 19:03] xinqiaozhang commented on #1598
No, I was in the anaconda environment On Nov 16, 2022, at 10:49 AM, Sean Silva ***@***.***> wrote:﻿
Is it possible that you didn't activate your venv before configuring?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-11-16 22:18] nithinsubbiah commented on #1532
The following solution worked for me - define the `modify_weights` op as a separate model and call it from the main model.
[code]

 Thanks Ramiro for your help!

[2022-11-16 22:18] #1532 closed

[2022-11-17 00:42] xinqiaozhang commented on #1598
Hi,

I did not use python venv and I use anaconda venv istead. Would it be the reason?

[2022-11-17 13:54] JakopinA opened #1606 "Crash while compiling distilGPT2"
Hi, I'm getting an error while attempting to use torch.compile on the distilGPT2 model from hf. I'm using the following script to compile and run the model: https://gist.github.com/JakopinA/21c61452fce4b046cd58408c673d7117

Here is my crash backtrace:

[code]

[2022-11-17 16:10] silvasean commented on #1599
prims.squeeze is no different than any other op. Just the string namespace is different. We may need to make RefineTypes a bit more robust in the face of non-value tensors, but that is not specific to prims.squeeze. There may be a place in the codebase where we hardcode for `aten` and `prim` but not `prims` yet which needs to be fixed.

The starting point for fixing all this is a minimized reprodu

[2022-11-17 18:29] ramiro050 opened #1608 "Torch-MLIR's RNGs result in highly correlated random tensors"
The current implementation of RNGs in Torch-MLIR creates random tensors that are highly correlated to one another. For example, running the script below that produces two uniform tensors results in the following correlation coefficient matrix for the two tensors:

[code]

In contrast, PyTorch produces the following matrix:

[code]

My suspicion is that because the `getNextSeed` op and the implemen

[2022-11-18 12:19] silvasean opened #1611 "error: 'tensor.cast' op operand type 'tensor<0xi64>' and result type 'tensor<12xi64>' are cast incompatible"
@vid-999 this appears to be a bug in https://github.com/llvm/torch-mlir/pull/1066 PTAL

Reproduce with

[code]

[code]

Full error:

[code]

[2022-11-18 13:21] silvasean opened #1614 "MHLO E2E tests should run as part of CI"
We need to add a `--config=mhlo` line here: https://github.com/llvm/torch-mlir/blob/1d949f3ac27e89232ec376fe2d3b2ea6b5c33674/build_tools/python_deploy/build_linux_packages.sh#L262

When I run the MHLO e2e tests locally, it does not finish successfully. We have XFAIL's, but the compiler crashes (which cannot be caught by our xfail system) and needs to be fixed before enabling in the CI. E.g.:
[code

[2022-11-18 14:32] silvasean opened #1615 "Find a better solution for backends that don't support i64/f64"
Some backends, such as IREE and TOSA (by today's spec) don't support i64 or f64 (or it is very expensive). This bug is to start collecting use cases and motivation to better support reducing bit width for these targets in Torch-MLIR.

The general theme is that PyTorch's semantics are the 64-bit semantics, but sometimes it is "common sense" to want to drop those down to smaller bit widths. E.g. for

[2022-11-18 14:42] silvasean commented on #1615
I've created a PyTorch dev discussion: https://dev-discuss.pytorch.org/t/how-to-approach-targets-that-dont-support-i64-f64/867

[2022-11-20 05:07] xinqiaozhang commented on #1598
I found the reason why,

In my computer, it installed libtorch3-dev instead of libtorch-dev. And cpu/packed_params.h file only exists in libtorch-dev.

It is so strange. I have to reinstall libtorch-dev.

Then I was able to build. But got an error when testing:

`cmake --build build --target check-torch-mlir
[2/3] Running the torch-mlir regression tests
FAIL: TORCH_MLIR :: python/importer/jit_ir/i

[2022-11-20 08:09] xinqiaozhang commented on #1598
The issue has been solved, the reason is that the pytorch 1.14 update packed_params.h file to EmbeddingPackedParams.h

[2022-11-21 04:56] vivekkhandelwal1 opened #1618 "Vision Model tests failing in eager_mode with the latest PyTorch release"
Hi, the three vision model tests namely, `MobilenetV3Module_basic, ResNet18Module_basic, ResNet18StaticModule_basic` are failing in eager_mode execution with the latest PyTorch release https://github.com/llvm/torch-mlir/actions/runs/3508295814/jobs/5876600953. As of now, I'm adding them to the xfail set (https://github.com/llvm/torch-mlir/pull/1617) so that the Roll PyTorch action runs successfull

[2022-11-21 09:02] tanyokwok commented on #1614
The test crashed because we didn't handle a negative input dimension in the AtenSizeIntOp conversion correctly. I will fix it in the PR https://github.com/llvm/torch-mlir/pull/1620

[2022-11-21 13:24] vivekkhandelwal1 commented on #1599
Hi @silvasean, below is the minimal IR that leads to the above crash.
[code]
Command to reproduce the crash: `torch-mlir-opt repro.mlir -torch-refine-types`

[2022-11-21 13:29] vivekkhandelwal1 commented on #1599
If I comment out this line https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/RefineTypes.cpp#L649, then it runs successfully without any failure.

[2022-11-21 13:50] #1614 closed

[2022-11-21 14:00] ashay commented on #1178
Week of 11/21/2022:
Green LLVM commit: `147fe9de29dc13c14835127b35280c4d95c8e8ba`

cc: @vivekkhandelwal1

[2022-11-21 14:01] silvasean commented on #1599
Can you and a PR loosening the assertion to `!inputDType || isBuiltInType(inputDType)`?

I think you can minimize the test case for inclusion in the PR -- use a function argument instead of an op to define %0 or %1

[2022-11-21 14:12] silvasean commented on #1598
Great! Will close the issue now.

[2022-11-21 14:12] #1598 closed

[2022-11-21 14:16] vivekkhandelwal1 commented on #1599
This fixes the current crash. But another crash happens after this one is fixed. And it's here: https://github.com/llvm/torch-mlir/blob/main/lib/Dialect/Torch/Transforms/RefineTypes.cpp#L950. The stack trace is as follows:
[code]
I think the basic issue is that there are `ValueTensors` in the IR without any `Dtype` info, which actually results in these types of crashes. Also, for the earlier crash

[2022-11-21 14:19] silvasean commented on #1599
This should be fixed by Ramiro's new dtype system. If this is really critical to fix then we need to add a bunch of `if` statements in RefineTypes bailing out if the dtype is null. I would prefer putting effort towards migrating to the new system.

[2022-11-21 14:54] vivekkhandelwal1 commented on #1599
Okay, I could wait for that to be merged. Till then I can make a PR with my fixes. Even after this, one question is why's the `shape` and `dtype` info not being transmitted here: `%0 = torch.global_slot.get @_param_constant108 : !torch.tensor`, from here:
[code]
The original cause of this entire issue and the issues down the pipeline is this. Do you have any ideas or suggestions on this? @silvasea

[2022-11-21 18:34] harishanand95 commented on #1406
Thanks for the fix! @powderluv

[2022-11-21 18:34] #1406 closed

[2022-11-21 19:54] makslevental commented on #1618
What is the failure mode? How do I repro?

[2022-11-22 01:06] byronyi commented on #663
Should be fixed with input mutation work in https://github.com/pytorch/pytorch/pull/88817. See https://github.com/pytorch/pytorch/issues/88375#issuecomment-1322608691 for an example.

[2022-11-22 01:15] #1618 closed

[2022-11-22 03:16] ramiro050 commented on #1608
I have implemented in Python the RNG algorithm used in torch-mlir to make it easier to see what's happening and experiment (this led to catching the bug fixed in https://github.com/llvm/torch-mlir/pull/1625, which improves correlation from 0.97 to 0.5).

I've tried playing around with different `MULTIPLIER` values, but that has not led to any significant improvements.

The main limitation with the

[2022-11-22 05:04] vivekkhandelwal1 opened #1626 "MeanDim Tests causing a crash for MHLO"
Hi, after the merging of this PR: https://github.com/llvm/torch-mlir/pull/1605, the MeanDim tests are causing a crash, with the following stack trace:
[code]

[2022-11-22 09:32] YellowHCH opened #1627 "err: AtenBroadcastToOp to TOSA"
[src](https://github.com/llvm/torch-mlir/blob/main/lib/Conversion/TorchToTosa/TorchToTosa.cpp#L2990)

Judgment conditions are not sufficient while lowering AtenBroadcastToOp to TOSA.
For example: once `AtenBroadcastToOp` 's reslut is used by torch op like `AtenEmbeddingOp`, the shape would not match.

[2022-11-22 13:09] silvasean commented on #1608
I started a discussion here: https://discourse.llvm.org/t/centralized-place-for-smart-fast-correct-enough-parallel-computation-stuff/66744

[2022-11-22 15:20] silvasean commented on #1626
https://github.com/llvm/torch-mlir/pull/1605 should have included an appropriate xfail. We should revert it or fix this forward.

You will need to use ``crashing_tests_to_not_attempt_to_run_and_a_bug_is_filed` since it is a crash (we cannot xfail it) https://github.com/llvm/torch-mlir/blob/68f568b7041dd216a0d34901fcee7375e57840c6/e2e_testing/main.py#L65

[2022-11-23 05:55] tanyokwok commented on #1626
I found it's because the input and output types of aten::sum mismatch. I will fix it in https://github.com/llvm/torch-mlir/pull/1634

[2022-11-23 06:22] vivekkhandelwal1 commented on #1626
Thanks @tanyokwok!

[2022-11-23 06:45] vivekkhandelwal1 opened #1635 "Handle `aten.view` op cases with `-1` as the shape value"
After, the replacement of `kDynamicSize` from `-1` -> `std::numeric_limit<int64_t>::min()`, in LLVM, some of the view op tests are not working. Specifically the ones with the value `-1` as an element of the output shape list. These cases need to be handled because if the `-1` is replaced with the `std::numeric_limit<int64_t>::min()` in the tests it throws a PyTorch error. And if we keep it as `-1`

[2022-11-23 06:46] vivekkhandelwal1 commented on #1635
@JakopinA

[2022-11-23 07:02] #1626 closed

[2022-11-23 09:47] #1599 closed

[2022-11-23 09:51] silvasean commented on #1635
Hey Vivek, is this something you could dig into? I don't think any of these changes to -1 require that much specific knowledge of the code in question. It should be mostly a matter of looking for uses of kDynamicSize or places where we copy "our sizes" into "mlir sizes" and inserting a conversion.

[2022-11-23 11:26] vivekkhandelwal1 commented on #1635
I might be able to take a look at this probably by the end of this week or early next week. I don't have cycles to look into this immediately. Past and this week have already been utilized mostly in dealing with the bugs and llvm bump.

[2022-11-23 11:56] silvasean commented on #1635
This is part of the LLVM bump though, right?

[2022-11-24 11:09] vivekkhandelwal1 opened #1640 "Bazel build fails in the CI"
Hi, the Bazel build is failing with the following error: https://github.com/llvm/torch-mlir/actions/runs/3538490506/jobs/5939381866, after the llvm-bump.

[2022-11-25 14:13] vivekkhandelwal1 commented on #1560
Hi @silvasean, I'm working on this, I have added the `TorchConversionToMLProgramPass`. But while adding the `LowerMLProgramGlobalToMemRefGlobalPass`, I'm facing some issues. My question is before the conversion of `ml_program` ops to `memref` ops, bufferization has to be done for the `ml_program` ops. Does there exists any pass which does this and we need to add that in the `refbackend,py` or this

[2022-11-25 14:34] vivekkhandelwal1 commented on #1560
Also, where should be this pass `LowerMLProgramGlobalToMemRefGlobalPass` placed in the pipeline?

[2022-11-25 16:25] silvasean commented on #1560
I think you can have the LowerMLProgramGlobalToMemRefGlobalPass just be called mlprogram-bufferize and be part of the regular bufferization pipeline (for tensor-valued ml_program.global's).

[2022-11-28 04:41] #1640 closed

[2022-11-28 16:33] ashay commented on #1178
Week of 11/28/2022:
Green LLVM commit: `2c1fa734598c9470139720565fbf624a5156ec03`

cc: @eric-k256

[2022-11-28 22:52] ZihengJiang opened #1652 "NativeBatchNorm failed in training mode"
Hi, an error occurred when I am trying to lower a training module with BatchNorm:

[code]

Usually it means there is no support for such op in Torch IR level, but I did see the definition of NativeBatchNorm here: https://github.com/llvm/torch-mlir/blob/main/include/torch-mlir/Dialect/Torch/IR/GeneratedTorchOps.td#L4196

So what is wrong here?

[2022-11-30 01:51] zhping5678 opened #1660 "add_library cannot create imported target "MKL::MKL" because another target with the same name already exists."
When I execute " cmake -GNinja -Bbuild -DCMAKE_BUILD_TYPE=Release -DPython3_FIND_VIRTUALENV=ONLY -DLLVM_ENABLE_PROJECTS=mlir -DLLVM_EXTERNAL_PROJECTS="torch-mlir;torch-mlir-dialects" -DLLVM_EXTERNAL_TORCH_MLIR_SOURCE_DIR="$PWD" -DLLVM_EXTERNAL_TORCH_MLIR_DIALECTS_SOURCE_DIR="$PWD"/externals/llvm-external-projects/torch-mlir-dialects -DMLIR_ENABLE_BINDINGS_PYTHON=ON -DLLVM_TARGETS_TO_BUILD=host -DC

[2022-11-30 03:19] #1495 closed

[2022-11-30 18:14] vivekkhandelwal1 opened #1664 "Torchdynamo tests fails with the llvm bump"
 Hi, I'm working on the llvm-bump, I have added a patch (https://github.com/llvm/torch-mlir/pull/1654) that fixes all the issues except one. The issue is that the following 7 e2e tests are failing for the torchdynamo:
[code]
The error is as follows:
[code]
The failure is same for all the 7 tests.

[2022-11-30 18:18] powderluv commented on #1664
should we try with `torch._dynamo.config.verbose=True`

[2022-11-30 18:35] powderluv commented on #1660
This is an issue with upstream Torch's CMake trying to include MKL.  You can hand edit the installed TorchConfig.Cmake (will look like https://github.com/pytorch/pytorch/blob/b7c42b4066e3a77b2e15517bee57de5d71ee0f8a/cmake/TorchConfig.cmake.in#L119) and in your path it is in `~/anaconda3/envs/iree/lib/python3.9/site-packages/torch/share/cmake/Torch/TorchConfig.cmake:68`   or you can remove MKL for